<!-- Cabecero panel principal -->
<header id="main-header" class="pb-2 bg-info text-white main-board-style">
  <div class="container">
    <div class="row pt-2">
      <div class="col-md-9" [@fadeAnimation]>
        <h1><i class="fas fa-home"></i> Panel principal</h1>
      </div>
      <div class="d-flex justify-content-center justify-content-md-end col-md-3 text-center" [@fadeAnimation]>
        <input
          type="search"
          id="search"
          [(ngModel)]="searchTerm"
          (input)="filterProducts()"
          class="form-control shadow no-submit mt-1"
          placeholder="Ingresa tu búsqueda aquí..."
          [autocomplete]="false"
          [spellcheck]="false"
        />
      </div>
    </div>
  </div>
</header>

<!-- Tiles de menú -->
<div class="container text-center high final-div" [@fadeAnimation]>
  <!-- Cinta superior de tarjetas -->
  <div class="row">
    <div class="col-md-4">
      <div class="card card-height border shadow mt-4 bg-custom customShadow">
        <!-- Primer tarjeta, carrusel de productos -->
        <div
          *ngIf="
            filteredProducts && filteredProducts.length > 0;
            else noMatchesMessage
          "
          class="container"
        >
          <div
            id="carouselExampleControls"
            class="carousel slide"
            data-ride="carousel"
            data-interval="5000"
            #carousel
          >
            <div class="carousel-inner" style="height: 130px">
              <div
                *ngFor="let product of filteredProducts; let i = index"
                class="carousel-item pt-2"
                [class.active]="i === 0"
              >
                <div class="row" style="font-size: 0.5rem;">
                  <div
                    class="col-7 text-left"
                    style="align-items: center; margin: auto 0"
                  >
                    <h4
                      class=""
                      style="
                        font-size: 1.3rem;
                        text-shadow: 2px 2px 2px darkgray;
                      "
                    >
                      <span class="product-card">{{ product.name }}</span>
                    </h4>
                  </div>
                  <div class="col-5">
                    <h5
                      class="text-right mr-1"
                      style="
                        font-size: 1.3rem;
                        text-shadow: 2px 2px 2px darkgray;
                      "
                    >
                      <span class="product-card">Precio:</span>
                    </h5>
                    <p
                      class="text-right mr-1"
                      style="
                        font-size: 1.5rem;
                        font-weight: bold;
                        color: rgb(235, 11, 11);
                        text-shadow: 2px 2px 2px darkgray;
                      "
                    >
                      <span class="product-card">
                        {{
                          product.sale_price | currency : "CRC" : "₡" : "1.0-0"
                        }}
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="carousel-control align-items-center justify-content-center"
            >
              <button
                class="carousel-control-prev"
                type="button"
                data-target="#carouselExampleControls"
                data-slide="prev"
              >
                <a
                  class="text-decoration-none clic-on-image"
                  data-target="#carouselExampleControls"
                  role="button"
                  data-slide="prev"
                >
                  <span aria-hidden="true">Ant.</span>
                </a>
              </button>
              <div class="add-button-container">
                <a
                  (click)="openSaleModal()"
                  type="button"
                  role="button"
                  class="btn roundButton my-clic clic-on-image hidden-link my-clic text-decoration-none"
                >
                  <i class="fas fa-shopping-cart"></i>
                </a>
              </div>
              <button
                class="carousel-control-next"
                type="button"
                data-target="#carouselExampleControls"
                data-slide="next"
              >
                <a
                  class="text-decoration-none clic-on-image"
                  data-target="#carouselExampleControls"
                  role="button"
                  data-slide="next"
                >
                  <span aria-hidden="true">Sig.</span>
                </a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Segunda tarjeta, Mis Ventas -->
    <div class="col-md-4">
      <div
        class="card card-height border shadow p-1 bg-custom customShadow mt-4"
      >
        <h4>Mis ventas</h4>
        <div>
          <a routerLink="/shopping-cart">
            <img
              src="assets/cashier-machine.png"
              alt="Ventas"
              class="front-panel-image custom-image-shadow clic-on-main-image"
            />
          </a>
        </div>
      </div>
    </div>
    <!-- Tercera tarjeta, Mis Compras -->
    <div class="col-md-4">
      <div
        class="card card-height border shadow p-1 bg-custom customShadow mt-4"
      >
        <h4>Mis compras</h4>
        <div>
          <a routerLink="/purchase-history">
            <img
              src="assets/seller.png"
              alt="Compras"
              class="front-panel-image custom-image-shadow clic-on-main-image"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Cinta inferior de tarjetas -->
  <div class="row">
    <!-- Cuarta tarjeta, reloj y configuraciones -->
    <div class="col-md-4">
      <div class="mt-4 d-none d-md-block">
        <app-digital-watch
          class="card-height"
          style="background-color: transparent; width: 100%; height: 100%"
        ></app-digital-watch>
      </div>
    </div>
    <!-- Quinta tarjeta, logo y reportes -->
    <div class="col-md-8 d-none d-md-block">
      <div class="mt-4 card-height">
        <a routerLink="/reports">
          <img
            src="assets/verduleria-sol.webp"
            alt=""
            class="card card-height border shadow customShadow clic-on-image"
            style="
              border-radius: 10px;
              width: 100%;
              height: 100%;
              cursor: pointer;
            "
          />
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <!-- Contenido de la tercera columna de la segunda fila -->
    </div>
  </div>
</div>

<!-- Resultado no coincidente búsqueda de productos -->
<ng-template #noMatchesMessage>
  <div class="text-center mt-4">
    <h4 class="strong" style="text-shadow: 2px 2px 2px darkgray">
      No hay coincidencias, intente de nuevo por favor.
    </h4>
  </div>
</ng-template>
