<!-- Barra de navegación principal -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0" [@fadeAnimation] style="z-index: 2;">
  <div class="d-flex justify-content-between w-100">
    <a routerLink="/home" class="navbar-brand ms-4">Verdulería Sol</a>
    <button
      class="navbar-toggler collapsed mr-1"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      title="collapse-button"
    >
      <span class="navbar-toggler-icon"></span>
      <span></span>
      <span></span>
    </button>
    <div class="collapse navbar-collapse bg-dark top-50" id="navbarCollapse">
      <div class="me-auto">
        <ul *ngIf="isLoggedIn$ | async" class="navbar-nav">
          <li class="nav-item px-2">
            <a
              routerLink="/home"
              class="nav-link"
              routerLinkActive="router-link-active"
              >Inicio</a
            >
          </li>
          <li class="nav-item px-2">
            <a
              routerLink="/product-list"
              class="nav-link"
              routerLinkActive="router-link-active"
              >Productos</a
            >
          </li>
          <li class="nav-item px-2">
            <a
              routerLink="/reports"
              class="nav-link"
              routerLinkActive="router-link-active"
              >Reportes</a
            >
          </li>
        </ul>
      </div>
      <div ngbDropdown class="dropdown ms-1 me-4">
        <a
          role="button"
          class="btn btn-primary dropdown-toggle mb-2 text-white"
          data-bs-toggle="collapse"
          data-bs-target="#useroptions"
          *ngIf="isLoggedIn$ | async"
          ngbDropdownToggle
        >
          <i class="fas fa-user-check text-white"></i> Bienvenido {{ user }}
        </a>
        <div id="useroptions" ngbDropdownMenu class="dropdown-menu dropdown-menu-right bg-dark">
          <ul class="list-unstyled">
            <li>
              <a class="dropdown-item" style="cursor: pointer" (click)="openChangePasswordModal()">
                <i class="fa-solid fa-pen-to-square"></i>&nbsp;Cambiar contraseña
              </a>
            </li>
            <li>
              <a routerLink="/options" class="dropdown-item">
                <i class="fa-solid fa-cog"></i>&nbsp;Opciones
              </a>
            </li>
            <li>
              <a
                *ngIf="getUserRole() === 'administrator'"
                class="dropdown-item"
                (click)="createBackup()"
                style="cursor: pointer"
              >
                <i class="fa-solid fa-database"></i>&nbsp;Respaldar BD
              </a>
            </li>
            <li class="dropdown-divider"></li>
            <li>
              <a
                style="cursor: pointer"
                class="dropdown-item"
                (click)="onLogout()"
                data-bs-toggle="collapse"
                data-bs-target="#useroptions"
                *ngIf="isLoggedIn$ | async"
              >
                <i class="fas fa-door-open"></i>&nbsp;Salir
              </a>
            </li>
          </ul>
        </div>
      </div>
      
      <ul class="navbar-nav me-4" *ngIf="!(isLoggedIn$ | async)">
        <!-- Componente Login -->
        <li class="nav-item px-2">
          <a
            routerLink="/login"
            class="nav-link"
            routerLinkActive="router-link-active"
            ><i class="fas fa-user"></i> Ingreso</a
          >
        </li>

        <!-- Registro usuarios -->
        <li
          *ngIf="!(isLoggedIn$ | async) && (allowRegisterUsers$ | async)"
          class="nav-item"
        >
          <a
            routerLink="/register"
            class="nav-link px-2"
            routerLinkActive="router-link-active"
            ><i class="fas fa-users"></i> Registrarse</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>


<!-- Modal para cambio de contraseña -->
<div
  class="modal fade"
  id="changePasswordModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="changePasswordModalLabel"
  aria-hidden="true"
  #changePasswordModal
>
  <div class="d-flex align-content-center justify-content-center">
    <div
      class="modal-dialog modal-dialog-centered"
      style="width: fit-content"
      role="document"
    >
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <div class="modal-content modal-shadow">
          <div class="modal-header border">
            <h5 class="modal-title" id="changePasswordModalLabel">
              <i class="fas fa-user-secret"></i>&nbsp;Cambio de Contraseña
            </h5>
            <button
              type="button"
              class="close clic-on-icon"
              aria-label="Close"
              (click)="closeChangePasswordModal()"
              title="close-button"
            >
              <span><i class="fas fa-close"></i></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group" style="margin-top: 10px">
              <label
                for="currentPassword"
                class="floating-label"
                [class.active]="
                  currentPasswordTouched ||
                  passwordForm.get('currentPassword').value
                "
                >Contraseña actual:</label
              >
              <input
                type="password"
                id="currentPassword"
                class="form-control shadow"
                formControlName="currentPassword"
                (focus)="currentPasswordTouched = true"
                (blur)="currentPasswordTouched = false"
                autocomplete="false"
              />
              <div
                *ngIf="
                  passwordForm.get('currentPassword').invalid &&
                  (passwordForm.get('currentPassword').dirty ||
                    passwordForm.get('currentPassword').touched)
                "
              >
                <div
                  *ngIf="
                    passwordForm.get('currentPassword').hasError('required')
                  "
                  class="error-message"
                >
                  Contraseña actual es requerida.
                </div>
              </div>
            </div>
            <div class="form-group" style="margin-top: 35px">
              <label
                for="newPassword"
                class="floating-label"
                [class.active]="
                  newPasswordTouched || passwordForm.get('newPassword').value
                "
                >Nueva contraseña:</label
              >
              <input
                type="password"
                id="newPassword"
                class="form-control shadow"
                formControlName="newPassword"
                (focus)="newPasswordTouched = true"
                (blur)="newPasswordTouched = false"
                autocomplete="false"
              />
              <div
                *ngIf="
                  passwordForm.get('newPassword').invalid &&
                  (passwordForm.get('newPassword').dirty ||
                    passwordForm.get('newPassword').touched)
                "
              >
                <div
                  *ngIf="passwordForm.get('newPassword').hasError('required')"
                  class="error-message"
                >
                  Nueva contraseña es requerida.
                </div>
              </div>
            </div>
            <div class="form-group" style="margin-top: 35px">
              <label
                for="confirmPassword"
                class="floating-label"
                [class.active]="
                  confirmPasswordTouched ||
                  passwordForm.get('confirmPassword').value
                "
                >Confirmar contraseña:</label
              >
              <input
                type="password"
                id="confirmPassword"
                class="form-control shadow"
                formControlName="confirmPassword"
                (focus)="confirmPasswordTouched = true"
                (blur)="confirmPasswordTouched = false"
              />
              <div
                *ngIf="
                  passwordForm.get('confirmPassword').invalid &&
                  (passwordForm.get('confirmPassword').dirty ||
                    passwordForm.get('confirmPassword').touched)
                "
              >
                <div
                  *ngIf="
                    passwordForm.get('confirmPassword').hasError('required')
                  "
                  class="error-message"
                >
                  Confirmar contraseña es requerida.
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="submit"
              class="btn btn-primary shadow clic-on-image"
              [disabled]="passwordForm.invalid"
            >
              Guardar
            </button>
            <button
              type="button"
              class="btn btn-secondary shadow clic-on-image"
              (click)="closeChangePasswordModal()"
            >
              Cerrar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
