.card-header,
.card-body {
  padding: 0.5rem 0.7rem !important;
}

/* Animación de despliegue suave */
@keyframes slide-down {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}

/* Animación de cierre suave */
@keyframes slide-up {
  from {
    transform: scaleY(1);
    opacity: 1;
  }
  to {
    transform: scaleY(0);
    opacity: 0;
  }
}

/* Aplica la animación a los elementos con la clase 'slide-down' */
.slide-down {
  animation: slide-down 0.3s ease;
  transform-origin: top;
  overflow: hidden;
}

/* Aplica la animación de cierre a los elementos con la clase 'slide-up' */
.slide-up {
  animation: slide-up 0.3s ease;
  transform-origin: top;
  overflow: hidden;
}

p {
  line-height: 1;
  margin-bottom: 10px;
}
