<!-- Encabezado de componente Mis ventas -->
<header id="main-header" class="pb-2 bg-info text-white main-board-style">
  <div class="container">
    <div class="row pt-2">
      <div class="col-md-8" [@fadeAnimation]>
        <h1><i class="fas fa-shop"></i> Mis ventas</h1>
      </div>
      <div class="col-md-4 d-none d-md-block" style="visibility: hidden">
        <input
          type="search"
          id="search"
          name="search"
          class="form-control"
          placeholder="Ingresa tu búsqueda aquí..."
          autocomplete="off"
          readonly
        />
      </div>
    </div>
  </div>
</header>

<!-- Opciones de Mis ventas -->
<div class="container final-div justify-content-center" [@fadeAnimation]>
  <div class="row justify-content-center">
    <div class="col-md-6 d-flex justify-content-center mb-3">
      <div
        class="card card-height col-md-8 custom-main-card shadow clic-on-image"
      >
        <div class="d-flex">
          <a class="text-decoration-none" (click)="openSaleModal()">
            <div class="card-body">
              <h5 class="card-title">Crear venta</h5>
              <img
                src="assets/shoppingcart.gif"
                alt=""
                class="svg"
                style="transform: scaleX(-1)"
              />
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center mb-3">
      <div
        class="card card-height col-md-8 custom-main-card shadow clic-on-image"
      >
        <div class="d-flex">
          <a class="text-decoration-none" (click)="openSaleHistoryModal()">
            <div class="card-body">
              <h5 class="card-title">Mi historial</h5>
              <img src="assets/list.gif" alt="" class="svg" />
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 d-flex justify-content-center">
      <div
        class="card card-height col-md-8 custom-main-card shadow clic-on-image"
      >
        <div class="d-flex">
          <a routerLink="/product-list" class="text-decoration-none">
            <div class="card-body">
              <h5 class="card-title">Mis productos</h5>
              <img src="assets/book.gif" alt="" class="svg" />
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <div
        class="card card-height col-md-8 custom-main-card shadow clic-on-image"
      >
        <div class="d-flex">
          <a routerLink="/reports" class="text-decoration-none">
            <div class="card-body">
              <h5 class="card-title">Mis reportes</h5>
              <img src="assets/reports.gif" alt="" class="svg" />
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal para crear ventas -->
<div
  class="modal fade"
  id="newSaleModal"
  #newSaleModal
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-shadow" role="document">
    <div class="modal-content">
      <form [formGroup]="saleForm" (ngSubmit)="createSale($event)">
        <div class="modal-header border">
          <h5 class="modal-title">
            <i class="fas fa-edit"></i>&nbsp;Registro de ventas
          </h5>
          <div>
            <button
              type="button"
              class="close clic-on-icon"
              aria-label="Close"
              (click)="closeSaleModal()"
            >
              <span aria-hidden="true">
                <i class="fas fa-close"></i>
              </span>
            </button>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <div class="form-group form-row">
                <div class="col">
                  <label for="customer_name">Cliente:</label>
                  <input
                    type="search"
                    role="combobox"
                    id="customer_name"
                    list="customerOptions"
                    formControlName="customer_name"
                    class="form-control datalist-no-arrow"
                    autocomplete="off"
                    [spellcheck]="false"
                    style="cursor: text"
                    placeholder="Seleccione cliente..."
                    [ngClass]="{
                    'is-valid':
                      saleForm.get('customer_name').touched &&
                      saleForm.get('customer_name').valid,
                    'is-invalid':
                      saleForm.get('customer_name').touched &&
                      saleForm.get('customer_name').invalid,
                    'italic-text': !saleForm.get('customer_name').value,
                  }"
                  />
                  <div
                    class="suggestion-list shadow bg-white position-fixed mt-1"
                  >
                    <datalist
                      id="customerOptions"
                      role="searchbox"
                      class="form-select"
                    >
                      <option
                        *ngFor="let customer of customersList"
                        [value]="formatOption(customer)"
                      >
                        {{ formattedCustomerNames[customer.customer_name] }}
                      </option>
                    </datalist>
                  </div>
                </div>
              </div>
              <div class="form-group form-row">
                <div class="col">
                  <label for="paymentMethod">Método de pago:</label>
                  <input
                    id="paymentMethod"
                    type="search"
                    list="payment_options"
                    formControlName="paymentMethod"
                    class="form-control datalist-no-arrow"
                    autocomplete="off"
                    placeholder="Forma de pago"
                    style="cursor: pointer"
                    [ngClass]="{
                      'is-valid':
                        saleForm.get('paymentMethod').valid,
                      'is-invalid':
                        saleForm.get('paymentMethod').touched &&
                        saleForm.get('paymentMethod').invalid,
                    }"
                  />
                  <datalist
                    id="payment_options"
                    style="width: 200px !important"
                  >
                    <option value="contado"></option>
                    <option value="crédito"></option>
                    <option value="sinpe"></option>
                    <option value="tarjeta"></option>
                    <option value="transferencia"></option>
                  </datalist>
                </div>

                <div class="col">
                  <label for="date">Fecha:</label>
                  <input
                    type="text"
                    id="date"
                    formControlName="date"
                    class="form-control"
                    autocomplete="off"
                    [ngClass]="{
                      'is-valid': saleForm.get('date').value,
                      'is-invalid': !saleForm.get('date').value
                    }"
                    readonly
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="product_name">Producto:</label>
                <input
                  type="search"
                  id="product_name"
                  formControlName="product_name"
                  class="form-control datalist-no-arrow"
                  autocomplete="off"
                  [spellcheck]="false"
                  style="cursor: text"
                  placeholder="Seleccione producto..."
                  [ngClass]="{
                    'is-valid':
                      saleForm.get('product_name').touched &&
                      saleForm.get('product_name').valid,
                    'is-invalid':
                      saleForm.get('product_name').touched &&
                      saleForm.get('product_name').invalid
                  }"
                  (input)="searchProduct()"
                  (focus)="handleBarcodeInput($event)"
                  #nameInput
                  (keydown)="handleKeyDown($event)"
                  capture="environment"
                  accept="image/*"
                />
                <div class="d-none">
                  <button (click)="toggleCamera()">Abrir Cámara</button>
                  <!-- Mostrar el video de la cámara -->
                  <video
                    #video
                    autoplay
                    [hidden]="!isScanning"
                    [style.width.px]="300"
                  ></video>
                </div>
                <div
                  class="suggestion-list position-fixed"
                  [style.width.px]="nameInput.offsetWidth"
                >
                  <ul
                    id="suggestionOptions"
                    class="list-unstyled"
                    style="margin: 0; padding: 0 1px"
                  >
                    <li
                      *ngFor="
                        let suggestion of productSuggestionList;
                        let i = index
                      "
                    >
                      <a
                        href="#"
                        class="dropdown-item italic-text"
                        (click)="handleSuggestionClick($event, suggestion)"
                        [class.selected]="selectedIndex === i"
                        tabindex="0"
                      >
                        {{ suggestion.name }}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="form-group form-row">
                <div class="col">
                  <label for="product_quantity">Cantidad:</label>
                  <input
                    type="number"
                    id="product_quantity"
                    formControlName="product_quantity"
                    class="form-control text-right quantity-input"
                    autocomplete="off"
                    value="1"
                    step="1"
                    [ngClass]="{
                      'is-valid': isValidQuantity(),
                      'is-invalid': !isValidQuantity()
                    }"
                  />
                </div>
                <div class="col">
                  <label for="product_price">Precio:</label>
                  <!-- <label for="product_taxes" class="form-check-label ml-5">
                    <input
                      type="checkbox"
                      id="product_taxes"
                      class="form-check-input shadow"
                      formControlName="product_taxes"
                      [checked]="selectedProductTaxes"
                      readonly
                    />
                    {{ selectedProductTaxes ? "Gravado" : "Exento" }}
                  </label> -->
                  <input
                    type="number"
                    id="price"
                    formControlName="product_price"
                    class="form-control text-right"
                    [ngClass]="{
                      'is-valid':
                        saleForm.get('product_price').touched &&
                        saleForm.get('product_price').valid,
                      'is-invalid':
                        saleForm.get('product_price').touched &&
                        saleForm.get('product_price').invalid
                    }"
                    autocomplete="off"
                    readonly
                  />
                </div>
              </div>
              <div class="d-flex justify-content-center">
                <button
                  type="button"
                  class="btn btn-primary shadow clic-on-image mb-3"
                  (click)="addProduct(selectedProduct)"
                  [disabled]="saleForm.get('product_name').value === ''"
                >
                  Agregar
                </button>
              </div>
            </div>
            <div class="col-md-6">
              <div class="table-container">
                <h6 class="h6 mb-1 text-center">Lista de productos</h6>
                <table
                  class="table table-responsive-lg table-hover"
                  style="table-layout: fixed"
                >
                  <thead>
                    <tr class="custom-row">
                      <th
                        class="text-left product-detail-list-title"
                        style="width: 120px"
                      >
                        Producto
                      </th>
                      <th
                        class="text-right product-detail-list-title"
                        style="width: 50px"
                      >
                        Cant.
                      </th>
                      <th
                        class="text-right product-detail-list-title"
                        style="width: 60px"
                      >
                        Precio
                      </th>
                      <th
                        class="text-right product-detail-list-title"
                        style="width: 60px"
                      >
                        Total
                      </th>
                      <th style="width: 30px"></th>
                    </tr>
                  </thead>
                  <tbody [class.d-none]="productList.length === 0">
                    <tr
                      class="custom-row"
                      *ngFor="let product of productList; let even = even"
                      [ngClass]="{
                        'table-row-even': even,
                        'table-row-odd': !even,
                        'animated-row': product.isNew || product.isRemoved
                      }"
                      [@slideInOut]="product.isNew ? 'in' : 'out'"
                      [@slideOut]="product.isRemoved ? 'out' : 'in'"
                      (@slideInOut.done)="product.isNew = true"
                      (@slideInOut.done)="product.isRemoved = false"
                    >
                      <td
                        class="text-left product-detail-table-content"
                        style="width: 130px"
                      >
                        {{ product.name }}
                      </td>
                      <td
                        class="text-right product-detail-table-content"
                        style="width: 50px"
                      >
                        <input
                          class="custom-input text-right"
                          type="number"
                          [value]="product.quantity"
                          (input)="updateProduct(product, $event)"
                          min="1"
                          step="1"
                          [max]="permisibleStock"
                        />
                      </td>
                      <td
                        class="text-right product-detail-table-content"
                        style="width: 70px"
                      >
                        {{ product.sale_price | currency : "CRC" : "₡" }}
                      </td>
                      <td
                        class="text-right product-detail-table-content"
                        style="width: 70px"
                      >
                        {{
                          product.sub_total + product.taxes_amount
                            | currency : "CRC" : "₡"
                        }}
                      </td>
                      <td style="width: 50px; padding-top: 2px">
                        <a
                          type="button"
                          class="clic-on-icon shadow text-center"
                          (click)="removeProduct(product)"
                        >
                          <i
                            class="fa-solid fa-trash"
                            style="
                              color: #fa0000;
                              cursor: pointer;
                              font-size: 10px;
                            "
                          ></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="mt-2">
            <div class="row total-box">
              <div class="col flex-column align-items-center">
                <h6 class="total-box-titles">Sub Total</h6>
                <p class="total-invoice">
                  {{ subTotalSaleAmount | currency : "CRC" : "₡" }}
                </p>
              </div>
              <div class="col flex-column align-items-center">
                <h6 class="total-box-titles">Impuestos</h6>
                <p class="total-invoice">
                  {{ totalTaxesAmount | currency : "CRC" : "₡" }}
                </p>
              </div>
              <div class="col flex-column align-items-center">
                <h6
                  class="total-box-titles"
                  style="padding-right: 0 !important"
                >
                  Total
                </h6>
                <p class="total-invoice">
                  {{ totalSaleAmount | currency : "CRC" : "₡" : "1.2-2" }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button
            type="button"
            (click)="clearSaleFormData()"
            class="btn btn-danger border border-danger clic-on-image"
          >
            Reset
          </button>
          <div class="justify-content-center">
            <button
              type="button"
              class="btn btn-primary mr-2 shadow clic-on-image"
              (click)="createSale($event)"
            >
              Guardar
            </button>
            <button
              type="button"
              class="btn btn-secondary shadow clic-on-image"
              (click)="closeSaleModal()"
            >
              Cerrar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal para consultar las ventas -->
<div
  class="modal fade"
  id="saleHistoryModal"
  #saleHistoryModal
  tabindex="-1"
  role="dialog"
  aria-labelledby="saleHistoryModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content modal-shadow">
      <div class="modal-header border">
        <h5 class="modal-title">
          <i class="fas fa-history"></i>&nbsp;Historial de ventas
        </h5>
        <button
          type="button"
          class="close clic-on-icon"
          aria-label="Close"
          (click)="closeSaleHistoryModal()"
        >
          <span aria-hidden="true"><i class="fas fa-close"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form class="">
          <div class="row d-flex justify-content-center">
            <div class="form-group sticky-top" style="max-width: 170px">
              <label for="sale-date">Seleccione la fecha:</label>
              <input
                type="date"
                name="sale-date"
                class="form-control input-group-text shadow mb-1"
                [(ngModel)]="selectedDate"
                (ngModelChange)="filterSalesByDate()"
                ngbDatepicker
                #datepicker="ngbDatepicker"
                [max]="getCurrentDateString()"
              />
            </div>
          </div>
        </form>
        <div class="container">
          <!-- Aquí se muestra la lista de ventas -->
          <div *ngFor="let sale of sales" class="card custom-card shadow mb-3">
            <div class="sale-summary">
              <div class="card-header d-flex justify-content-start">
                <div
                  class="align-items-start"
                  style="height: 30px; width: 30px"
                >
                  <a
                    role="button"
                    class="ml-2"
                    (click)="toggleSaleDetails(sale)"
                    style="cursor: pointer"
                  >
                    <i
                      class="clic-on-icon"
                      [ngClass]="
                        sale.showDetails
                          ? 'fa fa-light fa-circle-arrow-up text-danger'
                          : 'fas fa-light fa-circle-arrow-down text-success'
                      "
                    ></i>
                  </a>
                </div>
                <div class="d-block">
                  <h6
                    class="sale-id"
                    [ngClass]="{ 'text-danger': sale.status === 'anulada' }"
                  >
                    Fact. {{ sale.doc_number }}
                  </h6>
                  <p class="doc-number">{{ sale.createdAt }}</p>
                </div>
              </div>
            </div>
            <div class="card-body mt-2" style="font-size: 0.8em">
              <div
                *ngIf="sale.showDetails"
                [ngClass]="{
                  'sale-details': true,
                  'slide-down': sale.showDetails,
                  'slide-up': !sale.showDetails
                }"
              >
                <div class="row">
                  <div class="col-8">
                    <p>
                      Estado:
                      <span
                        [ngStyle]="{
                          color: sale.status === 'aceptado' ? 'green' : 'red'
                        }"
                        >&nbsp;{{ sale.status }}</span
                      >
                    </p>
                  </div>
                  <div class="col-4">
                    <p class="text-right">
                      Sub Total:
                      {{ sale.sub_total | currency : "CRC" : "₡" : "1.2-2" }}
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-8">
                    <p>Cliente:</p>
                    <p>{{ sale.customer_name }}</p>
                  </div>
                  <div class="col-4">
                    <p class="text-right">
                      IVA:
                      {{ sale.taxes_amount | currency : "CRC" : "₡" : "1.2-2" }}
                    </p>
                    <p class="text-right">
                      <strong
                        >Total:
                        <span class="">
                          {{
                            sale.total | currency : "CRC" : "₡" : "1.2-2"
                          }}</span
                        ></strong
                      >
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-8">
                    <p>Fecha de creación:</p>
                    <p>{{ sale.createdAt | date }}</p>
                  </div>
                  <div class="col-4"></div>
                </div>
                <table class="table">
                  <thead>
                    <tr class="custom-row">
                      <th class="text-left d-none d-md-table-cell">Cód.</th>
                      <th class="text-left">Producto</th>
                      <th class="text-right">Cant.</th>
                      <th class="text-right">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let item of sale.saleItems; let even = even"
                      class="custom-row"
                    >
                      <td class="text-left d-none d-md-table-cell">
                        {{ item.int_code }}
                      </td>
                      <td class="text-left">{{ item.name }}</td>
                      <td class="text-right">
                        {{ item.quantity | number : "1.2-2" }}
                      </td>
                      <td class="text-right">
                        {{ item.total | currency : "CRC" : "₡" : "1.2-2" }}
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="card-footer" *ngIf="sale.status === 'aceptado'">
                  <div class="mb-2">
                    <button
                      *ngIf="
                        sale.status === 'aceptado' &&
                        isCurrentDate(sale.createdAt)
                      "
                      class="btn btn-danger clic-on-image mr-2"
                      (click)="cancelSale(sale); toggleSaleDetails(sale)"
                    >
                      Anular
                    </button>
                    <button
                      *ngIf="sale.status === 'aceptado'"
                      class="btn btn-primary clic-on-image"
                      (click)="generateTicket(sale.doc_number)"
                    >
                      Reimprimir
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer mt-3">
        <button
          type="button"
          class="btn btn-secondary border border-secondary clic-on-image"
          (click)="closeSaleHistoryModal()"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
