<!-- Encabezado de componente Mis ventas -->
<header id="main-header" class="py-2 bg-info text-white main-board-style">
  <div class="container">
    <div class="row">
      <div class="col-md-8" [@fadeAnimation]>
        <h1><i class="fas fa-cog"></i> Mis ventas</h1>
      </div>
    </div>
  </div>
</header>

<!-- Barra de búsqueda de productos -->
<div class="container pt-2 d-none d-md-block">
  <label for="search">Buscar producto:</label>
  <input
    type="text"
    id="search"
    name="search"
    class="form-control"
    placeholder="Ingresa tu búsqueda aquí..."
    autocomplete="off"
    disabled
  />
</div>

<!-- Opciones de Mis ventas -->
<div class="container justify-content-center" [@fadeAnimation]>
  <div class="row justify-content-center">
    <div class="col-md-6 d-flex justify-content-center">
      <div
        class="card shadow card-height border col-md-8 mt-4 customShadow bg-custom clic-on-image"
      >
        <div class="card-body">
          <div class="d-flex">
            <a
              class="text-decoration-none"
              (click)="openSaleModal()"
              data-toggle="modal"
              data-target="#newSaleModal"
            >
              <h5 class="card-title">Crear venta</h5>
              <img
                src="../../../assets/shoppingcart.gif"
                alt=""
                class="svg"
                style="transform: scaleX(-1)"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <div
        class="card shadow card-height border col-md-8 mt-4 customShadow bg-custom clic-on-image"
      >
        <div class="d-flex">
          <a
            class="text-decoration-none"
            data-toggle="modal"
            data-target="#saleHistoryModal"
            (click)="getSalesHistory(getCurrentDate())"
          >
            <div class="card-body">
              <h5 class="card-title">Mi historial</h5>
              <img src="../../../assets/list.gif" alt="" class="svg" />
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 d-flex justify-content-center">
      <div
        class="card shadow card-height col-md-8 border customShadow mt-4 bg-custom clic-on-image"
      >
        <div>
          <a routerLink="/product-list" class="text-decoration-none">
            <div class="card-body">
              <h5 class="card-title">Mis productos</h5>
              <img src="../../../assets/book.gif" alt="" class="svg" />
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <div
        class="card shadow card-height col-md-8 border customShadow mt-4 bg-custom clic-on-image"
      >
        <div class="d-flex">
          <a routerLink="/reports" class="text-decoration-none">
            <div class="card-body">
              <h5 class="card-title">Mis reportes</h5>
              <img src="../../../assets/reports.gif" alt="" class="svg" />
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal para crear ventas -->
<div
  class="modal fade"
  id="newSaleModal"
  #newSaleModal
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg shadow" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Registro de ventas</h5>
        <button
          type="button"
          class="close overflow-visible clic-on-image"
          data-dismiss="modal"
          aria-label="Close"
          style="position: absolute; right: 20px; top: 20px"
          (click)="closeSaleModal()"
        >
          <span aria-hidden="true">
            <i
              class="fa-sharp fa-solid fa-circle-xmark"
              style="color: #f40b0b"
            ></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="customer_name">Cliente:</label>
              <input
                type="text"
                id="customer_name"
                name="customer_name"
                [(ngModel)]="customer_name"
                class="form-control"
                (keyup)="searchCustomers()"
                autocomplete="off"
                [ngClass]="{
                  'is-valid': customer_name && selectedCustomer,
                  'is-invalid': customer_name && !selectedCustomer
                }"
              />
              <div *ngIf="selectedCustomer"></div>
              <div
                class="suggestions"
                *ngIf="customer_name && customerSuggestionList.length > 0"
              >
                <ul class="list-inline">
                  <li *ngFor="let customer of customerSuggestionList">
                    <a
                      class="text-decoration-none"
                      href=""
                      (click)="selectCustomerSuggestion(customer, $event)"
                    >
                      {{ customer.customer_name }}
                      {{ customer.customer_first_lastname }}
                      {{ customer.customer_second_lastname }}</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="form-group form-row">
              <div class="col">
                <label for="paymentMethod">Método de pago:</label>
                <select
                  id="paymentMethod"
                  name="paymentMethod"
                  [(ngModel)]="paymentMethod"
                  class="form-control"
                  autocomplete="off"
                  style="padding: 0 10px 0 10px"
                >
                  <option value="contado">Contado</option>
                  <option value="crédito">Crédito</option>
                  <option value="sinpe">Sinpe</option>
                  <option value="tarjeta">Tarjeta</option>
                  <option value="transferencia">Transferencia</option>
                </select>
              </div>

              <div class="col">
                <label for="date">Fecha:</label>
                <input
                  type="text"
                  id="date"
                  name="date"
                  [(ngModel)]="date"
                  class="form-control"
                  autocomplete="off"
                  disabled="true"
                />
              </div>
            </div>
            <div class="form-group">
              <label for="name">Nombre del producto:</label>
              <input
                type="text"
                id="name"
                name="name"
                [(ngModel)]="name"
                class="form-control"
                (keyup)="searchProduct()"
                (keydown.enter)="addProduct()"
                (input)="handleBarcodeInput($event)"
                autocomplete="off"
                placeholder="Seleccione producto..."
                [ngClass]="{
                  'is-valid': name && isProductValid,
                  'is-invalid': name && !isProductValid
                }"
                #nameInput
              />
              <div
                class="suggestions"
                *ngIf="name && productSuggestionList.length > 0"
              >
                <ul class="list-inline">
                  <li *ngFor="let suggestion of productSuggestionList">
                    <a
                      class="text-decoration-none"
                      href=""
                      (click)="selectSuggestion(suggestion, $event)"
                    >
                      {{ suggestion.name }} -
                      {{ suggestion.sale_price | currency : "CRC" : "₡" }}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="form-group form-row">
              <div class="col">
                <label for="quantity">Cantidad:</label>
                <input
                  type="number"
                  id="quantity"
                  name="quantity"
                  [(ngModel)]="quantity"
                  class="form-control text-right quantity-input"
                  autocomplete="off"
                  [value]="1"
                  step="0.01"
                  [ngClass]="{
                    'is-valid': isValidQuantity(),
                    'is-invalid': !isValidQuantity()
                  }"
                />
              </div>
              <div class="col">
                <label for="price">Precio:</label>
                <label for="taxes" class="form-check-label ml-5">
                  <input
                    type="checkbox"
                    id="taxes"
                    class="form-check-input shadow"
                    [(ngModel)]="selectedProductTaxes"
                    [checked]="selectedProductTaxes"
                    disabled
                  />
                  {{ selectedProductTaxes ? "Gravado" : "Exento" }}
                </label>
                <input
                  type="number"
                  id="price"
                  name="price"
                  [(ngModel)]="price"
                  class="form-control text-right"
                  [value]="selectedProductPrice"
                  autocomplete="off"
                  disabled="true"
                />
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <button
                type="button"
                class="btn btn-primary shadow clic-on-image mb-3"
                (click)="addProduct()"
              >
                Agregar producto
              </button>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="table-container"
              style="
                max-height: 400px;
                overflow-y: visible;
                overflow-x: hidden;
                margin-top: -17px;
              "
            >
              <table class="table" style="table-layout: fixed">
                <thead>
                  <tr>
                    <th
                      class="text-left product-detail-list-title"
                      style="width: 120px;"
                    >
                      Producto
                    </th>
                    <th
                      class="text-right product-detail-list-title"
                      style="width: 50px"
                    >
                      Cant.
                    </th>
                    <th
                      class="text-right product-detail-list-title"
                      style="width: 60px"
                    >
                      Precio
                    </th>
                    <th
                      class="text-right product-detail-list-title"
                      style="width: 60px"
                    >
                      Total
                    </th>
                    <th style="width: 50px"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let product of productList; let even = even"
                    [ngClass]="{
                      'table-row-even': even,
                      'table-row-odd': !even
                    }"
                  >
                    <td
                      class="text-left product-detail-table-content"
                      style="width: 120px"
                    >
                      {{ product.name }}
                    </td>
                    <td
                      class="text-right product-detail-table-content"
                      style="width: 50px"
                    >
                      <input
                        class="custom-input text-right product-detail-table-content"
                        style="width: 30px; padding: 0 !important"
                        type="number"
                        [(ngModel)]="product.quantity"
                        (change)="updateProduct(product)"
                        min="1"
                        step="0.01"
                      />
                    </td>
                    <td
                      class="text-right product-detail-table-content"
                      style="width: 70px"
                    >
                      {{
                        (product.sub_total + product.taxes_amount) /
                          product.quantity | currency : "CRC" : "₡"
                      }}
                    </td>
                    <td
                      class="text-right product-detail-table-content"
                      style="width: 70px"
                    >
                      {{
                        product.sub_total + product.taxes_amount
                          | currency : "CRC" : "₡"
                      }}
                    </td>
                    <td style="width: 50px; padding-top: 2px">
                      <button
                        type="button"
                        class="clic-on-image"
                        (click)="removeProduct(product)"
                      >
                        <i
                          class="fa-solid fa-trash clic-on-icon"
                          style="
                            color: #fa0000;
                            cursor: pointer;
                            font-size: 10px;
                          "
                        ></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class=" mt-2">
          <div class=" row total-box">
            <div class="col flex-column align-items-center">
              <h6 class="text-center total-box-titles">SubTotal</h6>
              <p class="text-center total-invoice">
                {{ subTotalSaleAmount | currency : "CRC" : "₡" }}
              </p>
            </div>
            <div class="col flex-column align-items-center">
              <h6 class="text-center total-box-titles">I.V.A.</h6>
              <p class="text-center total-invoice">
                {{ totalTaxesAmount | currency : "CRC" : "₡" }}
              </p>
            </div>
            <div class="col flex-column align-items-center">
              <h6
                class="text-center total-box-titles"
                style="padding-right: 0 !important"
              >
                Total
              </h6>
              <p class="text-center total-invoice">
                {{ totalSaleAmount | currency : "CRC" : "₡" : "1.2-2" }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary shadow clic-on-image"
          (click)="createSale($event)"
          data-dismiss="modal"
        >
          Guardar venta
        </button>
        <button
          type="button"
          class="btn btn-secondary shadow clic-on-image"
          data-dismiss="modal"
          (click)="closeSaleModal()"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para consultar las ventas -->
<div
  class="modal fade"
  id="saleHistoryModal"
  #saleHistoryModal
  tabindex="-1"
  role="dialog"
  aria-labelledby="saleHistoryModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable shadow" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Historial de ventas</h5>
        <button
          type="button"
          class="close overflow-visible clic-on-image"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeSaleHistoryModal()"
        >
          <span aria-hidden="true"
            ><i class="fa fa-times-circle" style="color: #f40b0b"></i
          ></span>
        </button>
      </div>
      <div class="modal-body">
        <div
          class="input-group d-flex justify-content-center mx-auto"
          style="max-width: 160px"
        >
          <input
            type="date"
            class="form-control input-group-text"
            [(ngModel)]="selectedDate"
            (ngModelChange)="filterSalesByDate()"
            ngbDatepicker
            #datepicker="ngbDatepicker"
            style="width: 160px"
            [max]="getCurrentDateString()"
          />
        </div>

        <div class="modal-body">
          <!-- Aquí se muestra la lista de ventas -->
          <div *ngFor="let sale of sales" class="sale-card">
            <span
              class="fa-toggle-left"
              (click)="toggleSaleDetails(sale)"
              style="cursor: pointer"
            >
              {{ sale.showDetails ? " &nbsp;-" : "+" }}
            </span>
            <div class="sale-summary" (click)="toggleSaleDetails(sale)">
              <h6
                class="sale-id"
                [ngClass]="{ 'text-danger': sale.status === 'anulada' }"
              >
                Fact. {{ sale.doc_number }}
              </h6>
              <p class="doc-number">{{ sale.createdAt }}</p>
            </div>
            <div *ngIf="sale.showDetails" class="sale-details">
              <p>Estado: {{ sale.status }}</p>
              <p>Cliente: {{ sale.customer_name }}</p>
              <p>Fecha de creación: {{ sale.createdAt | date }}</p>
              <p class="text-right">
                Sub Total:
                {{ sale.sub_total | currency : "CRC" : "₡" : "1.2-2" }}
              </p>
              <p class="text-right">
                IVA: {{ sale.taxes_amount | currency : "CRC" : "₡" : "1.2-2" }}
              </p>
              <p class="text-right">
                <b
                  >Total: {{ sale.total | currency : "CRC" : "₡" : "1.2-2" }}</b
                >
              </p>
              <button
                *ngIf="sale.status === 'aceptado'"
                class="btn btn-primary mr-2 clic-on-image"
                (click)="generateTicket(sale.doc_number)"
              >
                Reimprimir
              </button>
              <button
                *ngIf="
                  sale.status === 'aceptado' && isCurrentDate(sale.createdAt)
                "
                class="btn btn-danger clic-on-image"
                (click)="cancelSale(sale.doc_number); toggleSaleDetails(sale)"
              >
                Anular
              </button>
              <table class="table">
                <thead>
                  <th class="text-left">Cód.</th>
                  <th class="text-left">Producto</th>
                  <th class="text-right">Cant.</th>
                  <th class="text-right">Total</th>
                </thead>
                <tbody>
                  <tr *ngFor="let item of sale.saleItems">
                    <td class="text-left">{{ item.int_code }}</td>
                    <td class="text-left">{{ item.name }}</td>
                    <td class="text-right">
                      {{ item.quantity | number : "1.2-2" }}
                    </td>
                    <td class="text-right">
                      {{ item.total | currency : "CRC" : "₡" : "1.2-2" }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary clic-on-image"
            data-dismiss="modal"
            (click)="closeSaleHistoryModal()"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
