.container .list-unstyled li {
    margin-top: 20px;
    margin-left: 30px;
}

.container .list-unstyled a, .container .list-unstyled i {
    text-decoration: none;
    color: rgb(151, 149, 149);
    font-size: 1.1rem;
    letter-spacing: 2px;
}

.container .list-unstyled a:hover::after {
    transform: scaleX(0.85);
}

.container .list-unstyled i {
    font-size: 18px;
}

.aside-collapsed {
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease;
  }
  
  .aside-expanded {
    width: 20%; /* Ancho del aside cuando está visible */
    transition: width 0.3s ease;
  }
  
  .main-full {
    width: 100%;
    transition: width 0.3s ease;
  }
  
  .main-reduced {
    width: 80%; /* Ajuste según el ancho del aside */
    transition: width 0.3s ease;
  }
  
  /* Configuración general */
/* body, html {
  height: 100%;
  margin: 0;
} */

.container-layout {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ocupa toda la altura de la ventana */
}


.aside-expanded ~ main {
  margin-left: 250px; /* Espacio cuando aside está expandido */
}


  