/* Contenedor principal */
.grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Fila para el header, main+aside y footer */
    grid-template-columns: 20% 80%; /* Ancho del aside y main */
    grid-template-areas: 
      "header header"
      "aside main"
      "footer footer";
    min-height: 100vh; /* Para que ocupe la altura completa de la ventana */
  }
  
  header {
    grid-area: header;
    width: 100%;
  }
  
  aside {
    grid-area: aside;
  }
  
  main {
    grid-area: main;
  }
  
  footer {
    grid-area: footer;
    width: 100%;
  }
  /* ASIDE */

.container .list-unstyled li {
  margin-top: 20px;
  margin-left: 30px;
}

.container .list-unstyled a, .container .list-unstyled i {
  text-decoration: none;
  font-size: 1.1rem;
  letter-spacing: 2px;
  text-decoration: none;
  transition: all 0.2s ease;
}

.container .list-unstyled a:hover, .container .list-unstyled i:hover {
  transform: scaleX(0.85);
  color: blue !important;
  font-weight: bold;
}

.container .list-unstyled i {
  font-size: 18px;
}

.aside-collapsed {
  width: 0;
  overflow: hidden;
  transition: width 0.3s ease;
}

.aside-expanded {
  width: 20%; /* Ancho del aside cuando está visible */
  transition: width 0.3s ease;
}

.main-expanded {
  width: 100%;
  transition: width 0.3s ease;
}

.main-collapsed {
  width: 80%; /* Ajuste según el ancho del aside */
  transition: width 0.3s ease;
}
