<!-- Encabezado de componente Mis compras -->
<header id="main-header" class="py-2 bg-info text-white main-board-style">
  <div class="container">
    <div class="row">
      <div class="col-md-8" [@fadeAnimation]>
        <h1><i class="fas fa-cog"></i> Mis compras</h1>
      </div>
    </div>
  </div>
</header>

<!-- Barra de búsqueda de productos -->
<div class="container pt-2 d-none d-md-block">
  <label for="search">Buscar producto:</label>
  <input
    type="text"
    id="search"
    name="search"
    class="form-control shadow"
    placeholder="Ingresa tu búsqueda aquí..."
    autocomplete="off"
  />
</div>

<!-- Opciones de Mis compras -->
<div class="container justify-content-center" [@fadeAnimation]>
  <div class="row justify-content-center">
    <div class="col-md-6 d-flex justify-content-center">
      <div
        class="card shadow card-height border col-md-8 mt-4 customShadow bg-custom clic-on-image"
      >
        <a
          data-toggle="modal"
          data-target="#newPurchaseModal"
          class="text-decoration-none"
        >
          <div class="card-body">
            <h5 class="card-title">Crear compra</h5>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <div
        class="card shadow card-height border col-md-8 mt-4 customShadow bg-custom clic-on-image"
      >
        <a
          data-toggle="modal"
          data-target="#purchaseHistoryModal"
          (click)="getPurchasesHistory(getCurrentDate())"
          class="text-decoration-none"
        >
          <div class="card-body">
            <h5 class="card-title">Mi historial</h5>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 d-flex justify-content-center">
      <div
        class="card shadow card-height border col-md-8 mt-4 customShadow bg-custom clic-on-image"
      >
        <a routerLink="/product-list" class="text-decoration-none">
          <div class="card-body">
            <h5 class="card-title">Mis productos</h5>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <div
        class="card shadow card-height border col-md-8 mt-4 customShadow bg-custom clic-on-image"
      >
        <a routerLink="/reports" class="text-decoration-none">
          <div class="card-body">
            <h5 class="card-title">Mis reportes</h5>
            <!-- Contenido para la opción "Mis reportes" -->
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Modal para crear compras -->
<form [formGroup]="purchaseForm">
  <div
    class="modal fade"
    id="newPurchaseModal"
    #newPurchaseModal
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content shadow">
        <div class="modal-header">
          <h5 class="modal-title">Registro de compras</h5>
          <button
            type="button"
            class="close overflow-visible clic-on-image"
            data-dismiss="modal"
            aria-label="Close"
            (click)="closePurchaseModal()"
          >
            <span aria-hidden="true">
              <i
                class="fa-sharp fa-solid fa-circle-xmark"
                style="color: #f40b0b"
              ></i>
            </span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="provider_name">Proveedor:</label>
            <input
              type="text"
              id="provider_name"
              formControlName="provider_name"
              class="form-control shadow"
              (input)="searchProviders()"
              autocomplete="off"
              [ngClass]="{
                'is-valid':
                  purchaseForm.get('provider_name').touched &&
                  purchaseForm.get('provider_name').valid,
                'is-invalid':
                  purchaseForm.get('provider_name').touched &&
                  purchaseForm.get('provider_name').invalid
              }"
            />
            <div class="suggestions" *ngIf="providerSuggestionList.length > 0">
              <ul class="list-inline">
                <li *ngFor="let provider of providerSuggestionList">
                  <a
                    class="text-decoration-none"
                    href=""
                    (click)="selectProviderSuggestion(provider, $event)"
                  >
                    {{ provider.provider_name }}
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="form-group form-row">
            <div class="col">
              <label for="doc_number">Documento:</label>
              <input
                type="text"
                id="doc_number"
                formControlName="doc_number"
                class="form-control shadow"
                autocomplete="off"
                required="required"
                [ngClass]="{
                  'is-valid':
                    purchaseForm.get('doc_number').touched &&
                    purchaseForm.get('doc_number').valid,
                  'is-invalid':
                    purchaseForm.get('doc_number').touched &&
                    purchaseForm.get('doc_number').invalid
                }"
              />
            </div>
            <div class="col">
              <label for="paymentMethod">Método de pago:</label>
              <select
                id="paymentMethod"
                formControlName="paymentMethod"
                class="form-control shadow"
                style="padding-top: 5px"
              >
                <option value="contado" selected>Contado</option>
                <option value="credito">Crédito</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="product_name">Nombre del producto:</label>
            <input
              type="text"
              id="product_name"
              formControlName="product_name"
              class="form-control shadow"
              (input)="searchProducts()"
              autocomplete="off"
              placeholder="Seleccione producto..."
              [ngClass]="{
                'is-valid': purchaseForm.get('product_name').touched && purchaseForm.get('product_name').valid,
                'is-invalid': purchaseForm.get('product_name').touched && purchaseForm.get('product_name').invalid
              }"
              [value]="selectedProduct ? selectedProduct.name : ''"
            />
          
            <div class="suggestions" *ngIf="productSuggestionList.length > 0 && purchaseForm.get('product_name').value">
              <ul class="list-inline">
                <li *ngFor="let product of productSuggestionList">
                  <a
                    class="text-decoration-none"
                    href=""
                    (click)="selectProductSuggestion(product, $event)"
                  >
                    {{ product.name }} - {{ product.purchase_price }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group form-row">
            <div class="col">
              <label for="product_price">Precio anterior:</label>
              <label for="" class="form-check-label ml-5">
                <input
                  type="checkbox"
                  class="form-check-input shadow text-right"
                  formControlName="selectedProductTaxes"
                  [checked]="selectedProductTaxes"
                />
                {{ selectedProductTaxes ? "Gravado" : "Exento" }}
              </label>
              <input
                type="number"
                id="product_price"
                formControlName="product_price"
                class="form-control shadow text-right"
                [value]="selectedProductPrice"
                autocomplete="off"
                readonly
              />
            </div>
            <div class="col">
              <label for="product_quantity">Cantidad:</label>
              <input
                type="number"
                id="product_quantity"
                formControlName="product_quantity"
                class="form-control shadow text-right"
                autocomplete="off"
                step="0.01"
                [ngClass]="{
                  'is-valid': purchaseForm.get('product_quantity').touched && purchaseForm.get('product_quantity').valid,
                  'is-invalid': purchaseForm.get('product_quantity').touched && purchaseForm.get('product_quantity').invalid
                }"
                #productQuantityInput
              />
            </div>
          </div>
          
          <div class="form-group form-row">
            <div class="col">
              <label for="product_new_price">Precio actual:</label>
              <input
                type="number"
                id="product_new_price"
                formControlName="product_new_price"
                class="form-control shadow text-right"
                autocomplete="off"
                step="0.01"
                [ngClass]="{
                  'is-valid':
                    purchaseForm.get('product_new_price').touched &&
                    purchaseForm.get('product_quantity').valid,
                  'is-invalid':
                    purchaseForm.get('product_new_price').touched &&
                    purchaseForm.get('product_new_price').invalid
                }"
              />
            </div>
            <div class="col"></div>
          </div>

          <div class="d-flex justify-content-center">
            <button
              type="button"
              class="btn btn-primary shadow clic-on-image"
              (click)="addProduct()"
            >
              Agregar producto
            </button>
          </div>
          <hr />

          <div class="d-flex justify-content-between row">
            <div class="col flex-column align-items-center">
              <h6 class="text-right">Sub Total</h6>
              <p class="text-right">
                {{ subTotalPurchaseAmount | currency : "CRC" : "₡" }}
              </p>
            </div>
            <div class="col flex-column align-items-center">
              <h6 class="text-right">IVA</h6>
              <p class="text-right">
                {{ totalTaxesAmount | currency : "CRC" : "₡" }}
              </p>
            </div>
            <div class="col flex-column align-items-center">
              <h6 class="text-right">Total</h6>
              <p class="text-right">
                {{ totalPurchaseAmount | currency : "CRC" : "₡" }}
              </p>
            </div>
          </div>
          <table class="table">
            <thead class="product-detail-table-titles">
              <tr>
                <th class="text-left" scope="col" style="width: 30%;">Producto</th>
                <th class="text-right" scope="col" style="width: 10%;">Cant.</th>
                <th class="text-right" scope="col" style="width: 25%;">Precio</th>
                <th class="text-right" scope="col" style="width: 25%;">Total</th>
                <th scope="col" style="width: 10%;"></th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let product of productList"
                [ngClass]="{ 'taxes-row': !product.taxes }"
                class="product-detail-list-item"
              >
                <td class="text-left">{{ product.name }}</td>
                <td class="text-right">
                  {{ product.quantity | number : "1.2-2" }}
                </td>
                <td class="text-right">
                  {{
                    product.price + product.taxes_amount
                      | currency : "CRC" : "₡"
                  }}
                </td>
                <td class="text-right">
                  {{
                    product.quantity * (product.price + product.taxes_amount)
                      | currency : "CRC" : "₡"
                  }}
                </td>
                <td class="text-center">
                  <button
                    type="button"
                    class="clic-on-image"
                    (click)="removeProduct(product)"
                    data-dismiss="modal"
                  >
                    <i
                      class="fa-solid fa-trash clic-on-icon"
                      style="color: #fa0000; cursor: pointer"
                    ></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <hr />
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary shadow clic-on-image"
            (click)="createPurchase()"
          >
            Guardar
          </button>
          <button
            type="button"
            class="btn btn-secondary clic-on-image"
            data-dismiss="modal"
            (click)="closePurchaseModal()"
            data-dismiss="modal"
          >
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- Modal para consultar las compras -->
<div
  class="modal fade"
  id="purchaseHistoryModal"
  #purchaseHistoryModal
  tabindex="-1"
  role="dialog"
  aria-labelledby="purchaseHistoryModal"
  aria-hidden="true"
>
  <div class="modal-dialog shadow modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Historial de compras</h5>
        <button
          type="button"
          class="close overflow-visible clic-on-image"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closePurchaseHistoryModal()"
        >
          <span aria-hidden="true"
            ><i class="fa fa-times-circle" style="color: #f40b0b"></i
          ></span>
        </button>
      </div>
      <div class="modal-body">
        <div
          class="input-group d-flex justify-content-center mx-auto"
          style="max-width: 160px"
        >
          <input
            type="date"
            class="form-control input-group-text shadow"
            [(ngModel)]="selectedDate"
            (ngModelChange)="filterPurchasesByDate()"
            ngbDatepicker
            #datepicker="ngbDatepicker"
            style="width: 160px"
          />
        </div>

        <div class="modal-body">
          <!-- Aquí se muestra la lista de compras -->
          <div *ngFor="let purchase of purchases" class="sale-card">
            <span
              class="fa-toggle-left"
              (click)="togglePurchaseDetails(purchase)"
              style="cursor: pointer"
            >
              {{ purchase.showDetails ? " &nbsp;-" : "+" }}
            </span>
            <div class="sale-summary" (click)="togglePurchaseDetails(purchase)">
              <h6
                class="sale-id"
                [ngClass]="{ 'text-danger': purchase.status === 'anulada' }"
              >
                Fact. {{ purchase.doc_number }}
              </h6>
              <p class="doc-number">{{ purchase.createdAt }}</p>
              <!-- Agrega aquí otros campos resumidos que desees mostrar -->
              <!-- Utiliza algún icono o flecha para indicar que se puede expandir/colapsar -->
            </div>
            <div *ngIf="purchase.showDetails" class="sale-details">
              <p>Estado: {{ purchase.status }}</p>
              <p>Cliente: {{ purchase.provider_name }}</p>
              <p>Fecha de creación: {{ purchase.createdAt | date }}</p>
              <p class="text-right">
                Sub Total:
                {{ purchase.sub_total | currency : "CRC" : "₡" : "1.2-2" }}
              </p>
              <p class="text-right">
                IVA:
                {{ purchase.taxes_amount | currency : "CRC" : "₡" : "1.2-2" }}
              </p>
              <p class="text-right">
                <b
                  >Total:
                  {{ purchase.total | currency : "CRC" : "₡" : "1.2-2" }}</b
                >
              </p>
              <button
                *ngIf="purchase.status === 'aceptado'"
                class="btn btn-danger shadow clic-on-image"
                (click)="cancelPurchase(purchase.doc_number)"
              >
                Anular
              </button>
              <table class="table">
                <thead>
                  <th>Cód.</th>
                  <th>Producto</th>
                  <th>Cant.</th>
                  <th>Precio</th>
                </thead>
                <tbody>
                  <tr *ngFor="let item of purchase.purchaseItems">
                    <td>{{ item.int_code }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>
                      {{
                        item.purchase_price | currency : "CRC" : "₡" : "1.2-2"
                      }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary shadow clic-on-image"
            data-dismiss="modal"
            (click)="closePurchaseHistoryModal()"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
