<!-- Encabezado Opciones -->
<header id="main-header" class="py-2 bg-info text-white main-board-style">
  <div class="container">
    <div class="row">
      <div class="col-md-8" [@fadeAnimation]>
        <h1><i class="fas fa-cog"></i> Opciones</h1>
      </div>
    </div>
  </div>
</header>

<!-- Seccion de botones opciones -->
<div class="container">
  <section id="actions" class="py-4 bg-transparent" [@fadeAnimation]>
    <div class="container">
      <div class="row">
        <div
          class="col-12 col-md-4 d-flex justify-content-between align-items-center"
        >
          <a
            routerLink="/"
            role="button"
            class="btn btn-warning border border-warning shadow clic-on-image ml-4"
            style="width: 110px;"
          >
            <i class="fas fa-arrow-left"></i> Volver
          </a>

          <a
            role="button"
            type="submit"
            (click)="saveRegisterStatus()"
            class="btn btn-success border border-success shadow clic-on-image mr-5"
            style="width: 110px;"
          >
            <i class="fas fa-check"></i> Guardar
          </a>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Opción para activar/desactivar registro de usuarios, listados clientes y proveedores -->
<div class="container">
  <div class="row">
    <div class="col-12 col-md-4 mt-3">
      <section id="configuracion" [@fadeAnimation]>
        <div class="container">
          <div class="card shadow">
            <div class="card-header text-center">
              <h3 class="h4">Editar configuración</h3>
            </div>
            <div class="card-body" style="margin-bottom: 14px">
              <fieldset class="row">
                <legend class="text-center" style="font-size: 18px">
                  Permitir Registro de Usuarios
                </legend>
                <div class="container col-2">
                  <label for="" class="form-check-label">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      name="activateRegister"
                      [(ngModel)]="activateRegister"
                      [checked]="activateRegister"
                    />
                    {{ activateRegister ? "Sí" : "No" }}
                  </label>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-12 col-md-4 mt-3">
      <section id="proveedores" [@fadeAnimation]>
        <div class="container">
          <div class="card shadow">
            <div class="card-header text-center">
              <h3 class="h4">Mis proveedores</h3>
            </div>
            <div class="card-body">
              <fieldset class="row">
                <legend class="text-center" style="font-size: 18px">
                  Mantenimiento de proveedores
                </legend>
                <div class="col-12 text-center">
                  <a
                    role="button"
                    class="btn btn-primary shadow clic-on-image"
                    data-toggle="modal"
                    data-target="#providerListModal"
                    (click)="openProviderListModal()"
                  >
                    Abrir lista
                  </a>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-12 col-md-4 mt-3">
      <section [@fadeAnimation]>
        <div class="container">
          <div class="card shadow">
            <div class="card-header text-center">
              <h3 class="h4">Mis clientes</h3>
            </div>
            <div class="card-body">
              <fieldset class="row">
                <legend class="text-center" style="font-size: 18px">
                  Mantenimiento de clientes
                </legend>
                <div class="col-12 text-center">
                  <a
                    role="button"
                    class="btn btn-primary shadow clic-on-image"
                    data-toggle="modal"
                    data-target="#customerListModal"
                    (click)="openCustomerListModal()"
                  >
                    Abrir lista
                  </a>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- Modal para listado de proveedores -->
<div
  class="modal fade"
  id="providerListModal"
  #providerListModal
  tabindex="-1"
  role="dialog"
  aria-labelledby="providerListModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content shadow">
      <div class="modal-header">
        <h5 class="modal-title">Mantenimiento de proveedores</h5>
        <button
          type="button"
          class="close clic-on-image"
          data-dismiss="modal"
          (click)="closeProviderListModal()"
          aria-label="Cerrar"
        >
          <span aria-hidden="true"
            ><i
              class="fa-sharp fa-solid fa-circle-xmark"
              style="color: #f40b0b"
            ></i
          ></span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Contenido del modal -->
        <div class="container pt-2 pb-2">
          <label for="search">Buscar proveedor:</label>
          <input
            type="text"
            id="search"
            [(ngModel)]="searchTermProvider"
            (ngModelChange)="filterProviders()"
            class="form-control shadow"
            placeholder="Ingresa tu búsqueda aquí..."
            [autocomplete]="false"
          />
        </div>
        <div class="w-100">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th style="width: 40%">Nombre</th>
                  <th style="width: 30%">Email</th>
                  <th style="width: 30%">Teléfono</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let provider of filteredProviders">
                  <td class="bg-transparent">
                    <span
                      class="product-name"
                      style="cursor: pointer"
                      (click)="provider.showIcons = !provider.showIcons"
                      tabindex="0"
                    >
                      {{ provider.provider_name }}
                    </span>
                    <div
                      class="product-icons text-left"
                      [ngClass]="{ 'show-icons': provider.showIcons }"
                    >
                      <a
                        class="ml-2 mr-3"
                        role="button"
                        data-toggle="modal"
                        data-target="#providerInfoModal"
                        (click)="
                          openProviderInfoModal(true, provider.provider_id);
                          this.editMode = true
                        "
                      >
                        <i
                          class="fa-solid fa-pen-to-square clic-on-icon"
                          style="color: #1100fa; cursor: pointer"
                        ></i>
                      </a>
                      <a
                        class="text-left"
                        (click)="deleteProvider(provider.provider_id)"
                      >
                        <i
                          class="fa-solid fa-trash clic-on-icon"
                          style="color: #fa0000; cursor: pointer"
                        ></i>
                      </a>
                    </div>
                  </td>
                  <td class="text-left">
                    {{ provider.provider_email }}
                  </td>
                  <td class="text-left">
                    {{ provider.provider_phone }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary shadow clic-on-image"
          data-toggle="modal"
          data-target="#providerInfoModal"
          (click)="openProviderInfoModal(false, ''); this.editMode = false"
        >
          Nuevo
        </button>
        <button
          type="button"
          class="btn btn-secondary shadow clic-on-image"
          data-dismiss="modal"
          (click)="closeProviderListModal()"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para el registro y edición de proveedores -->
<div
  class="modal fade"
  id="providerInfoModal"
  #providerInfoModal
  tabindex="-1"
  role="dialog"
  aria-labelledby="providerInfoModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content shadow">
      <div class="modal-header">
        <h5 class="modal-title" id="providerInfoModalLabel">
          {{ modalTitle }} de proveedores
        </h5>
        <button
          type="button"
          class="close clic-on-image"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeProviderInfoModal()"
        >
          <span aria-hidden="true"
            ><i
              class="fa-sharp fa-solid fa-circle-xmark"
              style="color: #f40b0b"
            ></i
          ></span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Formulario de registro de proveedores -->
        <form [formGroup]="providerForm">
          <div class="form-group">
            <label for="provider_name">Nombre:</label>
            <input
              type="text"
              class="form-control shadow"
              id="provider_name"
              formControlName="provider_name"
              placeholder="Nombre del proveedor"
              [value]="providerForm.get('provider_name').value"
              required
              [autocomplete]="false"
            />
          </div>
          <div class="form-group">
            <label for="provider_address">Dirección:</label>
            <input
              type="text"
              class="form-control shadow"
              id="provider_address"
              formControlName="provider_address"
              placeholder="Dirección del proveedor"
              [value]="providerForm.get('provider_address').value"
              [autocomplete]="false"
            />
          </div>
          <div class="form-group">
            <label for="provider_phone">Teléfono:</label>
            <input
              type="text"
              class="form-control shadow"
              id="provider_phone"
              formControlName="provider_phone"
              placeholder="Teléfono del proveedor"
              [value]="providerForm.get('provider_phone')"
              [autocomplete]="false"
            />
          </div>
          <div class="form-group">
            <label for="provider_email">Email:</label>
            <input
              type="email"
              class="form-control shadow"
              id="provider_email"
              formControlName="provider_email"
              placeholder="Email del proveedor"
              [value]="providerForm.get('provider_email').value"
              [autocomplete]="false"
            />
          </div>
          <div class="form-group">
            <label for="provider_dni">DNI:</label>
            <input
              type="text"
              class="form-control shadow"
              id="provider_dni"
              formControlName="provider_dni"
              placeholder="DNI del proveedor"
              [value]="providerForm.get('provider_dni').value"
              required
              [autocomplete]="false"
            />
          </div>
          <div class="modal-footer">
            <button
              *ngIf="this.editMode === false"
              type="submit"
              class="btn btn-primary shadow clic-on-image"
              (click)="createProvider()"
              data-dismiss="modal"
            >
              Guardar
            </button>
            <button
              *ngIf="this.editMode === true"
              type="submit"
              class="btn btn-primary shadow clic-on-image"
              (click)="editProvider(providerForm.get('provider_id').value)"
              data-dismiss="modal"
            >
              Editar
            </button>
            <button
              type="button"
              class="btn btn-secondary clic-on-image ml-2"
              data-dismiss="modal"
              (click)="closeProviderInfoModal()"
            >
              Cerrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal para listado de clientes -->
<div
  class="modal fade"
  id="customerListModal"
  #customerListModal
  tabindex="-1"
  role="dialog"
  aria-labelledby="customerListModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content shadow">
      <div class="modal-header">
        <h5 class="modal-title">Mantenimiento de clientes</h5>
        <button
          type="button"
          class="close clic-on-image"
          data-dismiss="modal"
          (click)="closeCustomerListModal()"
          aria-label="Cerrar"
        >
          <span aria-hidden="true"
            ><i
              class="fa-sharp fa-solid fa-circle-xmark"
              style="color: #f40b0b"
            ></i
          ></span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Contenido del modal -->
        <div class="container pt-2 pb-2">
          <label for="search">Buscar cliente:</label>
          <input
            type="text"
            id="search"
            [(ngModel)]="searchTermCustomer"
            (ngModelChange)="filterCustomers()"
            class="form-control shadow"
            placeholder="Ingresa tu búsqueda aquí..."
            [autocomplete]="false"
          />
        </div>
        <div class="w-100">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th style="width: 40%">Nombre</th>
                  <th style="width: 30%">Email</th>
                  <th style="width: 30%">Teléfono</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let customer of filteredCustomers">
                  <td class="bg-transparent">
                    <span
                      class="product-name"
                      style="cursor: pointer"
                      (click)="customer.showIcons = !customer.showIcons"
                      tabindex="0"
                    >
                      {{ customer.customer_name }}
                      {{ customer.customer_first_lastname }}
                    </span>
                    <div
                      class="product-icons text-left"
                      [ngClass]="{ 'show-icons': customer.showIcons }"
                    >
                      <a
                        class="ml-2 mr-3"
                        role="button"
                        data-toggle="modal"
                        data-target="#customerInfoModal"
                        (click)="
                          openCustomerInfoModal(true, customer.customer_id);
                          this.editMode = true
                        "
                      >
                        <i
                          class="fa-solid fa-pen-to-square clic-on-icon"
                          style="color: #1100fa; cursor: pointer"
                        ></i>
                      </a>
                      <a
                        class="text-left"
                        (click)="deleteCustomer(customer.customer_id)"
                      >
                        <i
                          class="fa-solid fa-trash clic-on-icon"
                          style="color: #fa0000; cursor: pointer"
                        ></i>
                      </a>
                    </div>
                  </td>
                  <td class="text-left">
                    {{ customer.customer_email }}
                  </td>
                  <td class="text-left">
                    {{ customer.customer_phone }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary clic-on-image"
          data-toggle="modal"
          data-target="#customerInfoModal"
          (click)="openCustomerInfoModal(false, ''); this.editMode = false"
        >
          Nuevo
        </button>
        <button
          type="button"
          class="btn btn-secondary clic-on-image"
          data-dismiss="modal"
          (click)="closeCustomerListModal()"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para el registro y edición de clientes -->
<div
  class="modal fade"
  id="customerInfoModal"
  #customerInfoModal
  tabindex="-1"
  role="dialog"
  aria-labelledby="customerInfoModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content shadow">
      <div class="modal-header">
        <h5 class="modal-title" id="customerInfoModalLabel">
          {{ modalTitle }} de clientes
        </h5>
        <button
          type="button"
          class="close clic-on-image"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeCustomerInfoModal()"
        >
          <span aria-hidden="true"
            ><i
              class="fa-sharp fa-solid fa-circle-xmark"
              style="color: #f40b0b"
            ></i
          ></span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Formulario de registro de clientes -->
        <form [formGroup]="customerForm">
          <div class="form-group">
            <label for="customer_name">Nombre:</label>
            <input
              type="text"
              class="form-control"
              id="customer_name"
              formControlName="customer_name"
              placeholder="Nombre del cliente"
              [value]="customerForm.get('customer_name').value"
              required
              [autocomplete]="false"
            />
          </div>
          <div class="form-group">
            <label for="customer_first_lastname">Primer Apellido:</label>
            <input
              type="text"
              class="form-control"
              id="customer_first_lastname"
              formControlName="customer_first_lastname"
              placeholder="Primer apellido"
              [value]="customerForm.get('customer_first_lastname').value"
              required
              [autocomplete]="false"
            />
          </div>
          <div class="form-group">
            <label for="customer_second_lastname">Segundo Apellido:</label>
            <input
              type="text"
              class="form-control"
              id="customer_second_lastname"
              formControlName="customer_second_lastname"
              placeholder="Segundo apellido"
              [value]="customerForm.get('customer_second_lastname').value"
              required
              [autocomplete]="false"
            />
          </div>
          <div class="form-group">
            <label for="customer_address">Dirección:</label>
            <input
              type="text"
              class="form-control"
              id="customer_address"
              formControlName="customer_address"
              placeholder="Dirección"
              [value]="customerForm.get('customer_address').value"
              [autocomplete]="false"
            />
          </div>
          <div class="form-group">
            <label for="customer_phone">Teléfono:</label>
            <input
              type="tel"
              class="form-control"
              id="customer_phone"
              formControlName="customer_phone"
              placeholder="Teléfono del cliente"
              [value]="customerForm.get('customer_phone').value"
              [autocomplete]="false"
            />
          </div>
          <div class="form-group">
            <label for="customer_email">Email:</label>
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="customer_email"
              placeholder="Email del cliente"
              [value]="customerForm.get('customer_email').value"
              [autocomplete]="false"
            />
          </div>
          <div class="form-group">
            <label for="customer_dni">DNI:</label>
            <input
              type="text"
              class="form-control"
              id="customer_dni"
              formControlName="customer_dni"
              placeholder="DNI del cliente"
              [value]="customerForm.get('customer_dni').value"
              required
              [autocomplete]="false"
            />
          </div>
          <div class="modal-footer">
            <button
              *ngIf="this.editMode === false"
              type="submit"
              class="btn btn-primary clic-on-image"
              (click)="createCustomer()"
              data-dismiss="modal"
            >
              Guardar
            </button>
            <button
              *ngIf="this.editMode === true"
              type="submit"
              class="btn btn-primary clic-on-image"
              data-dismiss="modal"
              (click)="editCustomer(customerForm.get('customer_id').value)"
            >
              Editar
            </button>
            <button
              type="button"
              class="btn btn-secondary clic-on-image ml-2"
              data-dismiss="modal"
              (click)="closeCustomerInfoModal()"
            >
              Cerrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


