<!-- Encabezado Opciones -->
<header id="main-header" class="py-2 bg-info text-white main-board-style">
  <div class="container">
    <div class="row">
      <div class="col-md-8" [@fadeAnimation]>
        <h1><i class="fas fa-cog"></i> Opciones</h1>
      </div>
    </div>
  </div>
</header>

<!-- Seccion de botones opciones -->
<div class="container">
  <section id="actions" class="py-4 bg-transparent" [@fadeAnimation]>
    <div class="container">
      <div class="row">
        <div
          class="col-12 col-md-4 d-flex justify-content-between align-items-center"
        >
          <a
            routerLink="/"
            role="button"
            class="btn btn-warning border border-warning shadow clic-on-image ml-4"
          >
            <i class="fas fa-arrow-left"></i> Volver
          </a>

          <a
            role="button"
            type="submit"
            (click)="saveRegisterStatus()"
            class="btn btn-success border border-success shadow clic-on-image mr-5"
          >
            <i class="fas fa-check"></i> Guardar
          </a>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Opción para activar/desactivar registro de usuarios, listados clientes y proveedores -->
<div class="container">
  <div class="row">
    <div class="col-12 col-md-4 mt-3">
      <section id="configuracion" [@fadeAnimation]>
        <div class="container">
          <div class="card shadow">
            <div class="card-header text-center">
              <h3 class="h4">Editar configuración</h3>
            </div>
            <div class="card-body" style="margin-bottom: 14px">
              <fieldset class="row">
                <legend class="text-center" style="font-size: 18px">
                  Permitir Registro de Usuarios
                </legend>
                <div class="container col-2">
                  <label for="" class="form-check-label">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      name="activateRegister"
                      [(ngModel)]="activateRegister"
                      [checked]="activateRegister"
                    />
                    {{ activateRegister ? "Sí" : "No" }}
                  </label>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-12 col-md-4 mt-3">
      <section id="proveedores" [@fadeAnimation]>
        <div class="container">
          <div class="card shadow">
            <div class="card-header text-center">
              <h3 class="h4">Mis proveedores</h3>
            </div>
            <div class="card-body">
              <fieldset class="row">
                <legend class="text-center" style="font-size: 18px">
                  Mantenimiento de proveedores
                </legend>
                <div class="col-12 text-center">
                  <a
                    role="button"
                    class="btn btn-primary shadow clic-on-image"
                    (click)="openProviderMainteinanceModal()"
                  >
                    Abrir lista
                  </a>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-12 col-md-4 mt-3">
      <section [@fadeAnimation]>
        <div class="container">
          <div class="card shadow">
            <div class="card-header text-center">
              <h3 class="h4">Mis clientes</h3>
            </div>
            <div class="card-body">
              <fieldset class="row">
                <legend class="text-center" style="font-size: 18px">
                  Mantenimiento de clientes
                </legend>
                <div class="col-12 text-center">
                  <a
                    role="button"
                    class="btn btn-primary shadow clic-on-image"
                    (click)="openCustomerMainteinanceModal()"
                  >
                    Abrir lista
                  </a>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- Modal para listado de proveedores -->
<div
  class="modal fade"
  id="providerModal"
  #providerModal
  tabindex="-1"
  role="dialog"
  aria-labelledby="providerModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content shadow">
      <div class="modal-header">
        <h5 class="modal-title">Mantenimiento de proveedores</h5>
        <button
          type="button"
          class="close clic-on-image"
          data-dismiss="modal"
          aria-label="Cerrar"
          (click)="closeProviderMainteinanceModal()"
        >
          <span aria-hidden="true"
            ><i
              class="fa-sharp fa-solid fa-circle-xmark"
              style="color: #f40b0b"
            ></i
          ></span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Contenido del modal -->
        <div class="container pt-2 pb-2">
          <label for="search">Buscar proveedor:</label>
          <input
            type="text"
            id="search"
            [(ngModel)]="searchTermProvider"
            (ngModelChange)="filterProviders()"
            class="form-control shadow"
            placeholder="Ingresa tu búsqueda aquí..."
            autocomplete="off"
          />
        </div>
        <div class="w-100">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th style="width: 40%;">Nombre</th>
                  <th style="width: 30%;">Email</th>
                  <th style="width: 30%;">Teléfono</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let provider of filteredProviders">
                  <td class="bg-transparent">
                    <span
                      class="product-name"
                      style="cursor: pointer"
                      (click)="provider.showIcons = !provider.showIcons"
                      tabindex="0"
                    >
                      {{ provider.name }}
                    </span>
                    <div
                      class="product-icons text-left"
                      [ngClass]="{ 'show-icons': provider.showIcons }"
                      style="z-index: 9999;"
                    >
                      <a class="ml-2 mr-3">
                        <i
                          class="fa-solid fa-pen-to-square clic-on-icon"
                          style="color: #1100fa; cursor: pointer"
                        ></i>
                      </a>
                      <a class="text-left">
                        <i
                          class="fa-solid fa-trash clic-on-icon"
                          style="color: #fa0000; cursor: pointer"
                        ></i>
                      </a>
                    </div>
                  </td>
                  <td class="text-left">
                    {{ provider.email }}
                  </td>
                  <td class="text-left">
                    {{ provider.phone }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary clic-on-image">
          Guardar
        </button>
        <button
          type="button"
          class="btn btn-secondary clic-on-image"
          data-dismiss="modal"
          (click)="closeProviderMainteinanceModal()"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para listado de clientes -->
<div
  class="modal fade"
  id="customerModal"
  #customerModal
  tabindex="-1"
  role="dialog"
  aria-labelledby="customerModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content shadow">
      <div class="modal-header">
        <h5 class="modal-title">Mantenimiento de clientes</h5>
        <button
          type="button"
          class="close clic-on-image"
          data-dismiss="modal"
          aria-label="Cerrar"
          (click)="closeCustomerMainteinanceModal()"
        >
          <span aria-hidden="true"
            ><i
              class="fa-sharp fa-solid fa-circle-xmark"
              style="color: #f40b0b"
            ></i
          ></span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Contenido del modal -->
        <div class="container pt-2 pb-2">
          <label for="search">Buscar cliente:</label>
          <input
            type="text"
            id="search"
            [(ngModel)]="searchTermCustomer"
            (ngModelChange)="filterCustomers()"
            class="form-control shadow"
            placeholder="Ingresa tu búsqueda aquí..."
            autocomplete="off"
          />
        </div>
        <div class="w-100">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th style="width: 40%;">Nombre</th>
                  <th style="width: 30%;">Email</th>
                  <th style="width: 30%;">Teléfono</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let provider of filteredProviders">
                  <td class="bg-transparent">
                    <span
                      class="product-name"
                      style="cursor: pointer"
                      (click)="provider.showIcons = !provider.showIcons"
                      tabindex="0"
                    >
                      {{ provider.name }}
                    </span>
                    <div
                      class="product-icons text-left"
                      [ngClass]="{ 'show-icons': provider.showIcons }"
                      style="z-index: 9999;"
                    >
                      <a class="ml-2 mr-3">
                        <i
                          class="fa-solid fa-pen-to-square clic-on-icon"
                          style="color: #1100fa; cursor: pointer"
                        ></i>
                      </a>
                      <a class="text-left">
                        <i
                          class="fa-solid fa-trash clic-on-icon"
                          style="color: #fa0000; cursor: pointer"
                        ></i>
                      </a>
                    </div>
                  </td>
                  <td class="text-left">
                    {{ provider.email }}
                  </td>
                  <td class="text-left">
                    {{ provider.phone }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary clic-on-image">
          Guardar
        </button>
        <button
          type="button"
          class="btn btn-secondary clic-on-image"
          data-dismiss="modal"
          (click)="closeCustomerMainteinanceModal()"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
