<!-- Encabezado de componente Auditoría Existencias -->
<header id="main-header" class="pb-2 bg-info text-white main-board-style">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8" [@fadeAnimation]>
        <h1><i class="fas fa-boxes-stacked"></i> Mis Existencias</h1>
      </div>
      <div class="col-md-4">
        <label for="search">Buscar producto:</label>
        <input
          type="search"
          #productSearch
          id="productSearch"
          [(ngModel)]="searchTerm"
          (ngModelChange)="filterProducts(productSearch.value)"
          class="form-control"
          placeholder="Ingresa tu búsqueda aquí..."
          autocomplete="off"
        />
      </div>
    </div>
  </div>
</header>

<!-- Tabla con la lista de productos -->
<div class="container mt-4" [@fadeAnimation]>
  <div class="row">
    <div class="modal-content col-md-4 pr-0 pl-0">
        <div
          class="d-flex modal-header product-list-header border justify-content-between"
        >
          <!-- Encabezado del listado -->
          <h4 class="h4"><i class="fas fa-list-check"></i>&nbsp;Productos</h4>
          <div class="d-flex justify-content-md-end">
            <div class="justify-content-md-end">
              <button
                class="btn btn-warning border-warning shadow clic-on-image mr-2"
                (click)="prevPage()"
                [disabled]="page === 0"
                style="color: white !important"
              >
                <span><i class="fa-solid fa-arrow-left"></i></span>
                <span class="d-md-none"></span>
              </button>
              <button
                class="btn btn-success border-success shadow clic-on-image"
                (click)="nextPage()"
                [disabled]="
                  (products | productsFilter : page : searchTerm).length < 8
                "
              >
                <span class="d-md-none"></span>
                <span><i class="fa-solid fa-arrow-right"></i></span>
              </button>
            </div>
          </div>
        </div>
        <div class="w-100">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr class="product-detail-table-titles">
                  <th class="text-left" style="width: 70%">Producto</th>
                  <th class="text-right" style="width: 25%">Stock</th>
                </tr>
              </thead>
              <tbody class="">
                <tr
                  *ngFor="
                    let product of filteredProducts
                      | productsFilter : page : searchTerm;
                    let even = even
                  "
                  [ngClass]="{ 'table-row-even': even, 'table-row-odd': !even }"
                  class="pl-4"
                >
                  <td class="product-name" (click)="openProductModal(product)">
                    {{ product.name }}
                  </td>

                  <td class="text-right">
                    {{ product.quantity | number : "1.2-2" }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
<div style="margin-bottom: 60px"></div>

<div
  class="modal fade"
  id="productInfoModal"
  #productInfoModal
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form [formGroup]="productForm" (ngSubmit)="saveChanges()">
        <div class="modal-header border">
          <h5 class="modal-title"><i class="fas fa-note-sticky"></i>&nbsp;Información del Producto</h5>
          <button
            type="button"
            class="close"
            (click)="closeProductModal()"
            aria-label="Cerrar"
          >
            <span aria-hidden="true"><i class="fas fa-close"></i></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row">
            <div class="col-md-6 form-group">
              <label for="int_code">Código:</label>
              <input
                type="text"
                class="form-control"
                id="int_code"
                formControlName="int_code"
                required
                readonly
              />
            </div>
            <div class="col-md-6 form-group">
              <label for="category_name">Categoría:</label>
              <input
                type="text"
                class="form-control"
                id="category_name"
                formControlName="category_name"
                required
                readonly
              />
            </div>
          </div>
          <div class="form-group">
            <label for="name">Producto:</label>
            <input
              type="text"
              class="form-control"
              id="name"
              formControlName="name"
              required
              readonly
            />
          </div>
          <div class="form-row">
            <div class="col-md-4 form-group">
              <label for="quantity">Cantidad:</label>
              <input
                type="text"
                class="form-control text-right"
                id="quantity"
                formControlName="quantity"
                required
                readonly
              />
            </div>
            <div class="col-md-4 form-group">
              <label for="real_stock">Físico:</label>
              <input
                type="number"
                class="form-control text-right"
                id="real_stock"
                formControlName="real_stock"
                #realStockInput
                required
                (input)="calculateDifference()"
              />
            </div>
            <div class="col-md-4">
              <label for="difference">Diferencia:</label>
              <input
                type="number"
                class="form-control text-right"
                formControlName="difference"
                id="difference"
                readonly
              />
            </div>
          </div>
        </div>
        <div class="modal-footer" style="display: flex; justify-content: space-between;">
          <button type="button" class="btn btn-danger" (click)="resetRealStock()">Reset</button>
          <div>
              <button class="btn btn-primary mr-2" type="submit">Guardar</button>
              <button class="btn btn-secondary" type="button" (click)="closeProductModal()">Cerrar</button>
          </div>
      </div>
      
      </form>
    </div>
  </div>
</div>
