<!-- Encabezado de componente Auditoría Existencias -->
<header id="main-header" class="pb-2 bg-info text-white main-board-style">
  <div class="container">
    <div class="row pt-2">
      <div class="col-md-9" [@fadeAnimation]>
        <h1><i class="fas fa-boxes-stacked"></i> Mis Existencias</h1>
      </div>
      <div
        class="d-flex justify-content-center justify-content-md-center col-md-3 text-center"
      >
        <input
          [@fadeAnimation]
          type="search"
          #productSearch
          id="productSearch"
          [(ngModel)]="searchTerm"
          (ngModelChange)="filterProducts(productSearch.value)"
          class="form-control no-submit mt-1"
          placeholder="Ingresa tu búsqueda aquí..."
          autocomplete="off"
          [spellcheck]="false"
        />
      </div>
    </div>
  </div>
</header>

<!-- Opciones para la auditoría de productos -->
<div class="container final-div" [@fadeAnimation]>
  <div class="row">
    <div class="col-md-4 mb-2">
      <div class="modal-content">
        <div
          class="d-flex modal-header product-list-header border justify-content-between"
        >
          <!-- Encabezado del listado -->
          <h4 class="h4"><i class="fas fa-list-check"></i>&nbsp;Productos</h4>
          <div class="d-flex justify-content-md-end">
            <div class="justify-content-md-end">
              <button
                class="btn btn-warning border-warning shadow clic-on-image mr-2"
                (click)="prevPage()"
                [disabled]="page === 0"
                style="color: white !important"
              >
                <span><i class="fa-solid fa-arrow-left"></i></span>
                <span class="d-md-none"></span>
              </button>
              <button
                class="btn btn-success border-success shadow clic-on-image"
                (click)="nextPage()"
                [disabled]="
                  (products | productsFilter : page : searchTerm).length < 8
                "
              >
                <span class="d-md-none"></span>
                <span><i class="fa-solid fa-arrow-right"></i></span>
              </button>
            </div>
          </div>
        </div>
        <div class="w-100">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr class="product-detail-table-titles">
                  <th class="text-left" style="width: 70%">Producto</th>
                  <th class="text-right" style="width: 25%">Stock</th>
                </tr>
              </thead>
              <tbody class="">
                <tr
                  *ngFor="
                    let product of filteredProducts
                      | productsFilter : page : searchTerm;
                    let even = even
                  "
                  [ngClass]="{ 'table-row-even': even, 'table-row-odd': !even }"
                  class="pl-4 row-selected"
                >
                  <td class="product-name" (click)="openProductModal(product)">
                    {{ product.name }}
                  </td>
                  <td class="text-right">
                    {{ product.quantity | number : "1.2-2" }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="modal-content d-flex">
        <div class="modal-header border">
          <h4>
            <i class="fas fa-clipboard-check"></i>&nbsp;Controles de auditoría
          </h4>
        </div>
        <div class="modal-body">
          <div class="row mr-1 ml-1">
            <div class="col-md-12 mt-2 mb-2">
              <input
                type="file"
                class="custom-file-input"
                style="cursor: pointer"
                id="fileInput"
                (change)="importJSON($event)"
              />
              <label for="fileInput" class="custom-file-label"
                >Seleccione archivo</label
              >
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 d-flex flex-wrap justify-content-center">
              <!-- Utiliza la clase col-sm para definir el comportamiento en dispositivos móviles -->
              <button
                class="btn btn-primary border border-primary shadow clic-on-image"
                (click)="openAuditListModal()"
                [disabled]="exportButtonDisabled | async"
              >
                Auditar
              </button>
              <button
                class="btn btn-success ml-2 mr-2 border border-success shadow clic-on-image"
                (click)="exportToJSON()"
                [disabled]="exportButtonDisabled | async"
              >
                Exportar
              </button>
              <button
                class="btn btn-warning border text-white border-warning shadow clic-on-image"
                [disabled]="importButtonDisabled"
                (click)="importJSONData()"
              >
                Importar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="screen-adjust"></div>
</div>

<!-- Modal para la información del producto -->
<div
  class="modal fade"
  id="productInfoModal"
  #productInfoModal
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-shadow">
      <form [formGroup]="productForm" (ngSubmit)="addProductToAuditList()">
        <div class="modal-header border">
          <h5 class="modal-title">
            <i class="fas fa-note-sticky"></i>&nbsp;Información del Producto
          </h5>
          <button
            type="button"
            class="close"
            (click)="closeProductModal()"
            aria-label="Cerrar"
          >
            <span aria-hidden="true"><i class="fas fa-close"></i></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row">
            <div class="col-6 form-group">
              <label for="int_code">Código:</label>
              <input
                type="text"
                class="form-control"
                id="int_code"
                formControlName="int_code"
                required
                readonly
              />
            </div>
            <div class="col-6 form-group">
              <label for="category_name">Categoría:</label>
              <input
                type="text"
                class="form-control"
                id="category_name"
                formControlName="category_name"
                required
                readonly
              />
            </div>
          </div>
          <div class="form-group">
            <label for="name">Producto:</label>
            <input
              type="text"
              class="form-control"
              id="name"
              formControlName="name"
              required
              readonly
            />
          </div>
          <div class="form-row">
            <div class="col-4 form-group">
              <label for="quantity">Cantidad:</label>
              <input
                type="text"
                class="form-control text-right"
                id="quantity"
                formControlName="quantity"
                required
                readonly
              />
            </div>
            <div class="col-4 form-group">
              <label for="real_stock">Físico:</label>
              <input
                type="number"
                class="form-control text-right"
                id="real_stock"
                formControlName="real_stock"
                #realStockInput
                required
                (input)="calculateDifference()"
              />
            </div>
            <div class="col-4">
              <label for="difference">Diferencia:</label>
              <input
                type="number"
                class="form-control text-right"
                formControlName="difference"
                id="difference"
                readonly
              />
            </div>
          </div>
        </div>
        <div
          class="modal-footer"
          style="display: flex; justify-content: space-between"
        >
          <button
            type="button"
            class="btn btn-danger"
            (click)="resetStockAndDifference()"
          >
            Reset
          </button>
          <div>
            <button class="btn btn-primary mr-2" type="submit">Agregar</button>
            <button
              class="btn btn-secondary"
              type="button"
              (click)="closeProductModal()"
            >
              Cerrar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal para mostrar la información de los productos de auditoría -->
<div
  id="auditModal"
  class="modal fade custom-modal"
  #auditModal
  role="dialog"
  tabindex="-1"
  aria-labelledby="auditModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header border">
        <h4 class="h4 align-items-start">
          <i class="fas fa-list-check"></i>&nbsp;Productos de Auditoría
        </h4>
        <button
          type="button"
          aria-label="Close"
          class="close clic-on-icon"
          (click)="closeAuditListModal()"
        >
          <span aria-hidden="true"><i class="fas fa-close"></i></span>
        </button>
      </div>
      <div class="table-responsive">
        <table class="table" style="table-layout: fixed">
          <thead>
            <tr
              class="product-detail-table-titles"
              *ngIf="auditListProducts.length !== 0"
            >
              <th class="d-none d-md-table-cell" style="width: 10%">Código</th>
              <th style="width: 15%">Nombre</th>
              <th class="d-none d-md-table-cell text-center" style="width: 10%">
                Costo
              </th>
              <th class="d-none d-md-table-cell text-center" style="width: 10%">
                Cantidad
              </th>
              <th class="d-none d-md-table-cell text-center" style="width: 10%">
                Stock Real
              </th>
              <th class="text-center" style="width: 10%">Ajuste</th>
              <th class="text-center" style="width: 10%">Monto Ajustado</th>
              <th class="text-center" style="width: 5%"></th>
            </tr>
          </thead>
          <tbody id="auditModalBody">
            <ng-container *ngIf="auditListProducts.length === 0">
              <!-- Si no hay elementos en la lista -->
              <tr>
                <td colspan="8" class="text-center">
                  <h4 class="h4 text-danger mt-3">
                    <i class="fas fa-exclamation-circle"></i>
                    Sin elementos para la auditoría
                  </h4>
                </td>
              </tr>
            </ng-container>
            <!-- Datos de los productos de auditoría -->
            <tr
              *ngFor="let product of auditListProducts; let even = even"
              [ngClass]="{
                'table-row-even': even,
                'table-row-odd': !even,
              }"
              class="row-selected"
            >
              <td class="d-none d-md-table-cell">{{ product.int_code }}</td>
              <td>{{ product.name }}</td>
              <td class="text-center d-none d-md-table-cell">
                {{ product.purchase_price | currency : "CRC" : "₡" : "1.2-2" }}
              </td>
              <td class="d-none d-md-table-cell text-center">
                {{ product.quantity | number : "1.2-2" }}
              </td>
              <td class="d-none d-md-table-cell text-center">
                {{ product.real_stock | number : "1.2-2" }}
              </td>
              <td
                class="text-center"
                [ngClass]="{
                  'text-danger': product.adjustedQuantity < 0,
                  'text-success':
                    product.adjustedQuantity >= 0 &&
                    product.adjustedQuantity !== 0
                }"
              >
                {{ product.adjustedQuantity | number : "1.2-2" }}
                <i
                  class="fas"
                  [ngClass]="{
                    'fa-arrow-up':
                      product.adjustedAmount > 0 &&
                      product.adjustedQuantity !== 0,
                    'fa-arrow-down':
                      product.adjustedAmount < 0 &&
                      product.adjustedQuantity !== 0
                  }"
                ></i>
              </td>
              <td
                class="text-center"
                [ngClass]="{
                  'text-danger': product.adjustedAmount < 0,
                  'text-success':
                    product.adjustedAmount >= 0 && product.adjustedAmount !== 0
                }"
              >
                {{ product.adjustedAmount | currency : "CRC" : "₡" : "1.2-2" }}
              </td>
              <td class="text-center">
                <a
                  role="button"
                  (click)="deleteAuditProduct(product.productId)"
                >
                  <i class="fas fa-trash shadow clic-on-icon" style="color: red"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="modal-footer">
          <button
            class="btn btn-primary border border-primary clic-on-image shadow"
          >
            Aplicar
          </button>
          <button
            class="btn btn-secondary border border-secondary clic-on-image shadow"
            (click)="closeAuditListModal()"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
