.icon-container {
  position: relative;
}

.product-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.product-name:hover {
  white-space: normal;
  overflow: visible;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
}

.table {
  table-layout: fixed;
}

