<!-- Encabezado de componente Auditoría Existencias -->
<header id="main-header" class="pb-2 bg-info text-white main-board-style">
  <div class="container">
    <div class="row pt-2">
      <div class="col-md-9" [@fadeAnimation]>
        <h1><i class="fas fa-boxes-stacked"></i> Mis Existencias</h1>
      </div>
      <div
        class="d-flex justify-content-center justify-content-md-center col-md-3 text-center"
      >
        <input
          [@fadeAnimation]
          type="search"
          #productSearch
          id="productSearch"
          [(ngModel)]="searchTerm"
          (ngModelChange)="filterProducts(productSearch.value)"
          class="form-control no-submit mt-1"
          placeholder="Ingresa tu búsqueda aquí..."
          autocomplete="off"
          [spellcheck]="false"
        />
      </div>
    </div>
  </div>
</header>

<!-- Opciones para la auditoría de productos -->
<div class="container final-div" [@fadeAnimation]>
  <div class="row">
    <div class="col-md-4 mb-3">
      <section id="product-list">
        <div class="modal-content">
          <div
            class="d-flex modal-header product-list-header border justify-content-between"
          >
            <!-- Encabezado del listado -->
            <h4 class="h4"><i class="fas fa-list-check"></i>&nbsp;Productos</h4>
            <div class="d-flex justify-content-md-end">
              <div class="justify-content-md-end">
                <button
                  class="btn btn-warning border-warning shadow clic-on-image mr-2"
                  (click)="prevPage()"
                  [disabled]="page === 0"
                  style="color: white !important"
                >
                  <span><i class="fa-solid fa-arrow-left"></i></span>
                  <span class="d-md-none"></span>
                </button>
                <button
                  class="btn btn-success border-success shadow clic-on-image"
                  (click)="nextPage()"
                  [disabled]="
                    (products | productsFilter : page : searchTerm).length < 7
                  "
                >
                  <span class="d-md-none"></span>
                  <span><i class="fa-solid fa-arrow-right"></i></span>
                </button>
              </div>
            </div>
          </div>
          <div class="modal-body pt-0 pb-3">
            <div class="w-100">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr class="product-detail-table-titles">
                      <th class="text-left" style="width: 70%">Producto</th>
                      <th class="text-right" style="width: 25%">Stock</th>
                    </tr>
                  </thead>
                  <tbody class="">
                    <tr
                      *ngFor="
                        let product of filteredProducts
                          | productsFilter : page : searchTerm;
                        let even = even
                      "
                      [ngClass]="{
                        'table-row-even': even,
                        'table-row-odd': !even
                      }"
                      class="pl-4 row-selected"
                    >
                      <td
                        class="product-name"
                        (click)="openProductModal(product)"
                      >
                        {{ product.name }}
                      </td>
                      <td class="text-right">
                        {{ product.quantity | number : "1.2-2" }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-md-4">
      <div class="col-md-12">
        <section id="audit-controls">
          <div class="row">
            <div class="modal-content d-flex">
              <div class="modal-header border">
                <h4 class="h4">
                  <i class="fas fa-clipboard-check"></i>&nbsp;Control de
                  auditorías
                </h4>
                <span
                  class="badge clic-on-icon"
                  style="cursor: pointer"
                  (click)="openAuditListModal()"
                  [ngClass]="{
                    'bg-danger shadow border border-dark': !(
                      exportButtonDisabled | async
                    ),
                    'bg-transparent': exportButtonDisabled | async
                  }"
                  [title]="'Auditoría iniciada'"
                >
                  {{ !(exportButtonDisabled | async) ? "1" : "" }}
                </span>
              </div>
              <div class="modal-body">
                <div class="row">
                  <p class="text-center pl-2 pr-2">
                    Controles para inicializar una nueva auditoría, ver
                    auditorías anteriores y finalizar una auditoría iniciada.
                  </p>
                </div>
                <div class="d-flex flex-wrap justify-content-center">
                  <button
                    class="btn btn-primary border border-primary shadow clic-on-image mb-1"
                    (click)="initializeIndexedDB()"
                  >
                    Iniciar
                  </button>
                  <button
                    class="btn btn-success border border-success shadow clic-on-image ml-2 mr-2 mb-1"
                    (click)="openAuditHistoryModal()"
                  >
                    Historial
                  </button>
                  <button
                    class="btn btn-warning border border-warning shadow text-white clic-on-image mb-1"
                    (click)="openDeleteAuditModal()"
                  >
                    Finalizar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="audit-files">
          <div class="row mt-3">
            <div class="modal-content d-flex">
              <div class="modal-header border">
                <h4 class="h4">
                  <i class="fas fa-list-alt"></i>&nbsp;Archivos de auditorías
                </h4>
                <span
                  class="badge clic-on-icon"
                  *ngIf="!(exportButtonDisabled | async)"
                  style="cursor: pointer"
                  (click)="openAuditListModal()"
                  [ngClass]="{
                    'bg-danger shadow border border-dark':
                      (auditListProducts$ | async).length >= 0,
                    'bg-transparent':
                      (auditListProducts$ | async).length === null
                  }"
                  [title]="'Productos en lista de auditoría'"
                >
                  {{ (auditListProducts$ | async).length }}
                </span>
              </div>
              <div class="modal-body mb-1">
                <div class="col">
                  <div class="custom-file shadow mb-3">
                    <input
                      type="file"
                      class="custom-file-input"
                      style="cursor: pointer"
                      id="fileInput"
                      (change)="importJSON($event)"
                      accept=".json"
                      [title]="
                        fileInput
                          ? 'Cargar archivo: ' + fileInput.name
                          : 'No se ha seleccionado un archivo'
                      "
                    />
                    <label
                      for="fileInput"
                      class="custom-file-label"
                      data-browse="Buscar"
                      >{{
                        fileInput ? fileInput.name : "Seleccione archivo"
                      }}</label
                    >
                  </div>
                  <div class="row">
                    <div
                      class="col-md-12 d-flex flex-wrap justify-content-center mt-1"
                    >
                      <!-- Utiliza la clase col-sm para definir el comportamiento en dispositivos móviles -->
                      <button
                        class="btn btn-primary border border-primary shadow clic-on-image mb-1"
                        (click)="openAuditListModal()"
                        [disabled]="exportButtonDisabled | async"
                      >
                        Auditar
                      </button>
                      <button
                        class="btn btn-success ml-2 mr-2 mb-1 border border-success shadow clic-on-image"
                        (click)="exportToJSON()"
                        [disabled]="exportButtonDisabled | async"
                      >
                        Exportar
                      </button>
                      <button
                        class="btn btn-warning border text-white border-warning shadow clic-on-image mb-1"
                        [disabled]="importButtonDisabled"
                        (click)="importJSONData()"
                      >
                        Importar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<!-- Modal para la información del producto -->
<div
  class="modal fade"
  id="productInfoModal"
  #productInfoModal
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-shadow">
      <form [formGroup]="productForm" (ngSubmit)="addProductToAuditList()">
        <div class="modal-header border">
          <h5 class="modal-title">
            <i class="fas fa-note-sticky"></i>&nbsp;Información del Producto
          </h5>
          <button
            type="button"
            class="close"
            (click)="closeProductModal()"
            aria-label="Cerrar"
          >
            <span aria-hidden="true"><i class="fas fa-close"></i></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row">
            <div class="col-6 form-group">
              <label for="int_code">Código:</label>
              <input
                type="text"
                class="form-control"
                id="int_code"
                formControlName="int_code"
                required
                readonly
              />
            </div>
            <div class="col-6 form-group">
              <label for="category_name">Categoría:</label>
              <input
                type="text"
                class="form-control"
                id="category_name"
                formControlName="category_name"
                required
                readonly
              />
            </div>
          </div>
          <div class="form-group">
            <label for="name">Producto:</label>
            <input
              type="text"
              class="form-control"
              id="name"
              formControlName="name"
              required
              readonly
            />
          </div>
          <div class="form-row">
            <div class="col-4 form-group">
              <label for="quantity">Cantidad:</label>
              <input
                type="text"
                class="form-control text-right"
                id="quantity"
                formControlName="quantity"
                required
                readonly
              />
            </div>
            <div class="col-4 form-group">
              <label for="real_stock">Físico:</label>
              <input
                type="number"
                class="form-control text-right"
                id="real_stock"
                formControlName="real_stock"
                #realStockInput
                required
                (input)="calculateDifference()"
              />
            </div>
            <div class="col-4">
              <label for="difference">Diferencia:</label>
              <input
                type="number"
                class="form-control text-right"
                formControlName="difference"
                id="difference"
                readonly
              />
            </div>
          </div>
        </div>
        <div
          class="modal-footer"
          style="display: flex; justify-content: space-between"
        >
          <button
            type="button"
            class="btn btn-danger shadow border border-danger clic-on-image"
            (click)="resetStockAndDifference()"
          >
            Reset
          </button>
          <div>
            <button
              class="btn btn-primary shadow border border-primary mr-2 clic-on-image"
              type="submit"
            >
              Agregar
            </button>
            <button
              class="btn btn-secondary shadow border border-secondary clic-on-image"
              type="button"
              (click)="closeProductModal()"
            >
              Cerrar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal para mostrar la información de los productos de auditoría -->
<div
  id="auditModal"
  class="modal fade custom-modal"
  #auditModal
  role="dialog"
  tabindex="-1"
  aria-labelledby="auditModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content modal-shadow">
      <div class="modal-header border">
        <h4 class="h4 align-items-start">
          <i class="fas fa-list-check"></i>&nbsp;Productos de Auditoría
        </h4>
        <button
          type="button"
          aria-label="Close"
          class="close clic-on-icon"
          (click)="closeAuditListModal()"
        >
          <span aria-hidden="true"><i class="fas fa-close"></i></span>
        </button>
      </div>
      <div class="table-responsive">
        <table class="table" style="table-layout: fixed">
          <thead>
            <tr
              class="product-detail-table-titles"
              *ngIf="auditListProducts.length !== 0"
            >
              <th class="d-none d-md-table-cell" style="width: 10%">Código</th>
              <th style="width: 15%">Nombre</th>
              <th class="d-none d-md-table-cell text-center" style="width: 10%">
                Costo
              </th>
              <th class="d-none d-md-table-cell text-center" style="width: 10%">
                Cantidad
              </th>
              <th class="d-none d-md-table-cell text-center" style="width: 10%">
                Stock Real
              </th>
              <th class="text-center" style="width: 10%">Ajuste</th>
              <th class="text-center" style="width: 10%">Monto Ajustado</th>
              <th class="text-center" style="width: 5%"></th>
            </tr>
          </thead>
          <tbody id="auditModalBody">
            <ng-container *ngIf="auditListProducts.length === 0">
              <!-- Si no hay elementos en la lista -->
              <tr>
                <td colspan="8" class="text-center">
                  <h4 class="h4 text-danger mt-3">
                    <i class="fas fa-exclamation-circle"></i>
                    Sin elementos para la auditoría
                  </h4>
                </td>
              </tr>
            </ng-container>
            <!-- Datos de los productos de auditoría -->
            <tr
              *ngFor="let product of auditListProducts; let even = even"
              [ngClass]="{
                'table-row-even': even,
                'table-row-odd': !even,
              }"
              class="row-selected"
            >
              <td class="d-none d-md-table-cell">{{ product.int_code }}</td>
              <td>{{ product.name }}</td>
              <td class="text-center d-none d-md-table-cell">
                {{ product.purchase_price | currency : "CRC" : "₡" : "1.2-2" }}
              </td>
              <td class="d-none d-md-table-cell text-center">
                {{ product.quantity | number : "1.2-2" }}
              </td>
              <td class="d-none d-md-table-cell text-center">
                {{ product.real_stock | number : "1.2-2" }}
              </td>
              <td
                class="text-center"
                [ngClass]="{
                  'text-danger': product.adjusted_quantity < 0,
                  'text-success':
                    product.adjusted_quantity >= 0 &&
                    product.adjusted_quantity !== 0
                }"
              >
                {{ product.adjusted_quantity | number : "1.2-2" }}
                <i
                  class="fas"
                  [ngClass]="{
                    'fa-arrow-up':
                      product.adjusted_amount > 0 &&
                      product.adjusted_quantity !== 0,
                    'fa-arrow-down':
                      product.adjusted_amount < 0 &&
                      product.adjusted_quantity !== 0
                  }"
                ></i>
              </td>
              <td
                class="text-center"
                [ngClass]="{
                  'text-danger': product.adjusted_amount < 0,
                  'text-success':
                    product.adjusted_amount >= 0 && product.adjusted_amount !== 0
                }"
              >
                {{ product.adjusted_amount | currency : "CRC" : "₡" : "1.2-2" }}
              </td>
              <td class="text-center">
                <a
                  role="button"
                  (click)="deleteAuditProduct(product.productId)"
                  class="shadow"
                >
                  <i class="fas fa-trash clic-on-icon" style="color: red"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="modal-footer">
          <button
            class="btn btn-primary border border-primary clic-on-image shadow"
            (click)="createAuditDocument()"
          >
            Aplicar
          </button>
          <button
            class="btn btn-secondary border border-secondary clic-on-image shadow"
            (click)="closeAuditListModal()"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal para visualizar historial de auditorías -->
<div
  class="modal fade"
  id="auditHistory"
  #auditHistory
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content d-flex">
      <div class="modal-header border">
        <h5 class="modal-title">
          <i class="fas fa-history"></i>&nbsp;Listado de auditorías
        </h5>
        <div>
          <button
            type="button"
            class="close clic-on-icon"
            aria-label="Close"
            (click)="closeAuditHistoryModal()"
          >
            <span aria-hidden="true">
              <i class="fas fa-close"></i>
            </span>
          </button>
        </div>
      </div>
      <div class="modal-body audit-list pt-0">
        <div class="w-100">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr class="product-detail-table-titles">
                  <th style="width: 30%">Fecha</th>
                  <th style="width: 20%">Ajustes</th>
                  <th style="width: 20%">Monto</th>
                  <th style="width: 20%">Usuario</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let audit of allAudits; let even = even"
                  [ngClass]="{ 'table-row-even': even, 'table-row-odd': !even }"
                  class="audit-lists-row"
                >
                  <td>
                    <a type="button">{{
                      audit.doc_number
                    }}</a>
                  </td>
                  <td>{{ audit.totalQuantity | number : "1.2-2" }}</td>
                  <td>{{ audit.totalAmount | number : "1.2-2" }}</td>
                  <td>{{ audit.username }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary shadow clic-on-image"
          (click)="closeAuditHistoryModal()"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal confirmación de cierre de auditoría -->
<div
  class="modal fade"
  id="deleteAuditModal"
  #deleteAuditModal
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteAuditModalLabel"
  aria-hidden="true"
>
  <div class="d-flex align-content-center justify-content-center">
    <div
      class="modal-dialog modal-dialog-centered"
      role="document"
      style="width: 300px"
    >
      <div class="modal-content modal-shadow">
        <div class="modal-header border">
          <h5 class="modal-title">
            <i class="fas fa-exclamation-circle"></i>&nbsp;Finalizar auditoría
          </h5>
          <button class="close clic-on-icon" (click)="closeDeleteAuditModal()">
            <span aria-hidden="true"><i class="fas fa-close"></i></span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-center">
            ¿Seguro que desea eliminar la auditoría activa?
          </p>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-danger shadow border border-danger clic-on-image"
            (click)="deleteIndexedDB()"
          >
            Eliminar
          </button>
          <button
            type="button"
            class="btn btn-secondary shadow border border-secondary clic-on-image"
            (click)="closeDeleteAuditModal()"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
