.icon-container {
  position: relative;
}

.product-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.product-name:hover {
  white-space: normal;
  overflow: visible;
}

td {
  padding-top: 9px;
  padding-bottom: 9px;
}

th {
  padding-top: 10px;
  padding-bottom: 10px;
}

.table {
  table-layout: fixed;
}

.form-label {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 5px 10px 8px 10px;
  opacity: 1;
  align-items: baseline;
  margin-top: 20px;
  background-color: beige;
  color: darkgray;
  font-style: italic;
}

.form-label:hover {
  background-color:rgba(190, 183, 183, 0.692);
  transition: all 0.3s ease;
  color: white;
}

.audit-list {
  max-height: calc(70vh - 120px);
  overflow-y: auto; 
}

.audit-lists-row > td {
  font-size: 13px;
}

.custom-button-group > button {
  width: 80px;
  text-align: center;
  padding: 5px;
}

.custom-button-group > div > p {
  text-align: center;
}

