<!-- Encabezado de componente Mis compras -->
<header id="main-header" class="pb-2 bg-info text-white main-board-style">
  <div class="container">
    <div class="row pt-2">
      <div class="col-md-8" [@fadeAnimation]>
        <h1><i class="fas fa-bucket"></i> Mis compras</h1>
      </div>
      <div class="col-md-4 d-none d-md-block" style="visibility: hidden">
        <input
          type="search"
          id="search"
          name="search"
          class="form-control no-submit"
          placeholder="Ingresa tu búsqueda aquí..."
          autocomplete="off"
          [spellcheck]="false"
        />
      </div>
    </div>
  </div>
</header>

<!-- Opciones de Mis compras -->
<div class="container final-div justify-content-center" [@fadeAnimation]>
  <div class="row justify-content-center">
    <div class="col-md-6 d-flex justify-content-center mb-3">
      <div class="ccard card-height col-md-8 custom-main-card shadow">
        <div class="d-flex">
          <a class="text-decoration-none" (click)="openPurchaseModal()">
            <div class="card-body">
              <h5 class="card-title">Crear compra</h5>
              <img
                src="assets/shoppingcart.gif"
                alt=""
                class="svg"
                style="transform: scaleX(-1)"
              />
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center mb-3">
      <div class="card card-height col-md-8 custom-main-card shadow">
        <div class="d-flex">
          <a (click)="openPurchaseHistoryModal()" class="text-decoration-none">
            <div class="card-body">
              <h5 class="card-title">Mi historial</h5>
              <img src="assets/list.gif" alt="" class="svg" />
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 d-flex justify-content-center">
      <div class="card card-height col-md-8 custom-main-card shadow">
        <div class="d-flex">
          <a routerLink="/product-list" class="text-decoration-none">
            <div class="card-body">
              <h5 class="card-title">Mis productos</h5>
              <img src="assets/book.gif" alt="" class="svg" />
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <div class="card card-height col-md-8 custom-main-card shadow">
        <div class="d-flex">
          <a routerLink="/reports" class="text-decoration-none">
            <div class="card-body">
              <h5 class="card-title">Mis reportes</h5>
              <img src="assets/reports.gif" alt="" class="svg" />
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="screen-adjust"></div>
</div>

<!-- Modal para crear compras -->
<div
  class="modal fade"
  id="newPurchaseModal"
  #newPurchaseModal
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-shadow" role="document">
    <div class="modal-content">
      <form [formGroup]="purchaseForm" (ngSubmit)="createPurchase($event)">
        <div class="modal-header border">
          <h5 class="modal-title">
            <i class="fas fa-edit"></i>&nbsp;Registro de compras
          </h5>
          <button
            type="button"
            class="close clic-on-icon"
            aria-label="Close"
            (click)="closePurchaseModal()"
          >
            <span aria-hidden="true">
              <i class="fas fa-close"></i>
            </span>
          </button>
        </div>
        <div class="modal-body form-modal">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="provider_name">Proveedor:</label>
                <input
                  type="search"
                  role="combobox"
                  id="provider_name"
                  list="providerOptions"
                  formControlName="provider_name"
                  class="form-control datalist-no-arrow"
                  autocomplete="off"
                  [spellcheck]="false"
                  style="cursor: text"
                  placeholder="Seleccione proveedor..."
                  [ngClass]="{
                    'is-valid':
                      purchaseForm.get('provider_name').touched &&
                      purchaseForm.get('provider_name').valid,
                    'is-invalid':
                      purchaseForm.get('provider_name').touched &&
                      purchaseForm.get('provider_name').invalid,
                      'italic-text': !purchaseForm.get('provider_name').value,
                  }"
                  (focus)="searchProviders($event)"
                />
                <div
                  class="suggestion-list shadow bg-white position-fixed mt-1"
                >
                  <datalist
                    id="providerOptions"
                    role="searchbox"
                    class="form-select"
                  >
                    <option
                      *ngFor="let provider of providerSuggestionList"
                      [value]="formatOption(provider)"
                    >
                      {{ provider_name[provider.provider_name] }}
                    </option>
                  </datalist>
                </div>
              </div>
              <div class="form-group form-row">
                <div class="col">
                  <label for="doc_number">Documento:</label>
                  <input
                    type="text"
                    id="doc_number"
                    formControlName="doc_number"
                    class="form-control"
                    autocomplete="off"
                    required="required"
                    [ngClass]="{
                      'is-valid':
                        purchaseForm.get('doc_number').touched &&
                        purchaseForm.get('doc_number').valid,
                      'is-invalid':
                        purchaseForm.get('doc_number').touched &&
                        purchaseForm.get('doc_number').invalid
                    }"
                  />
                </div>
                <div class="col">
                  <label for="paymentMethod">Método de pago:</label>
                  <select
                    id="paymentMethod"
                    formControlName="paymentMethod"
                    class="custom-select is-valid"
                    style="padding-top: 5px"
                  >
                    <option value="contado" selected>Contado</option>
                    <option value="credito">Crédito</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="product_name">Producto:</label>
                <input
                  type="search"
                  id="product_name"
                  formControlName="product_name"
                  class="form-control datalist-no-arrow"
                  (input)="searchProduct()"
                  autocomplete="off"
                  [spellcheck]="false"
                  placeholder="Seleccione producto..."
                  [ngClass]="{
                    'is-valid':
                      purchaseForm.get('product_name').touched &&
                      purchaseForm.get('product_name').valid,
                    'is-invalid':
                      purchaseForm.get('product_name').touched &&
                      purchaseForm.get('product_name').invalid
                  }"
                  (focus)="handleBarcodeInput($event)"
                  #nameInput
                  (keydown)="handleKeyDown($event)"
                />
                <div
                  class="suggestion-list position-fixed border-white shadow mt-1"
                  [style.width.px]="nameInput.offsetWidth"
                >
                  <ul
                    id="suggestionOptions"
                    class="list-unstyled"
                    style="margin: 0; padding: 0 1px"
                  >
                    <li
                      *ngFor="
                        let suggestion of productSuggestionList;
                        let i = index
                      "
                    >
                      <a
                        href="#"
                        class="dropdown-item italic-text"
                        style="color: black"
                        (click)="handleSuggestionClick($event, suggestion)"
                        [class.selected]="selectedIndex === i"
                        tabindex="0"
                      >
                        {{ suggestion.name }}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="form-group form-row">
                <div class="col">
                  <label for="product_quantity">Cantidad:</label>
                  <input
                    type="number"
                    id="product_quantity"
                    formControlName="product_quantity"
                    class="form-control text-right"
                    autocomplete="off"
                    step="0.01"
                    [ngClass]="{
                      'is-valid':
                        purchaseForm.get('product_quantity').touched &&
                        purchaseForm.get('product_quantity').valid,
                      'is-invalid':
                        purchaseForm.get('product_quantity').touched &&
                        purchaseForm.get('product_quantity').invalid
                    }"
                    #productQuantityInput
                  />
                </div>
                <div class="col">
                  <div class="d-flex justify-content-between">
                    <label for="product_price">Precio:</label>
                    <label
                      *ngIf="selectedProduct"
                      for=""
                      class="form-check-label text-right"
                      [ngStyle]="{
                        color: selectedProductTaxes ? 'green' : 'red'
                      }"
                    >
                      <!-- <input
                        type="checkbox"
                        class="form-check-input shadow"
                        formControlName="selectedProductTaxes"
                        [checked]="selectedProductTaxes"
                      /> -->
                      {{ selectedProductTaxes ? "Gravado" : "Exento" }}
                      {{ selectedProduct.taxPercentage / 100 | percent }}
                    </label>
                  </div>
                  <input
                    type="number"
                    id="product_price"
                    formControlName="product_price"
                    class="form-control text-right"
                    [value]="selectedProductPrice"
                    autocomplete="off"
                    tabindex="-10"
                    readonly
                  />
                </div>
              </div>

              <div
                class="form-group form-row"
                style="margin-top: 10px !important"
              >
                <div class="col">
                  <label for="product_new_price">Precio actual:</label>
                  <input
                    type="number"
                    id="product_new_price"
                    formControlName="product_new_price"
                    class="form-control text-right"
                    autocomplete="off"
                    step="0.01"
                    [ngClass]="{
                      'is-valid':
                        purchaseForm.get('product_new_price').touched &&
                        purchaseForm.get('product_quantity').valid,
                      'is-invalid':
                        purchaseForm.get('product_new_price').touched &&
                        purchaseForm.get('product_new_price').invalid
                    }"
                  />
                </div>
                <div class="col">
                  <div class="d-flex justify-content-center">
                    <button
                      type="button"
                      class="btn btn-primary shadow clic-on-image mt-4 mb-3"
                      (click)="addProduct()"
                    >
                      Agregar
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="table-container">
                <h6 class="h6 mb-1 text-center">Lista de productos</h6>
                <table
                  class="table table-hover"
                >
                  <thead>
                    <tr class="custom-row">
                      <th
                        class="text-left product-detail-list-title"
                        scope="col"
                        style="width: 120px"
                      >
                        Producto
                      </th>
                      <th
                        class="text-right product-detail-list-title"
                        scope="col"
                        style="width: 50px"
                      >
                        Cant.
                      </th>
                      <th
                        class="text-right product-detail-list-title"
                        scope="col"
                        style="width: 60px"
                      >
                        Precio
                      </th>
                      <th
                        class="text-right product-detail-list-title"
                        scope="col"
                        style="width: 25%"
                      >
                        Total
                      </th>
                      <th scope="col" style="width: 30px"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      class="custom-row"
                      *ngFor="let product of productList; let even = even"
                      [ngClass]="{ 'taxes-row': !product.taxes }"
                      [ngClass]="{
                        'table-row-even': even,
                        'table-row-odd': !even,
                        'animated-row': product.isNew || product.isRemoved
                      }"
                      [@slideInOut]="product.isNew ? 'in' : 'out'"
                      [@slideOut]="product.isRemoved ? 'out' : 'in'"
                      (@slideInOut.done)="product.isNew = true"
                      (@slideInOut.done)="product.isRemoved = false"
                    >
                      <td
                        class="text-left product-detail-table-content"
                        [title]="
                          'Impuestos: ' +
                          formatTaxPercentage(product.taxPercentage) +
                          '%'
                        "
                      >
                        {{ product.name }}
                      </td>
                      <td class="text-right product-detail-table-content">
                        {{ product.quantity | number : "1.2-2" }}
                      </td>
                      <td class="text-right product-detail-table-content">
                        {{
                          (product.sub_total + product.taxes_amount) /
                            product.quantity | currency : "CRC" : "₡"
                        }}
                      </td>
                      <td class="text-right product-detail-table-content">
                        {{
                          product.sub_total + product.taxes_amount
                            | currency : "CRC" : "₡"
                        }}
                      </td>
                      <td style="width: 50px; padding-top: 2px">
                        <a
                          type="button"
                          class="clic-on-image"
                          (click)="removeProduct(product)"
                        >
                          <i
                            class="fa-solid fa-trash"
                            style="
                              color: #fa0000;
                              cursor: pointer;
                              font-size: 10px;
                            "
                          ></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row mb-0 pb-0">
            <div class="col-md-6 table">
              <div class="row total-box">
                <div class="col-4">
                  <h6 class="total-box-titles">Sub Total</h6>
                  <p class="total-invoice">
                    {{ subTotalPurchaseAmount | currency : "CRC" : "₡" }}
                  </p>
                </div>
                <div class="col-4">
                  <h6 class="total-box-titles">I.V.A.</h6>
                  <p class="total-invoice">
                    {{ totalTaxesAmount | currency : "CRC" : "₡" }}
                  </p>
                </div>
                <div class="col-4">
                  <h6 class="total-box-titles">Total</h6>
                  <p class="total-invoice">
                    {{ totalPurchaseAmount | currency : "CRC" : "₡" }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button
            type="button"
            (click)="resetForm()"
            class="btn btn-danger border border-danger clic-on-image"
          >
            Reset
          </button>
          <div class="justify-content-center">
            <button
              *ngIf="getUserRole() !== 'user'"
              type="submit"
              class="btn btn-primary shadow mr-2 clic-on-image"
            >
              Guardar
            </button>
            <button
              type="button"
              class="btn btn-secondary clic-on-image"
              (click)="closePurchaseModal()"
            >
              Cancelar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal para consultar las compras -->
<div
  class="modal fade"
  id="purchaseHistoryModal"
  #purchaseHistoryModal
  tabindex="-1"
  role="dialog"
  aria-labelledby="purchaseHistoryModal"
  aria-hidden="true"
  style="height: 100vh"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-shadow">
      <div class="modal-header border">
        <h5 class="modal-title">
          <i class="fas fa-history"></i>&nbsp;Historial de compras
        </h5>
        <button
          type="button"
          class="close clic-on-icon"
          aria-label="Close"
          (click)="closePurchaseHistoryModal()"
        >
          <span aria-hidden="true"><i class="fas fa-close"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row d-flex justify-content-center">
            <div class="form-group sticky-top" style="max-width: 170px">
              <label for="purchase-date">Seleccione la fecha:</label>
              <input
                type="date"
                name="purchase-date"
                class="form-control input-group-text shadow mb-1"
                [(ngModel)]="selectedDate"
                (ngModelChange)="filterPurchasesByDate()"
                ngbDatepicker
                #datepicker="ngbDatepicker"
                [max]="getCurrentDateString()"
              />
            </div>
          </div>
        </form>
        <div class="container pt-2 history-card" *ngIf="purchases.length > 0">
          <!-- Aquí se muestra la lista de compras -->
          <div
            *ngFor="let purchase of purchases"
            class="card custom-card shadow mb-2"
          >
            <div class="sale-summary">
              <div class="card-header d-flex justify-content-start">
                <div
                  class="align-items-start"
                  style="height: 30px; width: 30px"
                >
                  <a
                    role="button"
                    class="ml-2"
                    (click)="togglePurchaseDetails(purchase)"
                    style="cursor: pointer"
                  >
                    <i
                      class="clic-on-icon"
                      [ngClass]="
                        purchase.showDetails
                          ? 'fas fa-light fa-circle-arrow-up text-danger'
                          : 'fas fa-light fa-circle-arrow-down text-success'
                      "
                    ></i>
                  </a>
                </div>
                <div class="d-block">
                  <h6
                    class="sale-id"
                    [ngClass]="{ 'text-danger': purchase.status === 'anulada' }"
                  >
                    Fact. {{ purchase.doc_number }}
                  </h6>
                  <p class="doc-number">{{ purchase.createdAt }}</p>
                </div>
              </div>
            </div>
            <div class="card-body mt-2" style="font-size: 0.8em">
              <div
                *ngIf="purchase.showDetails"
                [ngClass]="{
                  'sale-details': true,
                  'slide-down': purchase.showDetails,
                  'slide-up': !purchase.showDetails
                }"
              >
                <div class="row">
                  <div class="col-8">
                    <p>
                      Estado:
                      <span
                        [ngStyle]="{
                          color:
                            purchase.status === 'aceptado' ? 'green' : 'red'
                        }"
                        >&nbsp;{{ purchase.status }}</span
                      >
                    </p>
                  </div>
                  <div class="col-4">
                    <p class="text-right">
                      Sub Total:
                      {{
                        purchase.sub_total | currency : "CRC" : "₡" : "1.2-2"
                      }}
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-8">
                    <p>Proveedor:</p>
                    <p>{{ purchase.provider_name }}</p>
                  </div>
                  <div class="col-4">
                    <p class="text-right">
                      IVA:
                      {{
                        purchase.taxes_amount | currency : "CRC" : "₡" : "1.2-2"
                      }}
                    </p>
                    <p class="text-right">
                      <strong
                        >Total:
                        <span class="text-danger">
                          {{
                            purchase.total | currency : "CRC" : "₡" : "1.2-2"
                          }}
                        </span></strong
                      >
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-8">
                    <p>Fecha de creación:</p>
                    <p>{{ purchase.createdAt | date }}</p>
                  </div>
                  <div class="col-4"></div>
                </div>
                <table class="table">
                  <thead>
                    <tr class="custom-row">
                      <th class="text-left d-none d-md-table-cell">Cód.</th>
                      <th class="text-left">Producto</th>
                      <th class="text-right">Cant.</th>
                      <th class="text-right">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let item of purchase.purchaseItems;
                        let even = even
                      "
                      class="custom-row"
                    >
                      <td class="text-left d-none d-md-table-cell">
                        {{ item.int_code }}
                      </td>
                      <td class="text-left">{{ item.name }}</td>
                      <td class="text-right">
                        {{ item.quantity | number : "1.2-2" }}
                      </td>
                      <td class="text-right">
                        {{ item.total | currency : "CRC" : "₡" : "1.2-2" }}
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="card-footer pt-0 mt-0">
                  <div class="mb-2">
                    <button
                      *ngIf="
                        purchase.status === 'aceptado' &&
                        isCurrentDate(purchase.createdAt) &&
                        getUserRole() !== 'user'
                      "
                      class="btn btn-danger shadow clic-on-image mr-2"
                      (click)="
                        cancelPurchase(purchase);
                        togglePurchaseDetails(purchase)
                      "
                    >
                      Anular
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer mt-3">
        <button
          type="button"
          class="btn btn-secondary border border-secondary shadow clic-on-image"
          (click)="closePurchaseHistoryModal()"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
