<!-- Ficha Mis Productos -->
<header id="main-header" class="py-2 bg-info text-white main-board-style">
  <div class="container">
    <div class="row">
      <div class="col-md-8" [@fadeAnimation]>
        <h1><i class="fas fa-cog"></i> Mis productos</h1>
      </div>
    </div>
  </div>
</header>

<!-- Barra de búsqueda de productos -->
<div class="container pt-2 pb-2">
  <label for="search">Buscar producto:</label>
  <input
    type="text"
    id="search"
    [(ngModel)]="searchTerm"
    (ngModelChange)="filterProducts()"
    class="form-control shadow"
    placeholder="Ingresa tu búsqueda aquí..."
    autocomplete="off"
  />
</div>

<!-- Tabla con la lista de productos -->
<div
  class="container modal-container pt-2 mt-3"
  style="margin-bottom: 10%"
  [@fadeAnimation]
>
  <div
    class="modal-content modal-dialog-scrollable shadow"
    style="max-width: 100%; margin: 0 auto; margin-bottom: 120px"
  >
    <div class="modal-header w-100">
      <div class="d-flex justify-content-between align-items-center">
        <h4 class="h4">Lista de productos</h4>
        <button
          class="btn btn-primary shadow ml-4 clic-on-image"
          data-toggle="modal"
          data-target="#productModal"
          (click)="openProductModal(false, ''); this.editMode = false"
        >
          Agregar
        </button>
      </div>
    </div>
    <div class="w-100" style="height: calc(100% - 60px)">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr class="product-detail-table-titles">
              <th class="text-left">Código</th>
              <th class="text-left">Producto</th>
              <th class="text-right">Disponible</th>
              <th class="text-right">P. compra</th>
              <th class="text-right">Margen (%)</th>
              <th class="text-right">IVA (%)</th>
              <th class="text-right">P. venta</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let product of filteredProducts; let even = even"
              [ngClass]="{ 'table-row-even': even, 'table-row-odd': !even }"
              class="product-detail-list-item"
            >
              <td class="product-code">
                {{ product.int_code }}
              </td>
              <td>
                <span
                  class="product-name"
                  style="cursor: pointer"
                  (click)="product.showIcons = !product.showIcons"
                  tabindex="0"
                >
                  {{ product.name }}
                </span>
                <div
                  class="product-icons"
                  [ngClass]="{ 'show-icons': product.showIcons }"
                >
                  <a
                    role="button"
                    class="ml-2 mr-3"
                    data-toggle="modal"
                    data-target="#productModal"
                    (click)="
                      openProductModal(true, product.productId);
                      this.editMode = true
                    "
                  >
                    <i
                      class="fa-solid fa-pen-to-square clic-on-icon"
                      style="color: #1100fa; cursor: pointer"
                    ></i>
                  </a>
                  <a
                    class=""
                    data-toggle="modal"
                    data-target="#deletePasswordModal"
                    (click)="openPasswordModal(product.int_code)"
                  >
                    <i
                      class="fa-solid fa-trash clic-on-icon"
                      style="color: #fa0000; cursor: pointer"
                    ></i>
                  </a>
                </div>
              </td>
              <td class="text-right">
                {{ product.quantity | number : "1.2-2" }}
              </td>
              <td class="text-right">
                {{ product.purchase_price | currency : "CRC" : "₡" }}
              </td>
              <td class="text-right">{{ product.margin | number : "1.2-2"}} %</td>
              <td class="text-right"> {{ product.taxPercentage | number : "1.1-1" }} %</td>
              <td class="text-right price-cell">
                {{ product.sale_price | currency : "CRC" : "₡" }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Botón para ir al principio de la lista -->
<button
  class="btn btn-primary btn-floating shadow clic-on-image"
  (click)="scrollToTop()"
>
  <i class="fas fa-arrow-up"></i>
</button>

<!-- Modal para agregar/editar producto -->
<div
  class="modal fade"
  id="productModal"
  #productModal
  tabindex="-1"
  role="dialog"
  aria-labelledby="productModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content shadow">
      <div class="modal-header">
        <h5 class="modal-title" id="productModalLabel">
          {{ modalTitle }} de producto
        </h5>
        <button
          type="button"
          aria-label="Close"
          class="close clic-on-image"
          data-dismiss="modal"
          (click)="closeProductModal()"
        >
          <span aria-hidden="true">
            <i
              class="fa-sharp fa-solid fa-circle-xmark"
              style="color: #f40b0b"
            ></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="productForm">
          <div class="form-group">
            <label for="int_code">Código:</label>
            <input
              type="text"
              class="form-control shadow"
              id="int_code"
              formControlName="int_code"
              name="int_code"
              required
              #codeInput
              (input)="handleCodeInput($event.target)"
              (keypress)="disableEnterKey($event)"
              [ngClass]="{
                'is-valid':
                  productForm.get('int_code').touched &&
                  productForm.get('int_code').valid,
                'is-invalid':
                  productForm.get('int_code').touched &&
                  productForm.get('int_code').invalid
              }"
            />
          </div>
          <div class="form-group">
            <label for="productName">Nombre:</label>
            <input
              type="text"
              class="form-control shadow"
              id="productName"
              formControlName="name"
              name="name"
              required
              #nameInput
              [ngClass]="{
                'is-valid':
                  productForm.get('name').touched &&
                  productForm.get('name').valid,
                'is-invalid':
                  productForm.get('name').touched &&
                  productForm.get('name').invalid
              }"
            />
          </div>
          <div class="form-group">
            <label for="productDescription">Descripción:</label>
            <textarea
              class="form-control shadow"
              id="productDescription"
              formControlName="description"
              name="description"
              rows="3"
              [ngClass]="{
                'is-valid':
                  productForm.get('description').touched &&
                  productForm.get('description').valid,
                'is-invalid':
                  productForm.get('description').touched &&
                  productForm.get('description').invalid
              }"
            ></textarea>
          </div>
          <div class="form-group form-row">
            <div class="col">
              <label for="purchase_price">Precio de compra:</label>
              <input
                type="number"
                class="form-control shadow text-right"
                id="purchase_price"
                formControlName="purchase_price"
                name="purchase_price"
                (change)="calculateTotal(true)"
                pattern="^[0-9]+(\.[0-9]{1,2})?$"
                step="0.01"
                required
                [ngClass]="{
                  'is-valid':
                    productForm.get('purchase_price').touched &&
                    productForm.get('purchase_price').valid,
                  'is-invalid':
                    productForm.get('purchase_price').touched &&
                    productForm.get('purchase_price').invalid
                }"
              />
            </div>
            <div class="col">
              <label for="sale_price">Precio de venta:</label>
              <input
                type="number"
                class="form-control shadow text-right"
                id="sale_price"
                formControlName="sale_price"
                name="sale_price"
                (change)="calculateTotal(true)"
                pattern="^[0-9]+(\.[0-9]{1,2})?$"
                readonly
              />
            </div>
          </div>
          <div class="form-group form-row">
            <div class="col">
              <label for="productMargin">Margen de ganancia (%):</label>
              <input
                type="number"
                class="form-control shadow text-right"
                id="productMargin"
                formControlName="margin"
                name="margin"
                (change)="calculateTotal(true)"
                required
                step="0.001"
                pattern="^[0-9]+(\.[0-9]{1,3})?$"
                [ngClass]="{
                  'is-valid':
                    productForm.get('margin').touched &&
                    productForm.get('margin').valid,
                  'is-invalid':
                    productForm.get('margin').touched &&
                    productForm.get('margin').invalid
                }"
              />
            </div>
            <div class="col">
              <label for="taxes">Impuestos (%):</label>
              <label for="taxPercentage" class="form-check-label ml-5">
                <input
                  type="checkbox"
                  id="taxes"
                  class="form-check-input shadow"
                  formControlName="taxes"
                  name="taxes"
                  (change)="toggleTaxPercentage(); calculateTotal(true)"
                />
                {{ productForm.get("taxes").value ? "Gravado" : "Exento" }}
              </label>
              <input
                type="number"
                class="form-control shadow text-right"
                id="taxPercentage"
                formControlName="taxPercentage"
                name="taxPercentage"
                (change)="calculateTotal(true)"
                [value]="getTaxPercentageValue()"
                required
                min="0"
                max="100"
                pattern="^[0-9]+(\.[0-9]{1,2})?$"
                [ngClass]="{
                  'is-valid':
                    productForm.get('taxPercentage').touched &&
                    productForm.get('taxPercentage').valid,
                  'is-invalid':
                    productForm.get('taxPercentage').touched &&
                    productForm.get('taxPercentage').invalid
                }"
              />
            </div>
          </div>

          <div class="modal-footer">
            <button
              *ngIf="this.editMode === false"
              type="button"
              class="btn btn-primary shadow clic-on-image"
              (click)="createProduct()"
            >
              Guardar
            </button>
            <button
              *ngIf="this.editMode === true"
              type="button"
              class="btn btn-primary shadow clic-on-image"
              (click)="editProduct(productForm.get('productId').value)"
            >
              Editar
            </button>
            <button
              type="button"
              class="btn btn-secondary shadow clic-on-image"
              data-dismiss="modal"
              (click)="closeProductModal()"
            >
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal contraseña para eliminar producto -->
<div
  class="modal fade"
  id="deletePasswordModal"
  #deletePasswordModal
  tabindex="-1"
  role="dialog"
  aria-labelledby="deletePasswordModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content shadow">
      <div class="modal-header">
        <h2 class="modal-title">Eliminar producto</h2>
        <span
          class="close clic-on-image"
          (click)="closePasswordModal()"
          data-dismiss="modal"
          aria-hidden="true"
          ><i
            class="fa-sharp fa-solid fa-circle-xmark"
            style="color: #f40b0b; cursor: pointer"
          ></i
        ></span>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="deleteProduct">Producto a eliminar:</label>
            <input
              type="text"
              id="deleteProduct"
              class="form-control shadow"
              name="name"
              [value]="productForm.get('name').value"
              autocomplete="off"
            />
            <label for="password">Contraseña:</label>
            <input
              type="password"
              id="password"
              class="form-control shadow"
              name="password"
              [(ngModel)]="password"
              autocomplete="off"
            />
          </div>
          <div class="modal-footer">
            <button
              type="submit"
              class="btn btn-primary clic-on-image"
              data-dismiss="modal"
              (click)="deleteProduct(productForm.get('int_code').value)"
            >
              Guardar
            </button>
            <button
              type="button"
              class="btn btn-secondary clic-on-image"
              (click)="closePasswordModal()"
              data-dismiss="modal"
            >
              Cerrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
