<header id="main-header" class="py-2 bg-info text-white main-board-style">
  <div class="container">
    <div class="row">
      <div class="col-md-8" [@fadeAnimation]>
        <h1><i class="fas fa-cog"></i> Mis productos</h1>
      </div>
    </div>
  </div>
</header>

<!-- Barra de búsqueda de productos -->
<div class="container pt-2 pb-2">
  <label for="search">Buscar producto:</label>
  <input
    type="text"
    id="search"
    [(ngModel)]="searchTerm"
    (ngModelChange)="filterProducts()"
    class="form-control shadow"
    placeholder="Ingresa tu búsqueda aquí..."
    autocomplete="off"
  />
</div>

<!-- Tabla con la lista de productos -->
<div
  class="container modal-container pt-2 mt-3"
  style="margin-bottom: 10%"
  [@fadeAnimation]
>
  <div
    class="modal-content modal-dialog-scrollable shadow"
    style="max-width: 100%; margin: 0 auto; margin-bottom: 120px"
  >
    <div class="modal-header w-100">
      <div class="d-flex justify-content-between align-items-center">
        <h4 class="h4">Lista de productos</h4>
        <button
          class="btn btn-primary shadow ml-4 clic-on-image"
          data-toggle="modal"
          data-target="#addProductModal"
          (click)="openAddProductModal()"
        >
          Agregar
        </button>
      </div>
    </div>
    <div class="w-100" style="height: calc(100% - 60px)">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="text-left">Código</th>
              <th class="text-left">Producto</th>
              <th class="text-right">Cant. disponible</th>
              <th class="text-right">Precio de compra</th>
              <th class="text-right">Precio de venta</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of filteredProducts; let even = even" [ngClass]="{ 'table-row-even': even, 'table-row-odd': !even }">
              <td class="product-code">
                {{ product.int_code }}
              </td>
              <td>
                <span
                  class="product-name"
                  style="cursor: pointer"
                  (click)="product.showIcons = !product.showIcons"
                  tabindex="0"
                >
                   {{ product.name }}
                </span>
                <div
                  class="product-icons"
                  [ngClass]="{ 'show-icons': product.showIcons }"
                >
                  <a
                    role="button"
                    data-toggle="modal"
                    data-target="#editProductModal"
                    class="ml-2 mr-3"
                    (click)="openEditModal(product.int_code)"
                  >
                    <i
                      class="fa-solid fa-pen-to-square clic-on-icon"
                      style="color: #1100fa; cursor: pointer"
                    ></i>
                  </a>
                  <a
                    class=""
                    data-toggle="modal"
                    data-target="#deletePasswordModal"
                    (click)="openPasswordModal(product.int_code)"
                  >
                    <i
                      class="fa-solid fa-trash clic-on-icon"
                      style="color: #fa0000; cursor: pointer"
                    ></i>
                  </a>
                </div>
              </td>
              <td class="text-right">
                {{ product.quantity | number : "1.2-2" }}
              </td>
              <td class="text-right">
                {{ product.purchase_price | currency : "CRC" : "₡" }}
              </td>
              <td class="text-right price-cell">
                {{ product.sale_price | currency : "CRC" : "₡" }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Botón para ir al principio de la lista -->
<button
  class="btn btn-primary btn-floating shadow clic-on-image"
  (click)="scrollToTop()"
>
  <i class="fas fa-arrow-up"></i>
</button>

<!-- Modal para edición de productos -->
<div
  class="modal fade"
  id="editProductModal"
  #editProductModal
  tabindex="-1"
  role="dialog"
  aria-labelledby="editProductModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content shadow">
      <div class="modal-header">
        <h4 class="modal-title">Editar Producto</h4>
        <button
          type="button"
          data-dismiss="modal"
          aria-label="Close"
          class="close clic-on-image"
          (click)="closeEditModal()"
        >
          <span aria-hidden="true">
            <i
              class="fa-sharp fa-solid fa-circle-xmark"
              style="color: #f40b0b"
            ></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm" (ngSubmit)="editProduct()">
          <div class="form-group">
            <label for="int_code">Código:</label>
            <input
              type="text"
              id="int_code"
              class="form-control shadow"
              formControlName="int_code"
              autocomplete="off"
              [value]="editForm.get('int_code').value"
            />
          </div>
          <div class="form-group">
            <label for="name">Nombre:</label>
            <input
              type="text"
              id="name"
              class="form-control shadow"
              formControlName="name"
              autocomplete="off"
              [value]="editForm.get('name').value"
            />
          </div>
          <div class="form-group">
            <label for="description">Descripción:</label>
            <textarea
              id="description"
              class="form-control shadow"
              rows="3"
              formControlName="description"
              >{{ editForm.get("description").value }}</textarea
            >
          </div>
          <div class="form-group">
            <label for="quantity">Cantidad:</label>
            <input
              type="number"
              id="quantity"
              class="form-control shadow"
              formControlName="quantity"
              autocomplete="off"
              [value]="editForm.get('quantity').value"
              step="0.1"
            />
          </div>
          <div class="form-group">
            <label for="purchase_price">Precio de Compra:</label>
            <input
              type="number"
              id="purchase_price"
              class="form-control shadow"
              formControlName="purchase_price"
              autocomplete="off"
              [value]="editForm.get('purchase_price').value"
              (change)="
                calculateTotal(
                  editForm.get('purchase_price').value,
                  editForm.get('margin').value,
                  editForm.get('taxes').value,
                  editForm.get('taxPercentage').value,
                  true
                )
              "
            />
          </div>
          <div class="form-group">
            <label for="productMargin">Margen de ganancia:</label>
            <label for="" class="form-check-label ml-5">
              <input
                type="checkbox"
                id="taxes"
                class="form-check-input shadow"
                formControlName="taxes"
                (change)="
                  toggleTaxes();
                  calculateTotal(
                    editForm.get('purchase_price').value,
                    editForm.get('margin').value,
                    editForm.get('taxes').value,
                    editForm.get('taxPercentage').value,
                    true
                  )
                "
              />
              {{ editForm.get("taxes").value ? "Gravado" : "Exento" }}
            </label>
            <input
              type="number"
              id="productMargin"
              class="form-control shadow"
              formControlName="margin"
              autocomplete="off"
              [value]="editForm.get('margin').value"
              (ngModelChange)="
                calculateTotal(
                  editForm.get('purchase_price').value,
                  editForm.get('margin').value,
                  editForm.get('taxes').value,
                  editForm.get('taxPercentage').value,
                  true
                )
              "
              step="0.001"
            />
          </div>
          <div class="form-group">
            <label for="taxPercentage">Porcentaje de Impuestos:</label>
            <input
              type="number"
              id="taxPercentage"
              class="form-control shadow"
              formControlName="taxPercentage"
              autocomplete="off"
              [value]="editForm.get('taxPercentage').value"
              step="0.01"
              (ngModelChange)="
                calculateTotal(
                  editForm.get('purchase_price').value,
                  editForm.get('margin').value,
                  editForm.get('taxes').value,
                  editForm.get('taxPercentage').value,
                  true
                )
              "
            />
          </div>
          <div class="form-group">
            <label for="salePrice">Precio de Venta:</label>
            <input
              type="number"
              id="salePrice"
              class="form-control shadow"
              formControlName="sale_price"
              (change)="
                calculateTotal(
                  editForm.get('purchase_price').value,
                  editForm.get('margin').value,
                  editForm.get('taxes').value,
                  editForm.get('taxPercentage').value,
                  true
                )
              "
              autocomplete="off"
              [value]="editForm.get('sale_price').value"
            />
          </div>
          
          <div class="modal-footer">
            <button
              type="submit"
              class="btn btn-primary shadow clic-on-image"
              data-dismiss="modal"
              (click)="editProduct()"
            >
              Guardar
            </button>
            <button
              type="button"
              class="btn btn-secondary shadow clic-on-image"
              (click)="closeEditModal()"
              data-dismiss="modal"
            >
              Cerrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal para agregar nuevo producto -->
<div
  class="modal fade"
  id="addProductModal"
  #addProductModal
  tabindex="-1"
  role="dialog"
  aria-labelledby="addProductModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content shadow">
      <div class="modal-header">
        <h5 class="modal-title" id="addProductModalLabel">
          Agregar nuevo producto
        </h5>
        <button
          type="button"
          data-dismiss="modal"
          aria-label="Close"
          class="close clic-on-image"
          (click)="closeAddProductModal()"
        >
          <span aria-hidden="true"
            ><i
              class="fa-sharp fa-solid fa-circle-xmark"
              style="color: #f40b0b"
            ></i
          ></span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="productCode">Código:</label>
            <input
              type="text"
              class="form-control shadow"
              id="deleteCode"
              [(ngModel)]="newProduct.code"
              name="productCode"
              autocomplete="off"
              required
            />
          </div>
          <div class="form-group">
            <label for="productName">Nombre:</label>
            <input
              type="text"
              class="form-control shadow"
              id="productName"
              [(ngModel)]="newProduct.name"
              name="productName"
              autocomplete="off"
              required
            />
          </div>
          <div class="form-group">
            <label for="productDescription">Descripción:</label>
            <textarea
              class="form-control shadow"
              id="productDescription"
              [(ngModel)]="newProduct.description"
              name="productDescription"
              rows="3"
            ></textarea>
          </div>
          <div class="form-group">
            <label for="productPrice">Precio de compra:</label>
            <input
              type="number"
              class="form-control shadow"
              id="productPrice"
              [(ngModel)]="newProduct.purchase_price"
              name="productPrice"
              required
              autocomplete="off"
              (ngModelChange)="
                calculateTotal(
                  newProduct.purchase_price,
                  newProduct.margin,
                  newProduct.taxes,
                  newProduct.taxPercentage
                )
              "
            />
          </div>
          <div class="form-group">
            <label for="productMargin">Margen de ganancia:</label>
            <label for="" class="form-check-label ml-5">
              <input
                type="checkbox"
                class="form-check-input shadow"
                style="margin-top: 7px"
                name="activateRegister"
                [(ngModel)]="newProduct.taxes"
                [checked]="newProduct.taxes"
                (ngModelChange)="
                  isTaxed = !isTaxed;
                  calculateTotal(
                    newProduct.purchase_price,
                    newProduct.margin,
                    newProduct.taxes,
                    newProduct.taxPercentage
                  )
                "
              />
              {{ isTaxed ? "Gravado" : "Exento" }}
            </label>
            <input
              type="number"
              class="form-control shadow"
              id="productMargin1"
              [(ngModel)]="newProduct.margin"
              name="productMargin"
              required
              autocomplete="off"
              (ngModelChange)="
                calculateTotal(
                  newProduct.purchase_price,
                  newProduct.margin,
                  newProduct.taxes,
                  newProduct.taxPercentage
                )
              "
            />
          </div>
          <div class="form-group">
            <label for="taxPercentage">Porcentaje de Impuestos (%):</label>
            <input
              type="number"
              class="form-control shadow"
              id="taxPercentage"
              [(ngModel)]="newProduct.taxPercentage"
              name="taxPercentage"
              required
              autocomplete="off"
              step="0.01"
              min="0"
              max="100"
              pattern="^[0-9]+(\.[0-9]{1,2})?$"
              [ngModelOptions]="{ updateOn: 'blur' }"
              (blur)="limitDecimals('taxPercentage')"
              (ngModelChange)="
                calculateTotal(
                  newProduct.purchase_price,
                  newProduct.margin,
                  newProduct.taxes,
                  newProduct.taxPercentage
                )
              "
            />
          </div>
          <div class="form-group">
            <label for="productTotal">Precio de venta:</label>
            <input
              type="number"
              class="form-control shadow"
              id="productTotal"
              [(ngModel)]="newProduct.sale_price"
              name="salePrice"
              readonly
              autocomplete="off"
              (ngModelChange)="
                calculateTotal(
                  newProduct.purchase_price,
                  newProduct.margin,
                  newProduct.taxes,
                  newProduct.taxPercentage
                )
              "
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary shadow clic-on-image"
          (click)="addProduct()"
          data-dismiss="modal"
        >
          Guardar
        </button>
        <button
          type="button"
          class="btn btn-secondary shadow clic-on-image"
          (click)="closeAddProductModal()"
          data-dismiss="modal"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal contraseña para eliminar producto -->
<div
  class="modal fade"
  id="deletePasswordModal"
  #deletePasswordModal
  tabindex="-1"
  role="dialog"
  aria-labelledby="deletePasswordModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content shadow">
      <div class="modal-header">
        <h2 class="modal-title">Eliminar producto</h2>
        <span
          class="close clic-on-image"
          (click)="closePasswordModal()"
          data-dismiss="modal"
          aria-hidden="true"
          ><i
            class="fa-sharp fa-solid fa-circle-xmark"
            style="color: #f40b0b; cursor: pointer"
          ></i
        ></span>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="editIntCode">Producto a eliminar:</label>
            <input
              type="text"
              id="editIntCode"
              class="form-control shadow"
              name="name"
              [value]="editForm.get('name').value"
              autocomplete="off"
            />
            <label for="password">Contraseña:</label>
            <input
              type="password"
              id="password"
              class="form-control shadow"
              name="password"
              [(ngModel)]="password"
              autocomplete="off"
            />
          </div>
          <div class="modal-footer">
            <button
              type="submit"
              class="btn btn-primary clic-on-image"
              data-dismiss="modal"
              (click)="deleteProduct(editForm.get('int_code').value)"
            >
              Guardar
            </button>
            <button
              type="button"
              class="btn btn-secondary clic-on-image"
              (click)="closePasswordModal()"
              data-dismiss="modal"
            >
              Cerrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
