/* .fade {
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  
  .fade.show {
    opacity: 1;
  } */

  td {
    padding-top: 9px;
    padding-bottom: 9px;
  }
  
  th {
    padding-top: 10px;
    padding-bottom: 10px;
  }

/* .product-list-header {
  padding-top: 8px;
  padding-bottom: 8px;
} */

/* Estilos para dispositivos móviles */
@media screen and (max-width: 900px) {
  .d-flex {
    flex-wrap: wrap;
  }

  .product-name {
    text-align: left;
    width: 100%;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
  }

  .product-icons {
    flex: content;
    justify-content: space-between;
  }
}

.icon-container {
  position: initial;
  width: 450px;
  padding-left: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.utilitary-icons {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.utilitary-icons.show-icons {
  opacity: 1;
  max-height: 100px; /* Ajusta la altura máxima según tus necesidades */
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

/* Establece un ancho fijo para todas las columnas en la tabla */
th, td {
  white-space: nowrap; 
  min-width: 100px; 
  max-width: 100px;
  overflow: hidden; 
  text-overflow: ellipsis; 
}

/* Establece el ancho fijo para todas las columnas en dispositivos móviles */
@media (max-width: 767px) {
  th, td {
    width: auto;
    min-width: auto; 
    max-width: auto; 
    overflow: visible; 
    text-overflow: clip; 
  }
  th:nth-child(4){
    min-width: 190px;
  }
  td:nth-child(1) {
    min-width: 150px;
  }
  td:nth-child(4) {
    min-width: 200;
  }
}
