<!-- Ficha Mis Productos -->
<header id="main-header" class="pb-2">
  <div class="container">
    <div class="row pt-2">
      <div class="col-md-8" [@fadeAnimation]>
        <h1><i class="fas fa-list"></i> Mis productos</h1>
      </div>
      <div
        class="d-flex justify-content-center justify-content-md-center col-md-3 text-center"
      >
        <input
          [@fadeAnimation]
          type="search"
          #productSearch
          id="productSearch"
          [(ngModel)]="searchTerm"
          (ngModelChange)="filterProducts(productSearch.value)"
          class="form-control no-submit mt-1"
          placeholder="Ingresa tu búsqueda aquí..."
          autocomplete="off"
          [spellcheck]="false"
          style="max-width: 220px;"
        />
      </div>
    </div>
  </div>
</header>

<!-- Tabla con la lista de productos -->
<div class="d-flex justify-content-center container mt-4 final-div"  [@fadeAnimation]>
  <div class="modal-content " style="max-width: 80%;">
    <div class="card-header product-list-header border">
      <div class="row ">
        <div class="col-md-6 align-items-center">
          <!-- Encabezado del listado -->
          <h5 class="modal-title">
            <i class="fas fa-list-check"></i>&nbsp;Lista de productos
          </h5>
        </div>
        <div class="col-md-6">
          <!-- Contenedor de los botones Agregar, Anterior y Siguiente -->
          <div class="d-flex justify-content-between justify-content-md-end">
            <button
              class="btn btn-primary border-primary shadow clic-on-image me-4"
              (click)="openProductModal(false, null); this.editMode = false"
              [disabled]="getUserRole() === 'user'"
            >
              Agregar
            </button>
            <div>
              <button
                class="btn btn-warning border-warning shadow clic-on-image me-2"
                (click)="prevPage()"
                [disabled]="page === 0"
                style="color: white !important"
              >
                <span><i class="fa-solid fa-arrow-left"></i></span>
                <span class="d-md-none"></span>
              </button>
              <button
                class="btn btn-success border-success shadow clic-on-image"
                (click)="nextPage()"
                [disabled]="
                  (products | productsFilter : page : searchTerm).length < 7
                "
              >
                <span class="d-md-none"></span>
                <span><i class="fa-solid fa-arrow-right"></i></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 modal-body pt-0 pb-0">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr class="product-detail-table-titles">
              <th class="text-left" >Producto</th>
              <th class="text-end">Disponible</th>
              <th class="text-end" style="width: 10%">P. Compra</th>
              <th class="text-end d-none d-md-table-cell" style="width: 8%">
                Margen
              </th>
              <th class="text-end d-none d-md-table-cell" style="width: 5%">
                I.V.A.
              </th>
              <th class="text-end" style="width: 12%">P. Venta</th>
            </tr>
          </thead>
          <tbody class="">
            <tr
              *ngFor="
                let product of filteredProducts
                  | productsFilter : page : searchTerm;
                let even = even
              "
              [ngClass]="{ 'table-row-even': even, 'table-row-odd': !even }"
              class="row-selected"
            >
              <td class="left-curved">
                <span class="product-name-column" (click)="toggleIcons(product)">{{
                  product.name
                }}</span>
                <div
                  class="utilitary-icons"
                  [ngClass]="{
                    'show-icons': product.showIcons,
                    'hide-icons': !product.showIcons
                  }"
                >
                  <a
                    role="button"
                    class="me-3"
                    (click)="
                      openProductModal(true, product); this.editMode = true
                    "
                  >
                    <i
                      class="fas fa-solid fa-pen-to-square clic-on-icon"
                      style="color: #1100fa; cursor: pointer"
                    ></i>
                  </a>
                  <a
                    class="me-2"
                    *ngIf="getUserRole() !== 'user'"
                    (click)="openPasswordModal(product)"
                  >
                    <i
                      class="fas fa-solid fa-trash clic-on-icon"
                      style="color: #fa0000; cursor: pointer"
                    ></i>
                  </a>
                </div>
              </td>
              <td class="text-end" style="min-width: 100px">
                {{ product.quantity | number : "1.2-2" }}
              </td>
              <td class="text-end" style="min-width: 100px">
                {{ product.purchase_price | currency : "CRC" : "₡" }}
              </td>
              <td
                class="text-end d-none d-md-table-cell"
                style="min-width: 75px"
              >
                {{ product.margin | number : "1.2-2" }} %
              </td>
              <td
                class="text-end d-none d-md-table-cell"
                style="min-width: 75px"
              >
                {{ product.taxPercentage | number : "1." }} %
              </td>
              <td class="right-curved text-end price-cell">
                {{ product.sale_price | currency : "CRC" : "₡" }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      *ngIf="(products | productsFilter : page : searchTerm).length === 0"
      class="modal-footer d-flex justify-content-center pt-4"
      >
      
      <h4 class="h4 text-danger text-center pb-4" [@fadeAnimation]>
        <i class="fas fa-exclamation-circle"></i>&nbsp;No hay coincidencia de
        producto.
      </h4>
    </div>
  </div>
</div>

<!-- Modal para agregar/editar producto -->
<div
  class="modal fade"
  id="productModal"
  #productModal
  tabindex="-1"
  role="dialog"
  aria-labelledby="productModalLabel"
  
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-shadow">
      <div class="modal-header border">
        <h5 class="modal-title" id="productModalLabel">
          <i class="fas fa-edit"></i>&nbsp;{{ modalTitle }} de producto
        </h5>
        <button
          type="button"
          aria-label="Close"
          class="roundButton clic-on-icon"
          (click)="closeProductModal()"
        >
          <span >
            <i class="fa-solid fa-xmark text-danger fs-4"></i>
          </span>
        </button>
      </div>
      <form [formGroup]="productForm" (ngSubmit)="createProduct($event)">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <label for="int_code" class="form-label">Código:</label>
              <input
                type="text"
                class="form-control"
                id="int_code"
                formControlName="int_code"
                name="int_code"
                required
                #codeInput
                (input)="handleCodeInput($event.target)"
                [ngClass]="{
                  'is-valid':
                    productForm.get('int_code').touched &&
                    productForm.get('int_code').valid,
                  'is-invalid':
                    productForm.get('int_code').touched &&
                    productForm.get('int_code').invalid
                }"
              />
            </div>
            <div class="col-md-6">
              <label for="category_id" class="form-label">Categoría:</label>
              <select
                type="select"
                formControlName="category_id"
                id="category_id"
                required
                class="form-select"
                [ngClass]="{
                  'is-valid':
                    productForm.get('category_id').touched &&
                    productForm.get('category_id').valid,
                  'is-invalid':
                    productForm.get('category_id').touched &&
                    productForm.get('category_id').invalid
                }"
              >
                <option [value]="null" disabled selected>Seleccione categoría...</option>
                <option
                  *ngFor="let category of categoryOptions"
                  [value]="category.value"
                >
                  {{ category.label }}
                </option>
              </select>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <label for="productName" class="form-label">Nombre:</label>
              <input
                type="text"
                class="form-control"
                id="productName"
                formControlName="name"
                name="name"
                required
                #nameInput
                [ngClass]="{
                  'is-valid':
                    productForm.get('name').touched &&
                    productForm.get('name').valid,
                  'is-invalid':
                    productForm.get('name').touched &&
                    productForm.get('name').invalid
                }"
              />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <label for="productDescription" class="form-label">Descripción:</label>
              <textarea
                class="form-control"
                id="productDescription"
                formControlName="description"
                name="description"
                rows="3"
                [ngClass]="{
                  'is-valid':
                    productForm.get('description').touched &&
                    productForm.get('description').valid,
                  'is-invalid':
                    productForm.get('description').touched &&
                    productForm.get('description').invalid
                }"
              ></textarea>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <label for="purchase_price" class="form-label">Precio de compra:</label>
              <input
                type="number"
                class="form-control text-end"
                id="purchase_price"
                formControlName="purchase_price"
                name="purchase_price"
                (change)="calculateTotal(true)"
                pattern="^[0-9]+(\.[0-9]{1,5})?$"
                step="0.01"
                required
                [ngClass]="{
                  'is-valid':
                    productForm.get('purchase_price').touched &&
                    productForm.get('purchase_price').valid,
                  'is-invalid':
                    productForm.get('purchase_price').touched &&
                    productForm.get('purchase_price').invalid
                }"
              />
            </div>
            <div class="col-md-6">
              <label for="sale_price" class="form-label">Precio de venta:</label>
              <input
                type="number"
                class="form-control text-end"
                id="sale_price"
                formControlName="sale_price"
                name="sale_price"
                (change)="calculateTotal(true)"
                pattern="^[0-9]+(\.[0-9]{1,2})?$"
                readonly
              />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <label for="productMargin" class="form-label">Margen de ganancia (%):</label>
              <input
                type="number"
                class="form-control text-end"
                id="productMargin"
                formControlName="margin"
                name="margin"
                (change)="calculateTotal(true)"
                required
                step="0.001"
                pattern="^[0-9]+(\.[0-9]{1,5})?$"
                [ngClass]="{
                  'is-valid':
                    productForm.get('margin').touched &&
                    productForm.get('margin').valid,
                  'is-invalid':
                    productForm.get('margin').touched &&
                    productForm.get('margin').invalid
                }"
              />
            </div>
            <div class="col-md-6 ">
              <div class="form-check form-switch">
                <label class="form-check-label text-start me-4" for="taxPercentage"
                  >Impuestos:</label
                >
                <input
                  type="checkbox"
                  id="taxes"
                  class="form-check-input"
                  formControlName="taxes"
                  [checked]="productForm.get('taxes').value"
                  (change)="calculateTotal(true)"
                  (click)="toggleTaxPercentage()"
                />
                <label
                for="taxes"
                class="form-label ms-2"
                [ngClass]="{
                  'text-success': productForm.get('taxes').value,
                  'text-danger': !productForm.get('taxes').value
                }"
              >
                {{ productForm.get("taxes").value ? "Gravado" : "Exento" }}
              </label>
              </div>
             
              <input
                type="number"
                class="form-control text-end"
                id="taxPercentage"
                formControlName="taxPercentage"
                name="taxPercentage"
                (change)="calculateTotal(true)"
                [value]="getTaxPercentageValue()"
                required
                min="0"
                max="100"
                pattern="^[0-9]+(\.[0-9]{1,2})?$"
                [ngClass]="{
                  'is-valid':
                    productForm.get('taxPercentage').touched &&
                    productForm.get('taxPercentage').valid,
                  'is-invalid':
                    productForm.get('taxPercentage').touched &&
                    productForm.get('taxPercentage').invalid
                }"
              />
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button
            type="button"
            (click)="resetProductForm()"
            class="btn btn-danger border border-danger clic-on-image"
          >
            Reset
          </button>
          <div class="justify-content-center">
            <button
              *ngIf="this.editMode === false && getUserRole() !== 'user'"
              type="submit"
              class="btn btn-primary shadow clic-on-image me-2"
            >
              Guardar
            </button>
            <button
              *ngIf="this.editMode === true && getUserRole() !== 'user'"
              type="button"
              class="btn btn-primary shadow clic-on-image me-2"
              (click)="editProduct()"
            >
              Guardar
            </button>
            <button
              type="button"
              class="btn btn-secondary shadow clic-on-image"
              (click)="closeProductModal()"
            >
              Cancelar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal contraseña para eliminar producto -->
<div
  class="modal fade"
  id="deletePasswordModal"
  #deletePasswordModal
  tabindex="-1"
  role="dialog"
  aria-labelledby="deletePasswordModalLabel"
  
>
  <div class="d-flex align-content-center justify-content-center">
    <div
      class="modal-dialog modal-dialog-centered"
      role="document"
      style="width: 300px"
    >
      <div class="modal-content modal-shadow">
        <div class="modal-header border">
          <h5 class="modal-title">
            <i class="fas fa-eraser"></i> Eliminar producto
          </h5>
          <button class="roundButton clic-on-icon" (click)="closePasswordModal()">
            <span ><i class="fa-solid fa-xmark text-danger fs-4"></i></span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="deleteProduct" class="form-label">Producto a eliminar:</label>
              <input
                type="text"
                id="deleteProduct"
                class="form-control"
                name="name"
                [value]="productToDelete?.name"
                autocomplete="off"
              />
              <label for="password">Contraseña:</label>
              <input
                type="password"
                id="password"
                class="form-control"
                name="password"
                [(ngModel)]="password"
                autocomplete="off"
              />
            </div>
            <div class="modal-footer">
              <button
                type="submit"
                class="btn btn-primary clic-on-image"
                (click)="deleteProduct(productToDelete)"
              >
                Guardar
              </button>
              <button
                type="button"
                class="btn btn-secondary clic-on-image"
                (click)="closePasswordModal()"
              >
                Cerrar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
