<!-- Encabezado de componente Mis Usuarios -->
<header id="main-header" class="pb-2 bg-info text-white main-board-style">
  <div class="container">
    <div class="row pt-2">
      <div class="col-md-8" [@fadeAnimation]>
        <h1><i class="fas fa-users-rectangle"></i> Registro de usuarios</h1>
      </div>
      <div class="col-md-4 d-none d-md-block" style="visibility: hidden">
        <input
          type="search"
          id="search"
          class="form-control"
          placeholder="Ingresa tu búsqueda aquí..."
          autocomplete="off"
        />
      </div>
    </div>
  </div>
</header>

<!-- Formulario registro de usuarios -->
<section
  id="registro"
  class="align-content-center"
  [@fadeAnimation]
  *ngIf="allowRegisterUsers$ | async"
>
  <div class="container final-div">
    <div class="row">
      <div class="col col-md-4">
        <div class="card shadow mb-3">
          <div class="card-header modal-header">
            <h4 class="text-center">
              <i class="fa fa-person-circle-check"></i> Datos personales
            </h4>
          </div>
          <form [formGroup]="newUserForm" (ngSubmit)="registerNewUser()">
            <div class="card-body">
              <div class="form-group mt-3">
                <label for="name" class="floating-label">Nombre:</label>
                <input
                  type="text"
                  class="form-control mb-4"
                  autofocus
                  id="name"
                  formControlName="name"
                  autocomplete="off"
                  (focus)="addFloatingLabelClass('name')"
                  (blur)="removeFloatingLabelClass('name')"
                  style="margin-bottom: 30px"
                  [ngClass]="{
                    'is-valid':
                      newUserForm.get('name').touched &&
                      newUserForm.get('name').valid,
                    'is-invalid':
                      newUserForm.get('name').touched &&
                      newUserForm.get('name').invalid
                  }"
                />
              </div>
              <div class="form-group">
                <label for="lastname" class="floating-label">Apellidos:</label>
                <input
                  type="text"
                  class="form-control mb-4"
                  id="lastname"
                  formControlName="lastname"
                  autocomplete="off"
                  (focus)="addFloatingLabelClass('lastname')"
                  (blur)="removeFloatingLabelClass('lastname')"
                  [ngClass]="{
                    'is-valid':
                      newUserForm.get('lastname').touched &&
                      newUserForm.get('lastname').valid,
                    'is-invalid':
                      newUserForm.get('lastname').touched &&
                      newUserForm.get('lastname').invalid
                  }"
                />
              </div>
              <div class="form-group">
                <label for="username" class="floating-label">Usuario:</label>
                <input
                  type="text"
                  class="form-control mb-4"
                  id="username"
                  formControlName="username"
                  autocomplete="off"
                  (focus)="addFloatingLabelClass('username')"
                  (blur)="removeFloatingLabelClass('username')"
                  [ngClass]="{
                    'is-valid':
                      newUserForm.get('username').touched &&
                      newUserForm.get('username').valid,
                    'is-invalid':
                      newUserForm.get('username').touched &&
                      newUserForm.get('username').invalid
                  }"
                />
              </div>
              <div class="form-group">
                <label for="password" class="floating-label">Contraseña:</label>
                <input
                  type="password"
                  class="form-control mb-4"
                  id="password"
                  formControlName="password"
                  (focus)="addFloatingLabelClass('password')"
                  (blur)="removeFloatingLabelClass('password')"
                  [ngClass]="{
                    'is-valid':
                      newUserForm.get('password').touched &&
                      newUserForm.get('password').valid,
                    'is-invalid':
                      newUserForm.get('password').touched &&
                      newUserForm.get('password').invalid
                  }"
                />
              </div>
              <div class="form-group">
                <label for="email" class="floating-label">Email:</label>
                <input
                  type="email"
                  class="form-control mb-4"
                  id="email"
                  formControlName="email"
                  autocomplete="off"
                  (focus)="addFloatingLabelClass('email')"
                  (blur)="removeFloatingLabelClass('email')"
                  [ngClass]="{
                    'is-valid':
                      newUserForm.get('email').touched &&
                      newUserForm.get('email').valid,
                    'is-invalid':
                      newUserForm.get('email').touched &&
                      newUserForm.get('email').invalid
                  }"
                />
              </div>
              <div
                class="d-flex justify-content-between card-footer text-center"
              >
                <button
                  class="btn btn-danger border border-danger shadow clic-on-image pointer-event"
                  type="reset"
                  (click)="resetForm()"
                >
                  Reset
                </button>
                <button
                  [disabled]="newUserForm.invalid"
                  type="submit"
                  class="btn btn-primary border border-primary shadow clic-on-image pointer-event"
                >
                  Registro
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col col-md-4">
        <div class="card shadow">
          <div class="card-header modal-header">
            <h4><i class="fa fa-users-viewfinder"></i> Usuarios registrados</h4>
          </div>
          <div class="card-body p-1">
            <div class="table-responsive w-100">
              <table class="table w-100">
                <thead>
                  <tr>
                    <th>Usuario</th>
                    <th>Rol</th>
                    <th>Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of userList">
                    <td>{{ user.username }}</td>
                    <td>{{ user.role }}</td>
                    <td [ngStyle]="getStatusStyles(user.status)">
                      {{ user.status }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Mensaje de opción de registro deshabilitada -->
<ng-container>
  <div
    class="container final-div d-flex justify-content-center align-content-center text-danger"
    *ngIf="!(allowRegisterUsers$ | async)"
  >
    <div class="card shadow" style="width: 400px !important">
      <div class="modal-header">
        <h4 class="modal-title">
          <i class="fas fa-exclamation-circle"></i>&nbsp;Mensaje importante
        </h4>
        <button
          type="button"
          class="close clic-on-icon"
          aria-label="Close"
          routerLink="/home"
        >
          <span><i class="fas fa-close"></i></span>
        </button>
      </div>
      <div class="card-body">
        <h4 class="text-center">
          Registro de usuarios deshabilitado. Consulte con el administrador.
        </h4>
      </div>
      <div class="card-footer d-flex justify-content-center">
        <a
          routerLink="/home"
          role="button"
          class="btn btn-secondary border border-secondary clic-on-image shadow"
        >
          Cerrar
        </a>
      </div>
    </div>
  </div>
</ng-container>
