<!-- Encabezado de componente Mis ventas -->
<header id="main-header" class="py-2 bg-info text-white main-board-style">
  <div class="container">
    <div class="row">
      <div class="col-md-8" [@fadeAnimation]>
        <h1><i class="fas fa-cog"></i> Ingresar</h1>
      </div>
    </div>
  </div>
</header>

<!-- Plantilla login -->
<section class="py-4 mb-4" [@fadeAnimation]>
  <div class="container mt-5">
    <div
      class="col-md-4 shadow mx-auto bg-white border border-2 border-info"
      style="
        border-radius: 10px;
        box-shadow: 3px 3px 3px rgb(40, 44, 44);
        height: 100%;
        overflow: hidden;
        padding-top: 30px;

      "
    >
      <form (ngSubmit)="onSubmit()">
        <div class="card-header mb-3">
          <h4 class="text-center">Inicio de sesión</h4>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="username" class="floating-label">Usuario:</label>
            <input
              type="text"
              class="form-control shadow"
              id="username"
              required
              [(ngModel)]="username"
              name="username"
              autocomplete="off"
              autofocus
              (focus)="addFloatingLabelClass('username')"
              (blur)="removeFloatingLabelClass('username')"
              style="margin-bottom: 35px;"
            />
          </div>
          <div class="form-group">
            <label for="password" class="floating-label">Contraseña:</label>
            <input
              type="password"
              class="form-control shadow"
              id="password"
              required
              [(ngModel)]="password"
              name="password"
              (focus)="addFloatingLabelClass('password')"
              (blur)="removeFloatingLabelClass('password')"
            />
          </div>
          <div class="card-footer text-center">
            <button type="submit" class="btn btn-primary clic-on-image">
              Login
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
