.container {
  min-height: calc(90% - 120px);
}

.floating-label {
  position: absolute;
  left: 10px;
  top: 50%;
  padding-bottom: 5px;
  transform: translate(0, -50%);
  transition: all 0.3s;
  opacity: 0.6;
  font-size: 1.03rem;
  pointer-events: none;
  z-index: 999;
}

.floating-label.active {
  top: 0;
  left: 10px;
  padding: 0;
  background-color: #fff;
  transform: translate(0, -60%);
  font-size: 0.95rem;
  opacity: 1;
  transition: all 0.3s;
}

input[type="text"],
input[type="password"] {
  z-index: 1;
}

.card {
  border-radius: 10px;
}
