<!-- Encabezado de componente Mis ventas -->
<header id="main-header" class="pb-2 bg-info text-white main-board-style">
  <div class="container">
    <div class="row pt-2">
      <div class="col-md-8" [@fadeAnimation]>
        <h1><i class="fa fa-user-circle"></i> Ingresar</h1>
      </div>
      <div class="col-md-4 d-none d-md-block" style="visibility: hidden;">
        <input
          type="search"
          id="search"
          class="form-control"
          placeholder="Ingresa tu búsqueda aquí..."
          autocomplete="off"
        />
      </div>
    </div>
  </div>
</header>

<!-- Plantilla login -->
<section class="py-4 mb-4" [@fadeAnimation]>
  <div class="container mt-3">
    <div
      class="login-box shadow mx-auto bg-white border border-2"
    >
      <form (ngSubmit)="onSubmit()">
        <div class="card-header modal-header">
          <h4 class="text-center"><i class="fas fa-check-circle"></i>&nbsp;Inicio de sesión</h4>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="username" class="floating-label">Usuario:</label>
            <input
              type="text"
              class="form-control shadow"
              id="username"
              required
              [(ngModel)]="username"
              name="username"
              autocomplete="off"
              (focus)="addFloatingLabelClass('username')"
              (blur)="removeFloatingLabelClass('username')"
              style="margin-bottom: 35px; margin-top: 30px;"
            />
          </div>
          <div class="form-group">
            <label for="password" class="floating-label">Contraseña:</label>
            <input
              type="password"
              class="form-control shadow"
              id="password"
              required
              [(ngModel)]="password"
              name="password"
              (focus)="addFloatingLabelClass('password')"
              (blur)="removeFloatingLabelClass('password')"
            />
          </div>
          <div class="card-footer text-center" style="margin-top: 25px;">
            <button type="submit" class="btn btn-primary clic-on-image" [disabled]="!password || !username">
              Login
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
