<!-- Encabezado de componente Mis ventas -->
<header id="main-header" class="pb-2">
  <div class="container">
    <div class="row pt-2">
      <div class="col-md-8" [@fadeAnimation]>
        <h1><i class="fa fa-user-circle"></i> Ingresar</h1>
      </div>
      <div class="col-md-4 d-none d-md-block" style="visibility: hidden">
        <input
          type="search"
          id="search"
          class="form-control"
          placeholder="Ingresa tu búsqueda aquí..."
          autocomplete="off"
        />
      </div>
    </div>
  </div>
</header>

<!-- Plantilla login -->
<div class="main-container d-flex justify-content-center" [@fadeAnimation]>
  <div class="card login-box shadow bg-white border">
    <div class="">
      <form (ngSubmit)="onSubmit()">
        <div class="modal-header border">
          <h4 class="card-title">
            <i class="fas fa-check-circle"></i>&nbsp;Inicio de sesión
          </h4>
        </div>
        <div class="card-body mt-4">
          <div class="form-group mb-4">
            <div class="input-group">
              <label for="username" class="floating-label">Usuario</label>
              <input
                type="text"
                class="form-control"
                id="username"
                required
                [(ngModel)]="username"
                name="username"
                autocomplete="off"
                (focus)="addFloatingLabelClass('username')"
                (blur)="removeFloatingLabelClass('username')"
                style="border-radius: 5px 0 0 5px; font-size: 1.1rem"
              />
              <span class="input-group-text"><i class="fa fa-user"></i></span>
            </div>
          </div>
          <div class="form-group mt-2 mb-4">
            <div class="input-group">
              <label for="password" class="floating-label">Contraseña</label>
              <input
                type="password"
                class="form-control"
                id="password"
                required
                [(ngModel)]="password"
                name="password"
                (focus)="addFloatingLabelClass('password')"
                (blur)="removeFloatingLabelClass('password')"
                style="
                  border-radius: 5px 0 0 5px;
                  font-size: 1.1rem;
                  letter-spacing: 2px;
                "
              />
              <span class="input-group-text"
                ><i class="fas fa-passport"></i
              ></span>
            </div>
          </div>
          <div class="card-footer text-center" style="margin-top: 25px">
            <button
              type="submit"
              class="btn btn-primary clic-on-image"
              [disabled]="!password || !username"
            >
              Login
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
