.carousel-controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  left: 10px;
  right: 10px;
}

.row {
  margin-top: -5px;
}

.carousel-control-prev,
.carousel-control-next {
  color: rgba(5, 5, 5, 0.5);
  width: 5%;
  height: 15px;
  margin-left: 5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 15px;
  height: 15px;
}

.card {
  min-height: 150px;
  max-height: 150px;
}

.underline {
  text-decoration: none;
}

.customShadow {
  box-shadow: 2px rgba(139, 138, 138, 0.8);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  border-radius: 10px;
}
.customShadow:hover {
  box-shadow: 5px 5px 5px rgb(56, 55, 55);
  transform: scale(1.05);
}

.bg-custom {
  background-color: rgb(219, 213, 176);
  transition: background-color 0.3 ease, transform 0.3s ease;
}
.bg-custom:hover {
  background-color: #b5f3b5;
  transform: scale(1.05);
  cursor: pointer;
  text-shadow: 1px 1px 1px rgb(155, 155, 126);
}

.carousel-controls {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}

.add-button-container {
  position: absolute;
  bottom: -25px;
  border-radius: 30px;
  perspective: 1000px;
}

.roundButton {
  border-radius: 30px;
  color: rgb(218, 223, 191);
  transition: background-color 0.5 ease, transform 0.3s ease;
  background-color: rgb(219, 213, 176);
  transform-style: preserve-3d;
}

.roundButton:hover {
  transform: translateY(-2px) translateZ(2px);
}

.hidden-link {
  border-radius: 30px;
  color: rgb(218, 223, 191);
  transition: background-color 0.5 ease, transform 0.3s ease;
}

.hidden-link:hover {
  color: rgb(41, 38, 38);
  text-shadow: 3px 3px 5px rgb(41, 38, 38);
}

.my-clic:hover {
  box-shadow: 2px 1px 1px darkgray;
}

.my-clic:active {
  transform: translateY(1px) tranlateZ(-1px) scale(0.95);
  transition: transform 0.2s;
  box-shadow: inset 2px 2px 2px darkgray;
  background-color: #7ef37e;
}

.clic-on-image:active {
  transform: scale(0.95);
  transition: transform 0.2s;
}
