/* You can add global styles to this file, and also import other style files */
body,
html {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  
}

@media (min-width: 360px) and (max-width: 600px) {
  /* Estilos para pantallas de móvil */
  html {
    height: 100%;
    overflow: scroll;
  }
}

body {
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: Allura-regular;
  src: url("assets/fonts/Allura-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
  background-color: #ddd;
  border-radius: 10px;
  border: 1px solid #999;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 1px solid #555;
  background: #aaa;
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
  transition: all 0.3s;
}

/* Estilo para el botón de flecha hacia abajo */
::-webkit-scrollbar-button:vertical:increment {
  background-image: url('assets/arrow-down.png'); /* Ruta de la imagen */
  background-size: contain; /* Ajusta el tamaño de la imagen según el botón */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  width: 20px; /* Ancho del botón */
  height: 15px; /* Altura del botón */
  background-position: center center; /* Ajusta la posición vertical */
  box-shadow: -1px -1px -1px #fff;
}

/* Estilo para el botón de flecha hacia arriba */
::-webkit-scrollbar-button:vertical:decrement {
  background-image: url('assets/arrow-up.png'); /* Ruta de la imagen */
  background-size: contain; /* Ajusta el tamaño de la imagen según el botón */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  width: 20px; /* Ancho del botón */
  height: 15px; /* Altura del botón */
  background-position: center center; /* Ajusta la posición vertical */
  box-shadow: -1px -1px -1px #fff;
}

::-webkit-scrollbar-button:vertical:increment:active {
  background-color: #ccc; /* Cambia el color de fondo al hacer clic */
  border-radius: 10px;
  border: 1px solid #aaa;
  box-shadow: inset 1px 1px 1px #aaa;
  translate:calc(-50% - 50%)
}

/* Estilo cuando se hace clic en el botón de flecha hacia arriba */
::-webkit-scrollbar-button:vertical:decrement:active {
  background-color: #ccc; /* Cambia el color de fondo al hacer clic */
  border-radius: 10px;
  border: 1px solid #aaa;
  box-shadow: inset 1px 1px 1px #aaa;
}

.navbar-brand {
  margin: 0 20px 0 10px;
  padding: 0;
  font-family: Allura-regular;
  font-weight: bold;
  text-shadow: darkgray 2px 2px 2px;
  cursor: pointer;
  font-size: 3em;
  /* color: orangered !important; */
}

/* .app-container {
  display: flex;
  flex-direction: column;
} */

.main-board {
  height: auto;
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border: 1px solid lightgray;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.login-box {
  position: relative;
  display: flex;
  margin: 0 auto ;
  margin-top: 50px;
  border-radius: 5px;
  overflow: hidden;
  max-width: 300px;
  
}

.main-board-style {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.85);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.85);
}

h1 i {
  position: relative;
  margin-top: 8px;
  margin-left: 30px;
  display: flex;
  vertical-align: text-top;
  font-size: 0.8em;
}

h1 {
  font-size: 1.8em;
}

@media screen and (max-width: 767px) {
  h1 i {
    position: relative;
    margin-top: 8px;
    margin-left: 0;
    display: flex;
    vertical-align: text-top;
    font-size: 0.8em;
  }

  h1 {
    font-size: 1.8em;
  }
}

#main-header {
  min-height: 0px;
}

.nav-link {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: #000;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #007bff;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.nav-link:hover::before {
  transform: scaleX(0.85);
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.show > .dropdown-menu {
  max-height: 800px;
  visibility: visible;
  opacity: 1;
}

.dropdown-menu {
  display: block;
  max-height: 0;
  visibility: hidden;
  transition: all 0.15s ease;
  overflow: hidden;
}

div.dropdown-menu > a.dropdown-item, .dropdown > a, .dropdown-item {
  border: 1px solid transparent;
  color: #c0b5b5 !important;
}

/* div.dropdown-item > a.dropdown-item:hover {
  color: #000 !important;
} */

option {
  font-style: italic;
  color: #000;
}

.suggestion-list {
  z-index: 999;
  max-height: 200px;
  border-radius: 3px;
  overflow-y: auto;
  background-color: #363434;
}

.suggestion-list {
  overflow-x: hidden;
}

.dropdown-item:hover,
div.dropdown-menu > .dropdown-item:hover {
  background-color: rgb(129, 124, 124);
  color: #fff !important;
  opacity: 1;
  transition: all 0.1s ease;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px -8px rgba(0, 0, 0, 0.2);
}

.dropdown-item.selected,
div.dropdown-menu > .dropdown-item.selected {
  background-color: rgb(129, 124, 124);
  color: #fff !important;
  opacity: 1;
  transition: all 0.1s ease;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px -8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
  #navbarCollapse {
    position: relative;
    right: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 999;
    max-height: auto;
    border-radius: 0 0 0 5px;
    transition: 0.3s ease;
  }
  a.hide {
    display: flex;
    align-items: center;
    text-align: center;
  }
}

a.hide {
  width: 140px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  #navbarCollapse {
    position: relative;
    top: 0px;
    right: 0px;
    z-index: 999;
    max-height: calc(100vh - 40px);
  }
  a.hide {
    width: 50px;
  }
  span.hide-button {
    content: "";
    visibility: hidden;
    display: none;
    max-width: 50px;
  }
}

@media (min-width: 600px) and (max-width: 1100px) {
  .product-card {
    font-size: 1.8vw;
  }
}

#pie-pagina {
  padding-top: 10px;
  -webkit-box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.85);
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.85);
}

.footer {
  background-color: #ecc68e;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-top: 1px;
}

.footer .lead {
  margin: 0;
}

.footer .contact-info {
  text-align: right;
}

.footer .contact-info p {
  margin: 0;
}

.footer .contact-info a {
  color: inherit;
  text-decoration: none;
  transition: 0.2s color ease;
}

.footer .contact-info a:hover {
  color: rgb(116, 115, 115);
  transition: 0.2s color ease;
}

.footer .contact-info a:hover i.fa-envelope {
  color: rgb(46, 94, 184);
  transition: 0.2s color ease;
}

.footer .contact-info a:hover i.fa-whatsapp {
  color: #00bb2d;
  transition: 0.3s color ease;
}

.card-height {
  /* min-height: 140px;
  max-height: 140px; */
  height: 140px;
}

.underline {
  text-decoration: none;
}

.custom-main-card {
  border-radius: 10px;
  background-color: rgb(242, 243, 206);
  transition: all 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease-in-out;
  cursor: pointer;
  border: 1px solid #ccc; /* Agrega un borde sólido inicial */
}

.custom-main-card:hover {
  background-color: #cdffd7;
  transform: scale(1.05);
  border: 1px solid #999; /* Cambia el color del borde en hover */
}

.custom-main-card:active {
  transform: scale(0.99);
}

.front-panel-image {
  width: 20vw; /* La imagen ocupará el 20% del ancho de la ventana */
  height: auto;
  max-width: 120px; /* Limita el tamaño máximo */
  max-height: 90px;
}


.my-clic:hover {
  box-shadow: 2px 1px 1px darkgray;
  transform: scale(1.05);
}

.my-clic:active {
  transform: translateY(1px) tranlateZ(-1px) scale(0.9);
  transition: transform 0.2s;
  box-shadow: inset 2px 2px 2px darkgray;
  background-color: #7ef37e;
}
.clic-on-main-image {
  position: relative;
  transition: all 0.2s ease;
}

.clic-on-image:active {
  transform: scale(0.90);
  transition: transform 0.2s;
}

.clic-on-main-image:hover {
  transform: scale(1.02);
  transition: transform 0.2s;
}

.clic-on-main-image:active {
  transform: scale(0.99);
  transition: transform 0.2s;
}

/* .clic-on-main-image:active {
  transform: scale(0.95); 
  transition: transform 0.2s;
  box-shadow: inset 3px 3px 3px darkgray;
  background-color: #b4f5b4;
} */

/* .custom-image-shadow {
  border-radius: 10px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
} */

.my-title:hover {
  text-shadow: 2px 2px 2px darkgray;
}

.suggestions {
  position: absolute;
  z-index: 999;
  background-color: white;
  border: 1px solid rgb(33, 161, 161);
  border-radius: 3px;
  width: 90%;
  box-shadow: 2px 2px 2px rgb(90, 125, 170);
  padding-left: 5px;
  min-height: auto;
  max-height: 100px;
  overflow-y: scroll;
}

.text-decoration-none {
  text-decoration: none;
}

.carousel-control {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}

.carousel-control-prev,
.carousel-control-next {
  color: rgba(5, 5, 5, 0.5);
  width: 5%;
  height: 15px;
  margin: 0 15px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 15px;
  height: 15px;
}

.add-button-container {
  position: absolute;
  bottom: -25px;
  border-radius: 30px;
  perspective: 1000px;
}

.roundButton {
  border-radius: 30px;
  color: rgb(218, 223, 191);
  transition: background-color 0.5 ease, transform 0.3s ease;
  background-color: rgb(242, 243, 206);
  transform-style: preserve-3d;
}

.roundButton:hover {
  transform: translateY(-2px) translateZ(2px);
}

.hidden-link {
  border-radius: 30px;
  color: rgb(218, 223, 191);
  transition: background-color 0.5 ease, transform 0.3s ease;
}

.hidden-link:hover {
  color: rgb(41, 38, 38);
  text-shadow: 3px 3px 5px rgb(41, 38, 38);
}

.close {
  padding: 5px !important;
  margin: auto 0 !important;
}

.close i {
  padding: 5px;
}

/* Efecto íconos */
.clic-on-icon:hover {
  transition: transform 0.2s ease;
}

.clic-on-icon:active {
  transform: scale(0.8);
  transition: transform 0.2s ease;
}

/* Botón scroll up */
.btn-floating {
  position: fixed;
  bottom: 15%;
  right: 5%;
  z-index: 999;
}

div.utilitary-icons {
  opacity: 0;
  height: auto;
  transition: height 0.3s, opacity 0.3s;
  border: 1px #bbb solid;
  border-radius: 20px;
  background-color: #ddd;
  max-width: 100px;
  text-align: center;
  box-shadow: inset #888 2px 2px 2px;
}

.show-icons {
  display: block;
  opacity: 1;
  transition: all 0.3s ease;
}

div.utilitary-icons > a > i.fas,
i.clic-on-icon {
  text-shadow: #bbb 2px 2px 2px;
}

#reloj {
  margin: 0;
  padding: 0;
  font-size: 2.5em;
  color: #fac2c2;
  min-height: 140px;
  max-height: 140px;
}

.reloj-contenedor {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 10px;
  /* transition: all 300ms ease-out; */
  overflow: hidden;
  white-space: nowrap;
}

h4 {
  padding-top: 5px;
}

#fecha {
  letter-spacing: 5px;
  font-size: 15px;
  line-height: 1.5em;
}


.toast-container {
  position: fixed;
  top: 60px;
  right: 30px;
  width: 300px;
  z-index: 9999;
}

.toast {
  margin-bottom: 5px;
}

.toast-success {
  text-align: center;
  background-color: #dff0d8;
  color: #3c763d;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(0, 0, 0, 0.2);
}

.toast-error {
  text-align: center;
  background-color: #f2dede;
  color: #a94442;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(0, 0, 0, 0.2);
}

.toast-info {
  text-align: center;
  background-color: #d9edf7;
  color: #31708f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(0, 0, 0, 0.2);
}

.toast-warning {
  text-align: center;
  background-color: #fcf8e3;
  color: #8a6d3b;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(0, 0, 0, 0.2);
}

.toast-icon::before {
  content: '\2713'; /* Código de caracter para un checkmark */
  font-family: 'Arial', sans-serif; /* Fuente del ícono */
  margin-right: 10px; /* Espaciado entre el ícono y el texto del Toastr */
}

.icon {
  display: flex;
  align-items: center; /* Centra verticalmente el contenido (ícono y texto) */
}

/* Opcional: ajusta el margen entre el ícono y el texto si es necesario */
.icon i {
  margin-right: 10px; /* Ajusta el margen a tu preferencia */
}

.table-row-even {
  background-color: #f3f3f3;
}

.table-row-odd {
  background-color: #ffffff;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
  margin-bottom: 10px;
}

.floating-label {
  z-index: 4;
  position: absolute;
  left: 10px;
  top: 50%;
  padding-bottom: 5px;
  transform: translate(0, -50%);
  transition: all 0.3s;
  opacity: 0.6;
  font-size: 1.03rem;
  pointer-events: none;
}

.floating-label.active {
  z-index: 1000;
  top: 0;
  left: 10px;
  padding: 0;
  background-color: #fff;
  transform: translate(0, -60%);
  font-size: 0.95rem;
  opacity: 1;
  transition: all 0.3s;
}

.taxes-row {
  background-color: #f8e8e8;
}

.quantity-input {
  padding-right: 2rem;
}

.is-valid {
  box-shadow: 5px 5px 10px rgba(0, 255, 0, 0.2),
    -5px -5px -10px rgba(0, 255, 0, 0.2);
}

.is-invalid {
  box-shadow: 5px 5px 10px rgba(255, 0, 0, 0.5),
    -5px -5px -10px rgba(255, 0, 0, 0.5);
}

.custom-input {
  border: 1px solid rgba(185, 173, 173, 0.651);
  width: 50px;
  margin: 0;
  border-radius: 5px;
  padding-right: 0;
}

.product-detail-list-title {
  font-size: 14px;
  align-items: center;
  font-weight: normal;
}

.product-detail-table-content {
  font-size: 11px;
  padding: 0;
}

tr.custom-row th,
tr.custom-row td {
  padding: 0.45rem;
  margin: auto 0;
}

div.table-container {
  max-height: 400px;
  overflow-y: visible;
  overflow-x: hidden;
}

.svg {
  height: 100px;
  padding: 5px;
  object-fit: scale-down;
  position: absolute;
  right: 30px;
  bottom: 10px;
}

.total-invoice {
  color: red;
  font-weight: bold;
  font-size: 14px;
  font-family: monospace;
}

.total-box {
  width: 100%;
  text-align: center;
  /* min-width: 350px; */
  background-color: rgb(208, 212, 212);
  padding-top: 10px;
  /* margin: 0.5% 1%; */
  border-radius: 10px;
  border: 1px solid darkgray;
  box-shadow: inset 0 0 10px #00000033, 0 0 10px rgba(0, 0, 0, 0.1),
    0 0 20px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.1);
}

.total-box-titles {
  font-size: 1.05rem;
  text-align: center;
}

.modal-header,
.product-list-header {
  background-color: #31708f;
  color: white;
  align-items: center;
  padding: 10px 10px;
}

.modal-shadow {
  box-shadow: 0px 0px 50px rgba(36, 35, 35, 0.897);
}

.fa-close {
  color: red;
}

label {
  margin-bottom: 0px;
}

button {
  padding: 5px 10px !important;
  background-color: transparent;
}

/* Animación para abrir el modal */
@keyframes modalOpenAnimation {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes modalCloseAnimation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.1);
  }
}

.modal.opening {
  animation: modalOpenAnimation 0.4s ease-in-out forwards;
  opacity: 0;
  transform: scale(0.5);
}

.modal.closing {
  animation: modalCloseAnimation 0.4s ease-out forwards;
  opacity: 1;
  transform: scale(1);
}

.show {
  display: block !important;
  opacity: 1;
  z-index: 999;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease;
}

.modal-background {
  background-color: #343a40d7;
}

.card-body,
.modal-footer {
  padding-bottom: 5px !important;
  padding-top: 5px;
}

h5.card-title {
  padding-top: 20px;
}

.clic-on-icon,
.date-input,
input::-webkit-search-cancel-button,
input::-webkit-calendar-picker-indicator,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
label.custom-control-label, select:hover, option {
  cursor: pointer !important;
}

/* Estilos para las flechas de incremento y decremento en los inputs de tipo number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin-left: 5px;
}

input[type="search"]::-webkit-input-placeholder {
  font-size: 0.9em;
  color: #aaa;
  padding-left: 0px;
  transition: all 0.3s ease;
}

input[type="search"]:focus::-webkit-input-placeholder {
  font-size: 0.95em;
  color: #777;
  transition: all 0.3s ease;
}

input[type="search"]::-webkit-search-cancel-button:hover {
  opacity: 1;
  transition: all 0.3s ease;
}

/* Estilos iniciales para todos los input[type="search"] */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  margin-left: 0.4em;
  transition: all 0.3s ease;
  opacity: 0.5;
}

@media (max-width: 500px) {
  input[type="search"].no-submit {
    width: 100%;
    background-color: #fff;
    background-image: none;
    border-radius: 5px;
  }
  input[type="search"].no-submit:hover {
    transform: none;
    cursor: text;
    box-shadow: none;
  }
}

input[type="search"]:focus::-webkit-search-cancel-button {
  -webkit-appearance: none;
  position: absolute;
  transition: all 0.3s ease-in-out;
  right: 30px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='red'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
}

/* Estilos iniciales para el input con la clase "no-submit" */
input.no-submit {
  opacity: 1;
  background-color: transparent;
  border-radius: 20px;
  width: 40px;
  border: none;
  background-image: url("assets/magnifying-glass-reverse.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

input.no-submit:hover {
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4) inset,
    -2px -2px 4px rgba(39, 39, 39, 0.2) inset;
  transform: translate(1px, 1px);
}

/* Estilos cuando el input está enfocado */
input[type="search"].no-submit:focus {
  background-position: calc(100% - 10px) center;
  background-image: url("assets/magnifying-glass.png");
  width: 100%;
  border: 1px solid rgb(40, 126, 197);
  box-shadow: 3px 3px 6px rgba(39, 39, 39, 0.466) inset;
  border-radius: 5px;
  cursor: text;
  transform: none;
  transition: all 0.3s ease-in-out;
}

.datalist-no-arrow::-webkit-calendar-picker-indicator {
  margin: 0;
  margin-right: -10px;
  padding: 0;
  padding-right: -20px;
  visibility: hidden;
  color: gray;
}

datalist.datalist-no-arrow::-webkit-calendar-picker-indicator {
  visibility: hidden;
}

input::-webkit-input-placeholder {
  font-style: italic;
  z-index: 2;
}

.italic-text {
  font-style: italic;
}

.options-card-body-text {
  font-size: 18px;
  text-align: center;
}

.options-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

.product-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.final-div {
  position: relative;
  margin-top: 20px;
  transform: translateX(-50% -50%);
  z-index: 0;
}

@media (max-width: 768px) {
  .final-div {
    margin-top: 40px;
    margin-bottom: 120px !important;
  }
}

.row-selected:hover {
  background-color: rgba(129, 124, 124, 0.459);
  transition: all 0.15s ease;
  /* color: #fff; */
  cursor: pointer;
}

div.d-flex.flex-wrap button.btn {
  min-width: 80px;
}

/* Estilo para el app-header */
app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 10%;
  background-color: #fff;
}

/* Estilo para el contenido principal */
#main-header {
  display: flex;
  align-items: center;
  margin-top: 70px;
  height: 10vh;
}

app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #fff;
}

header {
  position: sticky;
  top: 0px;
  z-index: 1;
}

app-header {
  z-index: 2;
}

nav.navbar {
  z-index: 2;
}

.screen-adjust {
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .screen-adjust {
    margin-bottom: 100px;
  }
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-label {
  color: #777;
}

.custom-card {
  padding: 0;
  margin: 0 auto;
  border: 1px solid rgba(167, 155, 155, 0.692);
  border-radius: 5px;
  background-color: beige;
}

span.badge:hover {
  font-size: 0.9rem;
  transition: all 0.2s ease;
}

.form-modal {
  overflow-y: auto;
  height: 62vh
}

.history-card {
  overflow-y: scroll;
  height: 55vh
}

.video-styled {
  opacity: 1;
  width: 100%;
  padding: 0;
  border-radius: 0.5rem; /* Esquinas redondeadas */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Sombra */
  border: 2px solid #ccc; /* Borde */
  object-fit: cover; /* Asegura que el video se ajuste al contenedor */
}

.video-container-small {
  height: 300px;
  z-index: 2000;
}

.canvas-style {
  position: absolute;
  margin-left: 10px;
  border: solid rgb(52, 245, 4) 3px;
  top: 0px;
  left: 0px;
  /* width: 800px; */
  z-index: 2000;
}

aside {
  position: fixed;
  top: 10%;
  left: 0;
  width: 19.7%;
  height: calc(100vh - 18%);
  background-color: #363434;
  z-index: -1;
  background: url(src/assets/bg-pattern.png), #7b4397;
  background: url(src/assets/bg-pattern.png),
    -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
  background: url(src/assets/bg-pattern.png),
  linear-gradient(to left, #9765a1, #ee1d1d);
}

main {
  position: absolute;
  right: 0;
  width: 80%;
  height: calc(100vh - 60px);
  background: url(src/assets/bg-pattern.png), #7b4397;
  background: url(src/assets/bg-pattern.png),
    -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
  background: url(src/assets/bg-pattern.png),
    linear-gradient(to left, #a8e6ce, #6d9bcc);
  /* linear-gradient(to left, #9765a1, #ee1d1d); */
  transition: opacity 100ms;
}