/* You can add global styles to this file, and also import other style files */
body,
html {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  background: url(src/assets/bg-pattern.png), #7b4397;
  background: url(src/assets/bg-pattern.png),
    -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
  background: url(src/assets/bg-pattern.png),
    linear-gradient(to left, #a8e6ce, #6d9bcc);
  /* linear-gradient(to left, #9765a1, #ee1d1d); */
  overflow: visible;
  transition: opacity 100ms;
  z-index: 1;
}

@media (min-width: 360px) and (max-width: 600px) {
  /* Estilos para pantallas de móvil */
  html {
    height: 100%;
    overflow: scroll;
  }
}

body {
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: Allura-regular;
  src: url("assets/fonts/Allura-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.navbar-brand {
  margin: 0 20px 0 10px;
  padding: 0;
  font-family: Allura-regular;
  font-weight: bold;
  text-shadow: darkgray 2px 2px 2px;
  cursor: pointer;
  font-size: 3em;
  /* color: orangered !important; */
}

.app-container {
  display: flex;
  flex-direction: column;
}

.main-board {
  height: auto;
}

.login-box {
  border-radius: 10px;
  height: 100%;
  overflow: hidden;
  max-width: 300px;
}

.main-board-style {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.85);
}

h1 i {
  position: relative;
  margin-top: 8px;
  margin-left: 30px;
  display: flex;
  vertical-align: text-top;
  font-size: 0.8em;
}

h1 {
  font-size: 1.8em;
}

@media screen and (max-width: 767px) {
  h1 i {
    position: relative;
    margin-top: 8px;
    margin-left: 0;
    display: flex;
    vertical-align: text-top;
    font-size: 0.8em;
  }

  h1 {
    font-size: 1.8em;
  }
}

.header {
  background-color: #f0f0f0;
}

#main-header {
  min-height: 0px;
}

.nav-link {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: #000;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #007bff;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.nav-link:hover::before {
  transform: scaleX(1);
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.show > .dropdown-menu {
  max-height: 800px;
  visibility: visible;
  opacity: 1;
}

.dropdown-menu {
  display: block;
  max-height: 0;
  visibility: hidden;
  transition: all 0.15s ease;
  overflow: hidden;
}

div.dropdown-menu > a.dropdown-item {
  border: 1px solid transparent;
  color: #c0b5b5 !important;
}

/* div.dropdown-item > a.dropdown-item:hover {
  color: #000 !important;
} */

option {
  font-style: italic;
  color: #000;
}

.form-control option,
div.suggestion-list {
  background-color: #c7c3c3;
  border-radius: 10px;
}

.suggestion-list {
  z-index: 999;
  max-height: 200px;
  border-radius: 3px;
  overflow-y: auto;
}

.suggestion-list::-webkit-scrollbar-corner {
  border-radius: 10px;
}

.dropdown-item:hover,
div.dropdown-menu > .dropdown-item:hover {
  background-color: rgb(129, 124, 124);
  color: #fff !important;
  opacity: 1;
  transition: all 0.1s ease;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px -8px rgba(0, 0, 0, 0.2);
}

.dropdown-item.selected,
div.dropdown-menu > .dropdown-item.selected {
  background-color: rgb(129, 124, 124);
  color: #fff !important;
  opacity: 1;
  transition: all 0.1s ease;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px -8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
  #navbarCollapse {
    position: relative;
    right: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 999;
    max-height: auto;
    border-radius: 0 0 0 5px;
    transition: 0.3s ease;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #navbarCollapse {
    position: relative;
    top: 0px;
    right: 0px;
    z-index: 999;
    max-height: calc(100vh - 40px);
  }
}

@media (min-width: 600px) and (max-width: 1100px) {
  .product-card {
    font-size: 1.8vw;
  }
}

#pie-pagina {
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.85);
}

.footer {
  background-color: #ecc68e;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer .lead {
  margin: 0;
}

.footer .contact-info {
  text-align: right;
}

.footer .contact-info p {
  margin: 0;
}

.footer .contact-info a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s color ease;
}

.footer .contact-info a:hover {
  color: rgb(65, 65, 63);
  transition: 0.3s color ease;
}

.card-height {
  min-height: 140px;
  max-height: 140px;
}

.underline {
  text-decoration: none;
}

.customShadow {
  border-radius: 10px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.customShadow:hover {
  box-shadow: 5px 5px 5px rgb(56, 55, 55);
  transform: scale(1.05);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.bg-custom {
  background-color: rgb(242, 243, 206);
  transition: background-color 0.3 ease, transform 0.3s ease-in-out;
}

.bg-custom:hover {
  background-color: #cdffd7;
  transform: scale(1.05);
  cursor: pointer;
}

.front-panel-image {
  width: 120px;
  height: 90px;
}

.my-clic:hover {
  box-shadow: 2px 1px 1px darkgray;
  transform: scale(1.05);
}

.my-clic:active {
  transform: translateY(1px) tranlateZ(-1px) scale(0.9);
  transition: transform 0.2s;
  box-shadow: inset 2px 2px 2px darkgray;
  background-color: #7ef37e;
}

.clic-on-image:active {
  transform: scale(0.95);
  transition: transform 0.2s;
}

.clic-on-main-image {
  padding: 10px;
}

.clic-on-main-image:hover {
  transform: scale(1);
  transition: transform 0.2s;
}

.clic-on-main-image:active {
  transform: scale(0.95);
  transition: transform 0.2s;
  box-shadow: inset 3px 3px 3px darkgray;
  background-color: #b4f5b4;
}

.custom-image-shadow {
  border-radius: 10px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.my-title:hover {
  text-shadow: 2px 2px 2px darkgray;
}

.suggestions {
  position: absolute;
  z-index: 999;
  background-color: white;
  border: 1px solid rgb(33, 161, 161);
  border-radius: 3px;
  width: 90%;
  box-shadow: 2px 2px 2px rgb(90, 125, 170);
  padding-left: 5px;
  min-height: auto;
  max-height: 100px;
  overflow-y: scroll;
}

.text-decoration-none {
  text-decoration: none;
}

.carousel-control {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
}

.carousel-control-prev,
.carousel-control-next {
  color: rgba(5, 5, 5, 0.5);
  width: 5%;
  height: 15px;
  margin-left: 5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 15px;
  height: 15px;
}

.add-button-container {
  position: absolute;
  bottom: -25px;
  border-radius: 30px;
  perspective: 1000px;
}

.roundButton {
  border-radius: 30px;
  color: rgb(218, 223, 191);
  transition: background-color 0.5 ease, transform 0.3s ease;
  background-color: rgb(242, 243, 206);
  transform-style: preserve-3d;
}

.roundButton:hover {
  transform: translateY(-2px) translateZ(2px);
}

.hidden-link {
  border-radius: 30px;
  color: rgb(218, 223, 191);
  transition: background-color 0.5 ease, transform 0.3s ease;
}

.hidden-link:hover {
  color: rgb(41, 38, 38);
  text-shadow: 3px 3px 5px rgb(41, 38, 38);
}

button {
  border: none;
  background-color: transparent;
}

.close {
  padding: 5px !important;
  margin: auto 0 !important;
}

.close i {
  padding: 5px;
}

/* Efecto íconos */
.clic-on-icon:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease-in-out;
}

.clic-on-icon:active {
  transform: scale(0.95);
  transition: transform 0.2s ease-in-out;
}

/* Botón scroll up */
.btn-floating {
  position: fixed;
  bottom: 15%;
  right: 5%;
  z-index: 999;
}

.utilitary-icons {
  opacity: 0;
  height: auto;
  transition: height 0.3s, opacity 0.3s;
}

.show-icons {
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease display 0.3s display;
}

#reloj {
  margin: 0;
  padding: 0;
  font-size: 2.5em;
  color: #fac2c2;
  min-height: 140px;
  max-height: 140px;
}

.reloj-contenedor {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 10px;
  transition: border 300ms ease-out;
  overflow: hidden;
  white-space: nowrap;
}

#fecha {
  letter-spacing: 5px;
  font-size: 15px;
  line-height: 1.5em;
}

.toast-container {
  position: fixed;
  top: 60px;
  right: 30px;
  width: 300px;
  z-index: 9999;
}

.toast {
  margin-bottom: 5px;
}

.toast-success {
  text-align: center;
  background-color: #dff0d8;
  color: #3c763d;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(0, 0, 0, 0.2);
}

.toast-error {
  text-align: center;
  background-color: #f2dede;
  color: #a94442;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(0, 0, 0, 0.2);
}

.toast-info {
  text-align: center;
  background-color: #d9edf7;
  color: #31708f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(0, 0, 0, 0.2);
}

.toast-warning {
  text-align: center;
  background-color: #fcf8e3;
  color: #8a6d3b;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(0, 0, 0, 0.2);
}

.table-row-even {
  background-color: #f2f2f2;
}

.table-row-odd {
  background-color: #ffffff;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
  margin-bottom: 10px;
}

.floating-label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s;
  opacity: 0.6;
  font-size: 14px;
  pointer-events: none;
}

.floating-label.active {
  top: 0;
  left: 0px;
  transform: translate(0, -100%);
  font-size: 16px;
  opacity: 1;
}

.taxes-row {
  background-color: #f8e8e8;
}

.quantity-input {
  padding-right: 2rem;
}

.is-valid {
  box-shadow: 5px 5px 10px rgba(0, 255, 0, 0.2),
    -5px -5px -10px rgba(0, 255, 0, 0.2);
}

.is-invalid {
  box-shadow: 5px 5px 10px rgba(255, 0, 0, 0.5),
    -5px -5px -10px rgba(255, 0, 0, 0.5);
}

.ng-select .ng-select-container {
  min-height: 38px;
}

.ng-select.ng-invalid.ng-touched .ng-select-container {
  border-color: #e70303;
  box-shadow: 20px 20px 30px rgba(255, 0, 0, 0.5),
    -20px -20px -30px rgba(255, 0, 0, 0.5);
}

.ng-select.ng-valid.ng-touched.custom .ng-select-container {
  border-color: #25a719;
  box-shadow: 30px 30px 40px rgba(0, 255, 0, 1),
    -30px -30px -40px rgba(0, 255, 0, 1);
}

.ng-dropdown-panel
  .ng-dropdown-panel-items
  .ng-option.ng-option-selected
  .ng-option-label,
.ng-dropdown-panel
  .ng-dropdown-panel-items
  .ng-option.ng-option-selected.ng-option-marked
  .ng-option-label {
  font-weight: normal;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel
  .ng-dropdown-panel-items
  .ng-option.ng-option-selected.ng-option-marked {
  background-color: white;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel
  .ng-dropdown-panel-items
  .ng-option.ng-option-selected.ng-option-marked {
  color: #333;
  background-color: rgb(129, 124, 124);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel
  .ng-dropdown-panel-items
  .ng-option.ng-option-selected.ng-option-marked:hover {
  color: white;
  background-color: rgb(129, 124, 124);
}

/* OJO AQUI */
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: rgb(129, 124, 124);
  color: #070707 !important;
  font-style: italic;
  opacity: 0;
  transition: 0.15s ease;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: rgb(129, 124, 124);
  color: #fff !important;
  font-style: italic;
  opacity: 1;
  transition: 0.15s ease;
}

.ng-dropdown-panel.ng-select-bottom {
  top: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-color: #e6e6e6;
}

.ng-dropdown-panel .ng-dropdown-panel-items {
  border-radius: 10px;
  border-left: white;
  border-right: white;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  color: #000 !important;
  font-style: italic;
  background-color: rgb(197, 197, 197);
  opacity: 1;
  transition: all 0.1s ease;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px -8px rgba(0, 0, 0, 0.2);
}

.ng-placeholder {
  font-style: italic !important;
}

.custom-input {
  border: none;
  width: 50px;
  margin: 0;
}

.product-detail-list-title {
  font-size: 14px;
  align-items: center;
}

.product-detail-table-content {
  font-size: 11px;
  padding: 0;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 3px !important;
}

.svg {
  height: 100px;
  padding: 5px;
  object-fit: scale-down;
  position: absolute;
  right: 30px;
  bottom: 10px;
}

.total-invoice {
  color: red;
  font-weight: bold;
  font-size: 14px;
  font-family: monospace;
}

.total-box {
  width: 100%;
  max-width: 350px;
  background-color: rgb(208, 212, 212);
  padding-top: 10px;
  margin: 0.5% 1%;
  border-radius: 10px;
  border: 1px solid darkgray;
  box-shadow: inset 0 0 10px #00000033, 0 0 10px rgba(0, 0, 0, 0.1),
    0 0 20px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.1);
}

.total-box-titles {
  font-size: 1.05rem;
  text-align: center;
}

.modal-header,
.product-list-header {
  background-color: #31708f;
  color: white;
  align-items: center;
  padding: 10px 10px;
}

.modal-shadow {
  box-shadow: 0px 0px 50px rgba(36, 35, 35, 0.897);
}

.fa-close {
  color: red;
}

label {
  margin-bottom: 0px;
}

button {
  padding: 5px !important;
}

/* Animación para abrir el modal */
@keyframes modalOpenAnimation {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes modalCloseAnimation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.1);
  }
}

.modal.opening {
  animation: modalOpenAnimation 0.4s ease-in-out forwards;
  opacity: 0;
  transform: scale(0.5);
}

.modal.closing {
  animation: modalCloseAnimation 0.4s ease-out forwards;
  opacity: 1;
  transform: scale(1);
}

.show {
  display: block !important;
  opacity: 1;
  z-index: 999;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease;
}

.modal-background {
  background-color: #343a40d7;
}

.card-body,
.modal-footer {
  padding-bottom: 5px;
  padding-top: 5px;
}

h5.card-title {
  padding-top: 20px;
}

.clic-on-icon,
.date-input,
input::-webkit-search-cancel-button,
input::-webkit-calendar-picker-indicator,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  cursor: pointer;
}
/* Estilos para las flechas de incremento y decremento en los inputs de tipo number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin-left: 10px;
}

input[type="search"]::-webkit-input-placeholder {
  font-size: 0.9em;
  color: #8f878781;
  padding: 0;
  transition: all 0.3s ease;
}

input[type="search"]:focus::-webkit-input-placeholder {
  font-size: 0.95em;
  transition: all 0.3s ease;
  color: #aaa;
  /* color: rgba(83, 18, 18, 0.425); */
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  margin-left: 0.4em;
  color: red;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='red'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  cursor: pointer;
  transition: opacity 0.3s; /* Agrega una transición de 0.3 segundos a la propiedad transform */
  opacity: 0.5;
}

input[type="search"]::-webkit-search-cancel-button:hover {
  opacity: 1;
}


input.no-submit {
  width: 100%;
  padding: 9px 4px 9px 30px;
  /* You can use your image but having cleaner code is better, so I suggest saving the file and just linking it*/
  /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z'/%3E%3C/svg%3E") ;*/
  background-image: url("assets/magnifying-glass.png");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.datalist-no-arrow::-webkit-calendar-picker-indicator {
  /* opacity: 0;
  display: none; */
  margin: 0;
  margin-right: -10px;
  padding: 0;
  padding-right: -20px;
  visibility: hidden;
  color: gray;
}

input::-webkit-input-placeholder {
  font-style: italic;
}

.italic-text {
  font-style: italic;
}

.options-card-body-text {
  font-size: 18px;
  display: block;
  padding: 10px 0;
}

.options-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

.product-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.final-div {
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .final-div {
    margin-bottom: 120px !important;
  }
}
