/* You can add global styles to this file, and also import other style files */
body,
html {
  /* height: 105%; */
  margin: 0;
  padding: 0;
  background: url(src/assets/bg-pattern.png), #7b4397;
  background: url(src/assets/bg-pattern.png),
    -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
  background: url(src/assets/bg-pattern.png),
    linear-gradient(to left, #a8e6ce, #6d9bcc);
  overflow: visible;
  transition: opacity 100ms;
  z-index: 1;
}

@media (min-width: 360px) and (max-width: 600px) {
  /* Estilos para pantallas de móvil */
  html {
    height: 100%;
    overflow: scroll;
  }
}

/* .no-scroll {
  height: 100%;
  overflow-y: hidden;
} */

body {
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.main-board {
  height: auto;
}

.main-board-style {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.85);
}

.header {
  background-color: #f0f0f0;
}

header {
  min-height: 80px;
}

.nav-link {
  position: relative;
  text-decoration: none; 
  display: inline-block;
  color: #000;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #007bff;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.nav-link:hover::before {
  transform: scaleX(1);
}

.dropdown-toggle::after {
  display: inline-block; 
  margin-left: 0.255em; 
  vertical-align: 0.255em; 
  content: ""; 
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

@media (max-width: 767px) {
  #navbarCollapse {
    position: inherit;
    /* top: 60px; */
    right: 0px;
    /* background-color: black; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 999;
    max-height: auto;
    overflow-y: auto;
    border-radius: 0 0 0 5px;
    transition: 0.3s ease;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #navbarCollapse {
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 999;
    max-height: calc(100vh - 40px);
    overflow-y: auto;
  }
}

#pie-pagina {
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.85);
}

.footer {
  background-color: #ecc68e;
  position: fixed;
  /* margin-top: 30px; */
  bottom: 0;
  /* left: 0; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  /* transition: height 0.3s ease; */
}

/* .footer:hover {
  height: 60px;
  cursor: pointer;
} */

.footer .lead {
  margin: 0;
}

.footer .contact-info {
  text-align: right;
}

.footer .contact-info p {
  margin: 0;
}

.footer .contact-info a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s color ease;
}

.footer .contact-info a:hover {
  color: rgb(65, 65, 63);
  transition: 0.3s color ease;
}

.card-height {
  min-height: 140px;
  max-height: 140px;
}

.underline {
  text-decoration: none;
}

.customShadow {
  /* box-shadow: 2px rgba(139, 138, 138, 0.8); */
  /* transform: scale(1); */
  border-radius: 10px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.customShadow:hover {
  /* color: rgb(109, 150, 184); */
  box-shadow: 5px 5px 5px rgb(56, 55, 55);
  transform: scale(1.05);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.bg-custom {
  background-color: rgb(242, 243, 206);
  transition: background-color 0.3 ease, transform 0.3s ease-in-out;
}

.bg-custom:hover {
  background-color: #cdffd7;
  transform: scale(1.05);
  cursor: pointer;
}

.front-panel-image {
  /* margin: 20px; */
  width: 120px;
  height: 90px;
}

.my-clic:hover {
  box-shadow: 2px 1px 1px darkgray;
  transform: scale(1.05);
}

.my-clic:active {
  transform: translateY(1px) tranlateZ(-1px) scale(0.9);
  transition: transform 0.2s;
  box-shadow: inset 2px 2px 2px darkgray;
  background-color: #7ef37e;
}

.clic-on-image:active {
  transform: scale(0.95);
  transition: transform 0.2s;
}

/* .clic-on-close:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
} */

/* .clic-on-close:active {
  transform: scale(0.95);
  transition: transform 0.2 ease-in-out;
} */

.clic-on-main-image {
  padding: 10px;
}

.clic-on-main-image:hover {
  transform: scale(1);
  transition: transform 0.2s;
}

.clic-on-main-image:active {
  transform: scale(0.95);
  transition: transform 0.2s;
  box-shadow: inset 3px 3px 3px darkgray;
  background-color: #b4f5b4;
}

.custom-image-shadow {
  border-radius: 10px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.my-title:hover {
  text-shadow: 2px 2px 2px darkgray;
}

.suggestions {
  position: absolute;
  z-index: 999;
  background-color: white;
  border: 1px solid rgb(33, 161, 161);
  border-radius: 3px;
  /* min-width: 350px; */
  width: 90%;
  box-shadow: 2px 2px 2px rgb(90, 125, 170);
  padding-left: 5px;
  min-height: auto;
  max-height: 100px;
  overflow-y: scroll;
}

.text-decoration-none {
  text-decoration: none;
}

.carousel-control {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
}

/* .row {
  margin-top: -5px;
} */

.carousel-control-prev,
.carousel-control-next {
  color: rgba(5, 5, 5, 0.5);
  width: 5%;
  height: 15px;
  margin-left: 5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 15px;
  height: 15px;
}

.add-button-container {
  position: absolute;
  bottom: -25px;
  border-radius: 30px;
  perspective: 1000px;
}

.roundButton {
  border-radius: 30px;
  color: rgb(218, 223, 191);
  transition: background-color 0.5 ease, transform 0.3s ease;
  background-color: rgb(242, 243, 206);
  transform-style: preserve-3d;
}

.roundButton:hover {
  transform: translateY(-2px) translateZ(2px);
}

.hidden-link {
  border-radius: 30px;
  color: rgb(218, 223, 191);
  transition: background-color 0.5 ease, transform 0.3s ease;
}

.hidden-link:hover {
  color: rgb(41, 38, 38);
  text-shadow: 3px 3px 5px rgb(41, 38, 38);
}

button {
  border: none;
  background-color: transparent;
}

/* .app-container {
  min-height: 110%;
} */

/* Efecto íconos */
.clic-on-icon:hover {
  transform: scale(1.3);
  transition: transform 0.3s ease-in-out;
}

.clic-on-icon:active {
  transform: scale(0.95);
  transition: transform 0.3s ease-in-out;
}

/* Botón scroll up */
.btn-floating {
  position: fixed;
  bottom: 15%;
  right: 5%;
  z-index: 999;
}

/* Ocultar íconos modificar/eliminar */
.product-name:hover + .product-icons,
.productname:focus + .product-icons {
  display: block;
}

.product-icons {
  display: none;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: height 0.3s, opacity 0.3s;
  margin-left: 5px;
}

.show-icons {
  display: block;
  opacity: 1;
  height: auto;
}

#reloj {
  margin: 0;
  /* margin-top: 30px; */
  padding: 0;
  /* font-family: sans-serif; */
  font-size: 2.5em;
  /* text-shadow: 0px 0px 1px #333; */
  /* color: #f8abab; */
  color: #fac2c2;
  min-height: 140px;
  max-height: 140px;
}

.reloj-contenedor {
  /* background-color: rgb(12, 119, 206); */
  /* padding: 0 25px 25px 0; */
  padding-top: 10px;
  padding-bottom: 10px;
  /* max-width: 350px; */
  text-align: center;
  border-radius: 10px;
  /* margin: 0 auto; */
  /* margin-top: 10%; */
  transition: border 300ms ease-out;
  /* border: rgb(12, 119, 206) 1px solid; */
  overflow: hidden;
  white-space: nowrap;
}

#fecha {
  letter-spacing: 5px;
  font-size: 15px;
  line-height: 1.5em;
}

.toast-container {
  position: fixed;
  top: 50px;
  right: 50px;
  width: 300px;
  z-index: 9999;
}

.toast {
  margin-bottom: 5px;
}

.toast-success {
  text-align: center;
  background-color: #dff0d8;
  color: #3c763d;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(0, 0, 0, 0.2);
}

.toast-error {
  text-align: center;
  background-color: #f2dede;
  color: #a94442;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(0, 0, 0, 0.2);
}

.toast-info {
  text-align: center;
  background-color: #d9edf7;
  color: #31708f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(0, 0, 0, 0.2);
}

.toast-warning {
  text-align: center;
  background-color: #fcf8e3;
  color: #8a6d3b;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(0, 0, 0, 0.2);
}

.table-row-even {
  background-color: #f2f2f2;
}

.table-row-odd {
  background-color: #ffffff;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.floating-label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s;
  opacity: 0.6;
  font-size: 14px;
  pointer-events: none;
}

.form-control {
  width: 100%;
  padding: 10px;
}

.floating-label.active {
  top: 0;
  left: -3px;
  transform: translate(0, -100%);
  font-size: 16px;
  opacity: 1;
}

.taxes-row {
  background-color: #f8e8e8;
}

.quantity-input {
  padding-right: 2rem; /* Ajusta el valor según tus necesidades */
}

.is-valid {
  box-shadow: 5px 5px 10px rgba(0, 255, 0, 0.2),
    -5px -5px -10px rgba(0, 255, 0, 0.2);
}

.is-invalid {
  box-shadow: 5px 5px 10px rgba(255, 0, 0, 0.5),
    -5px -5px -10px rgba(255, 0, 0, 0.5);
}

.custom-input {
  /* width: 50px; */
  text-align: center;
  border: none;
}

.product-detail-list-title {
  font-size: 14px;
}

.product-detail-table-content {
  font-size: 11px;
  padding: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 3px !important;
}

.date-input {
  cursor: pointer;
}

.svg {
  height: 100px;
  padding: 5px;
  object-fit: scale-down;
  position: absolute;
  right: 30px;
  bottom: 10px;
}

.total-invoice {
  color: red;
  font-weight: bold;
  font-size: 14px;
  font-family:monospace;
  /* letter-spacing: 0.9px; */
  /* text-shadow: 2px 2px 2px rgb(110, 88, 88); */
}

.total-box {
  width: 100%;
  max-width: 350px;
  background-color: rgb(208, 212, 212);
  padding-top: 10px;
  margin: 0.5% 1%;
  border-radius: 10px;
  border: 1px solid darkgray;
  box-shadow: 
    inset 0 0 10px rgba(0, 0, 0, 0.2),
    0 0 10px rgba(0, 0, 0, 0.1),
    0 0 20px rgba(0, 0, 0, 0.1),
    0 0 30px rgba(0, 0, 0, 0.1);
}

.total-box-titles {
  font-size: 1.05rem;
  /* text-shadow: 2px 2px 2px rgb(110, 88, 88); */
  text-align: center;
}

.modal-header, .product-list-header {
  background-color: #31708f;
  color: white;
}

.datalist-no-arrow::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
  visibility: hidden;
}

