<footer id="pie-pagina" class="text-black footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8 d-flex m-auto">
        <p class="lead"><b>Derechos de autor</b> &copy; Mario Quirós Pizarro</p>
      </div>
      <div class="col-md-4">
        <div class="contact-info d-none d-md-block">
          <p>
            <a href="mailto:mquirosp78@gmail.com" class="nav-link-active"
              >Contactar por correo&nbsp;<i class="fas fa-envelope"></i
            ></a>
          </p>
          <a
            href="https://wa.me/50686746041"
            target="_blank"
            class="nav-link-active"
            >Contactar por WhatsApp&nbsp;<i class="fab fa-whatsapp"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</footer>
